﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EmailQueue
@model DeleteEmailQueueModalViewModel
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("DeleteNewEmailQueue")))

<div class="modal-body">
    <div id="EmailQueueInformationsTab">
        <form name="EmailQueueInformationsForm" role="form" novalidate class="form-validation">
            <div class="form-group row">
                <label class="col-3 col-form-label" for="StartDate">@L("StartDate")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input date-picker" name="startDate"
                           type="text" value="@Model.StartDate" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label" for="EndDate">@L("EndDate")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input date-picker" name="endDate"
                           type="text" value="@Model.EndDate" />
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithDeleteAndCancel.cshtml")