﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EmailQueue
@model EmailQueueViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="EmailQueueInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Request") :</h6>
                @Model.EmailQueue.Request
            </div>
            <div class="col-6 mb-3">
                <h6>@L("FullName") :</h6>
                @Model.EmailQueue.FullName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("StartDate") :</h6>
                @Model.EmailQueue.StartDate?.ToString("MM/dd/yyyy")
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EndDate") :</h6>
                @Model.EmailQueue.EndDate?.ToString("MM/dd/yyyy")
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Recipient") :</h6>
                @Model.EmailQueue.Recipient
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Status") :</h6>
                @Model.EmailQueue.Status
            </div>
            <div class="col-6 mb-3">
                <h6>@L("StatusError") :</h6>
                @Model.EmailQueue.StatusError
            </div>
        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")