﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.EmailQueue
@using MMB.ePay.Web.Areas.App.Startup
@model EmailQueueViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Host.EmailQueue;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/EmailQueue/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("EmailQueue")">
        @if (IsGranted(AppPermissions.Pages_Administration_Host_EmailQueue))
        {
            <button id="DeleteNewEmailQueueButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("DeleteNewEmailQueue")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div id="AdvacedAuditFiltersArea" class="row mb-4">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="TenantFilterId">@L("Tenants")</label>
                            <select class="form-control border-dark" name="tenantFilter" id="TenantFilterId" asp-items="Model.TenantList"></select>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="EmailQueueTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("Request")</th>
                                <th>@L("FullName")</th>
                                <th>@L("StartDate")</th>
                                <th>@L("EndDate")</th>
                                <th>@L("Recipient")</th>
                                <th>@L("Status")</th>
                                <th>@L("StatusError")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>