﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LeaveRequests
@model CreateOrEditLeaveRequestsModalViewModel
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLeaveRequests")) : L("CreateNewLeaveRequests")))

<div class="modal-body">
    <div id="LeaveRequestsInformationsTab">
        <form name="LeaveRequestsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {<input type="hidden" name="id" value="@Model.LeaveRequests.Id" />}

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveRequests_LeaveTypeId">@L("LeaveTypeId")</label>
                <div class="col-9">
                    <select asp-for="LeaveRequests.LeaveTypeId" class="form-control border-dark" id="LeaveRequests_LeaveTypeId"
                            asp-items="Model.LeaveTypeList" name="leaveTypeId"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="checkbox-list col-9">
                    <label for="LeaveRequests_HalfDay" class="checkbox">
                        <input asp-for="LeaveRequests.HalfDay" type="checkbox" name="halfDay" value="true" />
                        <span></span>
                        @L("HalfDay")
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="checkbox-list col-9">
                    <label id="lblFirstHalf" for="LeaveRequests_FirstHalf" class="checkbox checkbox-disabled">
                        <input disabled="disabled" asp-for="LeaveRequests.FirstHalf" type="checkbox" name="firstHalf" value="true" />
                        <span></span>
                        @L("FirstHalf")
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveRequests_StartDate">@L("StartDate")</label>
                <div class="col-9">
                    <input class="form-control m-input date-picker border-dark" id="LeaveRequests_StartDate" required
                           type="text" name="startDate" value="@Model.LeaveRequests.StartDate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveRequests_EndDate">@L("EndDate")</label>
                <div class="col-9">
                    <input class="form-control m-input date-picker border-dark" id="LeaveRequests_EndDate"
                           type="text" name="endDate" value="@Model.LeaveRequests.EndDate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveRequests_LeaveReasonId">@L("LeaveReasonId")</label>
                <div class="col-9">
                    <select asp-for="LeaveRequests.LeaveReasonId" class="form-control border-dark" id="LeaveRequests_LeaveReasonId"
                            asp-items="Model.LeaveReasonList" name="leaveReasonId"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveRequests_Remarks">@L("Remarks")</label>
                <div class="col-9">
                    <input class="form-control border-dark" id="LeaveRequests_Remarks" 
                           value="@Model.LeaveRequests.Remarks" type="text" name="remarks" required
                           maxlength="@MMB.ePay.Timekeeping.LeaveRequestsConsts.MaxRemarksLength"
                           minlength="@MMB.ePay.Timekeeping.LeaveRequestsConsts.MinRemarksLength" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")