﻿@using MMB.ePay
@using MMB.ePay.Web.Areas.App.Models.Layout
@model FooterViewModel
@{
    Layout = null;
}
<div class="footer py-2 py-lg-0 my-5 d-flex flex-lg-column " id="kt_footer">
    <div class="@(await GetContainerClass()) d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted font-weight-bold mr-2">
                @Model.GetProductNameWithEdition() | v@(AppVersionHelper.Version) [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
            </span>
            <div class="nav nav-dark order-1 order-md-2">
            </div>
        </div>
    </div>
</div>
