﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Startup
@using MMB.ePay.Web.Areas.App.Models.Encryption
@model EncryptionViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Host.Encryption;
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("Encryption")">
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b col-md-6">
            <form asp-area="App" asp-action="Encrypt">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-4 col-form-label">@L("Encrypt")</div>
                        <div class="col-8">
                            <input class="form-control border-dark" required asp-for="EncryptionInput" type="text" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 col-form-label">@L("Output")</div>
                        <div class="col-8 col-form-label">
                            @Model.EncryptionOutput
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary save-button"><i class="fa fa-save"></i> <span>@L("Encrypt")</span></button>
                </div>
            </form>
        </div>
        <div class="card card-custom gutter-b col-md-6">
            <form asp-area="App" asp-action="Decrypt">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-4 col-form-label">@L("Decrypt")</div>
                        <div class="col-8">
                            <input class="form-control border-dark" required asp-for="DecryptionInput" type="text" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4 col-form-label">@L("Output")</div>
                        <div class="col-8 col-form-label">
                            @Model.DecryptionOutput
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary save-button"><i class="fa fa-save"></i> <span>@L("Decrypt")</span></button>
                </div>
            </form>
        </div>

    </div>
</div>