﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ApproverOrders
@model CreateOrEditApproverOrdersModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditApproverOrders")) : L("CreateNewApproverOrders")))

<div class="modal-body">
    <div id="ApproverOrdersInformationsTab">
        <form name="ApproverOrdersInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode) { <input type="hidden" name="id" value="@Model.ApproverOrders.Id" /> }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ApproverOrders_DisplayName">@L("DisplayName")</label>
                <div class="col-9">
                    <input class="form-control border-dark" id="ApproverOrders_DisplayName" value="@Model.ApproverOrders.DisplayName" type="text" name="displayName" required maxlength="@MMB.ePay.Timekeeping.ApproverOrdersConsts.MaxDisplayNameLength" minlength="@MMB.ePay.Timekeeping.ApproverOrdersConsts.MinDisplayNameLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ApproverOrders_Level">@L("Level")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input" id="ApproverOrders_Level" value="@Model.ApproverOrders.Level?.ToString(CultureInfo.InvariantCulture)" type="number" name="level" required />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="checkbox-list col-9">
                    <label for="ApproverOrders_IsBackup" class="checkbox">
                        <input class="form-control border-dark" id="ApproverOrders_IsBackup" type="checkbox" name="isBackup" value="true"
                               @Html.Raw(Model.ApproverOrders.IsBackup ? "checked=\"checked\"" : "") />
                        <span></span>
                        @L("Backup")
                    </label>
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")