﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ApproverOrders
@model ApproverOrdersViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ApproverOrdersInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("OrderNo") :</h6>
                @Model.ApproverOrders.OrderNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DisplayName") :</h6>
                @Model.ApproverOrders.DisplayName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Level") :</h6>
                @Model.ApproverOrders.Level
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsBackup") :</h6>
                @Model.ApproverOrders.IsBackup
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")