﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.ApproverOrders
@using MMB.ePay.Web.Areas.App.Startup
@model ApproverOrdersViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Tenant.ApproverOrders; }
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/ApproverOrders/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("ApproverOrders")">

        @if (IsGranted(AppPermissions.Pages_ApproverOrders_Create))
        {
<button id="CreateNewApproverOrdersButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewApproverOrders")</button>}
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <table id="ApproverOrdersTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("DisplayName")</th>
                                <th>@L("Level")</th>
                                <th>@L("Backup")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>