﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OfficialBusinessApprovals
@model CreateOrEditOfficialBusinessApprovalsModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditOfficialBusinessApprovals")) : L("CreateNewOfficialBusinessApprovals")))

<div class="modal-body">
    <div id="OfficialBusinessApprovalsInformationsTab">
        <form name="OfficialBusinessApprovalsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.OfficialBusinessApprovals.Id" />
            }

            <div class="form-group">
                <label for="OfficialBusinessApprovals_ActedBy">@L("ActedBy")</label>
                <input class="form-control border-dark m-input" id="OfficialBusinessApprovals_ActedBy" value="@Model.OfficialBusinessApprovals.ActedBy.ToString(CultureInfo.InvariantCulture)" type="number" name="actedBy" />
            </div>

            <div class="form-group">
                <label for="OfficialBusinessApprovals_Remarks">@L("Remarks")</label>
                <input class="form-control border-dark" id="OfficialBusinessApprovals_Remarks" value="@Model.OfficialBusinessApprovals.Remarks" type="text" name="remarks" required maxlength="@MMB.ePay.Timekeeping.OfficialBusinessApprovalsConsts.MaxRemarksLength" minlength="@MMB.ePay.Timekeeping.OfficialBusinessApprovalsConsts.MinRemarksLength" />
            </div>

            <div class="form-group">
                <label for="OfficialBusinessApprovals_OfficialBusinessRequestId">@L("OfficialBusinessRequestId")</label>
                <input class="form-control border-dark m-input" id="OfficialBusinessApprovals_OfficialBusinessRequestId" value="@Model.OfficialBusinessApprovals.OfficialBusinessRequestId.ToString(CultureInfo.InvariantCulture)" type="number" name="officialBusinessRequestId" />
            </div>

            <div class="form-group">
                <label for="OfficialBusinessApprovals_StatusId">@L("StatusId")</label>
                <input class="form-control border-dark m-input" id="OfficialBusinessApprovals_StatusId" value="@Model.OfficialBusinessApprovals.StatusId.ToString(CultureInfo.InvariantCulture)" type="number" name="statusId" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")