﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OfficialBusinessApprovals
@model OfficialBusinessApprovalsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

@{ var startHour = Model.OfficialBusinessDetails.StartDate?.Hour;
                var startMin = Model.OfficialBusinessDetails.StartDate?.Minute;
                var endHour = Model.OfficialBusinessDetails.EndDate?.Hour;
                var endMin = Model.OfficialBusinessDetails.EndDate?.Minute; }

<input type="hidden" name="id" value="@Model.OfficialBusinessDetails.Id" />

<div class="modal-body">
    <div id="OfficialBusinessApprovalsInformationsTab">
        <div class="form-group row">
            <h6 class="col-4 col-form-label">@L("Employee") :</h6>
            <div class="col-8 col-form-label">
                @Model.OfficialBusinessDetails.Employee
            </div>
            <h6 class="col-4 col-form-label">@L("StartDate") :</h6>
            @if (startHour == 0 && startMin == 0)
            {
                <div class="col-8 col-form-label">
                    @Model.OfficialBusinessDetails.StartDate?.ToString("MM/dd/yyyy")
                </div> 
            }
            else
            {
                <div class="col-8 col-form-label">
                    @Model.OfficialBusinessDetails.StartDate?.ToString("MM/dd/yyyy hh:mm tt")
                </div>
            }
                <h6 class="col-4 col-form-label">@L("EndDate") :</h6>
                @if (endHour == 0 && endMin == 0)
            {
                <div class="col-8 col-form-label">
                    @Model.OfficialBusinessDetails.EndDate?.ToString("MM/dd/yyyy")
                </div> 
            }
            else
            {
                <div class="col-8 col-form-label">
                    @Model.OfficialBusinessDetails.EndDate?.ToString("MM/dd/yyyy hh:mm tt")
                </div>
            }
            <h6 class="col-4 col-form-label">@L("ActualDates") :</h6>
            <div class="col-8 col-form-label">
                @Model.OfficialBusinessDetails.ActualDates
            </div>
            <h6 class="col-4 col-form-label">@L("Reason") :</h6>
            <div class="col-8 col-form-label">
                @Model.OfficialBusinessDetails.Reason
            </div>
            <h6 class="col-4 col-form-label">@L("Remarks") :</h6>
            <div class="col-8 col-form-label">
                @Model.OfficialBusinessDetails.Remarks
            </div>
            <h6 class="col-4 col-form-label">@L("DateFiled") :</h6>
            <div class="col-8 col-form-label">
                @Model.OfficialBusinessDetails.DateFiled.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-4 col-form-label">@L("Status") :</h6>
            <div class="col-8 col-form-label">
                @Model.OfficialBusinessDetails.Status
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold close-button" data-dismiss="modal">@L("Close")</button>
    @foreach (var status in Model.OfficialBusinessDetails.StatusList)
    {

        if (status.Text == "For Update" || status.Text == "Decline")
        {
            <button type="button" data-id="@status.Value" data-status="@status.Text"
                    class="btn btn-primary remarks_button">
                @status.Text
                </button> }
                                else
                                {
                                    <button type="button" data-id="@status.Value"
                                            class="btn btn-primary status_button">
                                        @status.Text
                                        </button>}
                                                    }
</div>