﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OvertimeTypes
@model CreateOrEditOvertimeTypesModalViewModel
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditOvertimeTypes")) : L("CreateNewOvertimeTypes")))

<div class="modal-body">
    <div id="OvertimeTypesInformationsTab">
        <form name="OvertimeTypesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.OvertimeTypes.Id" />
                <input type="hidden" name="shortName" value="@Model.OvertimeTypes.ShortName" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="OvertimeTypes_Description">@L("OvertimeType")</label>
                    <div class="col-9">
                        <input class="form-control" value="@Model.OvertimeTypes.Description" disabled />
                    </div>
                </div> 
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="OvertimeTypes_Description">@L("OvertimeType")</label>
                    <div class="col-9">
                        <input class="form-control" id="OvertimeTypes_Description"
                                value="@Model.OvertimeTypes.Description" type="text" name="description" required
                                maxlength="@MMB.ePay.Timekeeping.OvertimeTypesConsts.MaxDescriptionLength"
                                minlength="@MMB.ePay.Timekeeping.OvertimeTypesConsts.MinDescriptionLength" />
                    </div>
                </div>  
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OvertimeTypes_ShortName">@L("ShortName")</label>
                <div class="col-9">
                    <input class="form-control" id="OvertimeTypes_ShortName"
                           value="@Model.OvertimeTypes.ShortName" type="text" name="shortName" required
                           maxlength="@MMB.ePay.Timekeeping.OvertimeTypesConsts.MaxShortNameLength"
                           minlength="@MMB.ePay.Timekeeping.OvertimeTypesConsts.MinShortNameLength" />
                </div>
            </div>

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="subType" value="@Model.OvertimeTypes.SubType" />
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="OvertimeTypes_SubType">@L("SubType")</label>
                    <div class="col-9">
                        <select asp-for="OvertimeTypes.SubType" class="form-control" id="OvertimeTypes_SubType"
                                asp-items="Model.SubTypeList" name="subType"></select>
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OvertimeTypes_OTCode">@L("OTCode")</label>
                <div class="col-9">
                    @if (Model.OvertimeTypeOTCodeList.Count > 1)
                    {
                        <select asp-for="OvertimeTypes.OTCode" class="form-control" id="OvertimeTypes_OTCode"
                                asp-items="Model.OvertimeTypeOTCodeList" name="otCode"></select>
                    }
                    else
                    {
                        <span class="col-9 col-form-label form-text text-danger">@L("NoAvailableOTCodes")</span>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")