﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OvertimeTypes
@model OvertimeTypesViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="OvertimeTypesInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("DisplayName") :</h6>
                @Model.OvertimeTypes.ShortName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.OvertimeTypes.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("OTCode") :</h6>
                @Model.OvertimeTypes.OTCode
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DisplayFormat") :</h6>
                @Model.OvertimeTypes.DisplayFormat
            </div>
            @*<div class="col-6 mb-3">
                <h6>@L("EarlyLogin") :</h6>
                @Model.OvertimeTypes.EarlyLogin
            </div>*@
        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")