﻿@using MMB.ePay.Web.Areas.App.Models.Announcement
@using MMB.ePay.Web.Areas.App.Startup
@model AnnouncementViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Tenant.Announcement;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/Announcement/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("Announcements")"></abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur 
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
                    est laborum.
                </div>
            </div>
        </div>
    </div>
</div>