﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ShiftRequests
@model CreateOrEditShiftRequestsModalViewModel
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditShiftRequests")) : L("CreateNewShiftRequests")))

<div class="modal-body">
    <div id="ShiftRequestsInformationsTab">
        <form name="ShiftRequestsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {<input type="hidden" name="id" value="@Model.ShiftRequests.Id" />}

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftRequests_ShiftTypeId">@L("ShiftTypeId")</label>
                <div class="col-9">
                    <select asp-for="ShiftRequests.ShiftTypeId" class="form-control  border-dark" id="ShiftRequests_ShiftTypeId"
                            asp-items="Model.ShiftTypeList" name="shiftTypeId"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftRequests_ShiftStart">@L("ShiftStart")</label>
                <div class="col-9">
                    <input class="form-control  border-dark m-input date-picker" id="ShiftRequests_ShiftStart" required
                           type="text" name="shiftStart" value="@Model.ShiftRequests.ShiftStart" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftRequests_ShiftEnd">@L("ShiftEnd")</label>
                <div class="col-9">
                    <input class="form-control  border-dark m-input date-picker" id="ShiftRequests_ShiftEnd" required
                           type="text" name="shiftEnd" value="@Model.ShiftRequests.ShiftEnd" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftRequests_ShiftReasonId">@L("ShiftReasonId")</label>
                <div class="col-9">
                    <select asp-for="ShiftRequests.ShiftReasonId" class="form-control  border-dark" id="ShiftRequests_ShiftReasonId"
                            asp-items="Model.ShiftReasonList" name="shiftReasonId"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftRequests_Remarks">@L("Remarks")</label>
                <div class="col-9">
                    <input class="form-control  border-dark" id="ShiftRequests_Remarks" 
                           value="@Model.ShiftRequests.Remarks" type="text" name="remarks" required
                           maxlength="@MMB.ePay.Timekeeping.ShiftRequestsConsts.MaxRemarksLength"
                           minlength="@MMB.ePay.Timekeeping.ShiftRequestsConsts.MinRemarksLength" />
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")