﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ShiftRequests
@model ShiftRequestsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<input type="hidden" name="id" value="@Model.ShiftDetails.Id" />

<div class="modal-body">
    <div id="ShiftRequestsInformationsTab">

        <div class="form-group row">
            <h6 class="col-4 col-form-label">@L("Employee") :</h6>
            <div class="col-8 col-form-label">
                @Model.ShiftDetails.Employee
            </div>
            <h6 class="col-4 col-form-label">@L("ShiftType") :</h6>
            <div class="col-8 col-form-label">
                @Model.ShiftDetails.ShiftType
            </div>
            <h6 class="col-4 col-form-label">@L("StartDate") :</h6>
            <div class="col-8 col-form-label">
                @Model.ShiftDetails.StartDate?.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-4 col-form-label">@L("EndDate") :</h6>
            <div class="col-8 col-form-label">
                @Model.ShiftDetails.EndDate?.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-4 col-form-label">@L("Reason") :</h6>
            <div class="col-8 col-form-label">
                @Model.ShiftDetails.Reason
            </div>
            <h6 class="col-4 col-form-label">@L("Remarks") :</h6>
            <div class="col-8 col-form-label">
                @Model.ShiftDetails.Remarks
            </div>
            <h6 class="col-4 col-form-label">@L("DateFiled") :</h6>
            <div class="col-8 col-form-label">
                @Model.ShiftDetails.DateFiled.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-4 col-form-label">@L("Status") :</h6>
            <div class="col-8 col-form-label">
                @Model.ShiftDetails.Status
            </div>
        </div>

        @if (Model.ShiftDetails.StatusList.Select(e => e.Text).Any(e => e == "For Update" || e == "Decline"))
        {
            <div class="form-group row">
                <div class="col-12 mb-3">
                    <h6 class="col-4 col-form-label">@L("ApprovalRemarks") :</h6>
                    <div class="col-12">
                        <textarea class="form-control border-dark" id="ShiftRequests_Reason" name="reason" rows="3" required
                                  maxlength="@MMB.ePay.Timekeeping.ShiftRequestsConsts.MaxRemarksLength"
                                  minlength="@MMB.ePay.Timekeeping.ShiftRequestsConsts.MinRemarksLength" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold close-button" data-dismiss="modal">@L("Close")</button>
    @foreach (var status in Model.ShiftDetails.StatusList)
    {
        if (status.Text == "For Update" || status.Text == "Decline" || status.Text == "Cancel Request")
        {
            <button type="button" data-id="@status.Value" data-status="@status.Text"
                    class="btn btn-primary remarks_button">
                @status.Text
            </button>
        }
        else
        {
            <button type="button" data-id="@status.Value"
                    class="btn btn-primary status_button">
                @status.Text
            </button>
        }
    }
</div>