﻿html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-size: 10px;
    font-family: 'Arial';
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

table {
    width: 100%;
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    font-size: 10px;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

.table-header td {
    text-align: center;
    /*height: 100px;*/
}

ul {
    list-style-type: none;
    text-align: right;
}

/*.report-header {
    text-align: center;
    width: 100%;
    font-weight: bold;
}*/

.table {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.row {
    width: 100%;
    table-layout: fixed;
    display: table-row;
}

.cell {
    width: 100%;
    table-layout: fixed;
    display: table-cell;
}

.cell-padding {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.cell-border {
    width: 100%;
    border: 1px solid black;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.caption {
    caption-side: top;
    display: table-caption;
    text-align: center;
}

.center {
    margin: auto;
}

/*
.wrapper {
    max-width: 30%;
    margin: 0 auto;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: left;
}*/
