﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OfficialBusinessRequestDetails
@model CreateOrEditOfficialBusinessRequestDetailsModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditOfficialBusinessRequestDetails")) : L("CreateNewOfficialBusinessRequestDetails")))

<div class="modal-body">
    <div id="OfficialBusinessRequestDetailsInformationsTab">
        <form name="OfficialBusinessRequestDetailsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.OfficialBusinessRequestDetails.Id" />
            }

            <div class="form-group">
                <label for="OfficialBusinessRequestDetails_OfficialBusinessDate">@L("OfficialBusinessDate")</label>
                <input class="form-control m-input date-picker" id="OfficialBusinessRequestDetails_OfficialBusinessDate" type="text" name="officialBusinessDate" value="@Model.OfficialBusinessRequestDetails.OfficialBusinessDate" />
            </div>

            <div class="form-group">
                <label for="OfficialBusinessRequestDetails_Days">@L("Days")</label>
                <input class="form-control m-input" id="OfficialBusinessRequestDetails_Days" value="@Model.OfficialBusinessRequestDetails.Days.ToString(CultureInfo.InvariantCulture)" type="number" name="days" />
            </div>

            <div class="form-group">
                <label for="OfficialBusinessRequestDetails_OfficialBusinessRequestId">@L("OfficialBusinessRequestId")</label>
                <input class="form-control m-input" id="OfficialBusinessRequestDetails_OfficialBusinessRequestId" value="@Model.OfficialBusinessRequestDetails.OfficialBusinessRequestId.ToString(CultureInfo.InvariantCulture)" type="number" name="officialBusinessRequestId" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")