﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OfficialBusinessRequestDetails
@model OfficialBusinessRequestDetailsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="OfficialBusinessRequestDetailsInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("OfficialBusinessDate") :</h6>
                @Model.OfficialBusinessRequestDetails.OfficialBusinessDate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("OfficialBusinessRequestId") :</h6>
                @Model.OfficialBusinessRequestDetails.OfficialBusinessRequestId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")