﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.OfficialBusinessRequestDetails
@using MMB.ePay.Web.Areas.App.Startup
@model OfficialBusinessRequestDetailsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Tenant.OfficialBusinessRequestDetails;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/OfficialBusinessRequestDetails/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("OfficialBusinessRequestDetails")" description="@L(" OfficialBusinessRequestDetailsHeaderInfo")">

        @if (IsGranted(AppPermissions.Pages_OfficialBusinessRequestDetails_Create))
        {
        <button id="CreateNewOfficialBusinessRequestDetailsButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewOfficialBusinessRequestDetails")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="OfficialBusinessRequestDetailsTableFilter" class="form-control m-input" placeholder="@L(" SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetOfficialBusinessRequestDetailsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinOfficialBusinessDateFilterId">@L("OfficialBusinessDateRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MinOfficialBusinessDateFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MaxOfficialBusinessDateFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinDaysFilterId">@L("MinMax") @L("Days")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minDaysFilter" id="MinDaysFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxDaysFilter" id="MaxDaysFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinOfficialBusinessRequestIdFilterId">@L("MinMax") @L("OfficialBusinessRequestId")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minOfficialBusinessRequestIdFilter" id="MinOfficialBusinessRequestIdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxOfficialBusinessRequestIdFilter" id="MaxOfficialBusinessRequestIdFilterId" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="OfficialBusinessRequestDetailsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("OfficialBusinessDate")</th>
                                <th>@L("Days")</th>
                                <th>@L("OfficialBusinessRequestId")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>