﻿
@model MMB.ePay.Timekeeping.Dtos.GetReportsForActiveEmployees

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
</head>
<body>
    <table class='table striped invoice-box'>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ActiveEmployees.First().EmployeeId)</th>
                <th>@Html.DisplayNameFor(model => model.ActiveEmployees.First().EmployeeName)</th>
                <th>@Html.DisplayNameFor(model => model.ActiveEmployees.First().DateEmployed)</th>
                <th>@Html.DisplayNameFor(model => model.ActiveEmployees.First().DateTerminated)</th>
                <th>@Html.DisplayNameFor(model => model.ActiveEmployees.First().EmployeeStatus)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ActiveEmployees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @item.DateEmployed?.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @item.DateTerminated?.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeStatus)
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4">
                    Total:
                </td>
                <td>
                    @Model.ActiveEmployees.Count
                </td>
            </tr>
        </tbody>
    </table>
    <div style='page-break-after: always;'>
    </div>
</body>
</html>
