﻿
@model MMB.ePay.Timekeeping.Dtos.GetReportsForAttendanceSummaryPayroll
@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
</head>
<body>
    <table class='table striped invoice-box'>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().TenantId)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().EmployeeId)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().LastName)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().Paycode)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().Department)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().RegDays)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().RegHrs)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().AbsDays)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().AbsHrs)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().TardyHrs)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().UTHrs)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().ND1Hrs)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().ND2Hrs)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().SLDays)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().VLDays)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummaryPayroll.First().PaidHoliday)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AttendanceSummaryPayroll)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenantId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paycode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegDays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegHrs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AbsDays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AbsHrs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TardyHrs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UTHrs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ND1Hrs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ND2Hrs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SLDays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VLDays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaidHoliday)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style='page-break-after: always;'>
    </div>
</body>
</html>
