﻿
@model MMB.ePay.Timekeeping.Dtos.GetReportsForAttendanceSummary

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
</head>
<body>
    <table class='table striped invoice-box'>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummary.First().EmployeeId)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummary.First().EmployeeName)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummary.First().RegDays)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummary.First().RegNd1Mins)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummary.First().RegNd2Mins)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummary.First().UTMins)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummary.First().TardyMins)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummary.First().PaidHoliday)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceSummary.First().Absence)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AttendanceSummary)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegDays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegNd1Mins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegNd2Mins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UTMins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TardyMins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaidHoliday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Absence)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style='page-break-after: always;'>
    </div>
</body>
</html>
