﻿
@model MMB.ePay.Timekeeping.Dtos.GetReportsForAttendanceSummary

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
</head>
<body>
    <table class='table striped invoice-box'>
        <tbody>

            @foreach (var item in Model.AttendanceSummary)
            {
                <tr>
                    <td>@Html.DisplayNameFor(modelItem => item.EmployeeId)</td>
                    <td>@Html.DisplayFor(modelItem => item.EmployeeId)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(modelItem => item.EmployeeName)</td>
                    <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                </tr>

                <tr>
                    <td>@Html.DisplayNameFor(modelItem => item.RegDays)</td>
                    <td>@Html.DisplayFor(modelItem => item.RegDays)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(modelItem => item.RegNd1Mins)</td>
                    <td>@Html.DisplayFor(modelItem => item.RegNd1Mins)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(modelItem => item.RegNd2Mins)</td>
                    <td>@Html.DisplayFor(modelItem => item.RegNd2Mins)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(modelItem => item.UTMins)</td>
                    <td>@Html.DisplayFor(modelItem => item.UTMins)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(modelItem => item.TardyMins)</td>
                    <td>@Html.DisplayFor(modelItem => item.TardyMins)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(modelItem => item.PaidHoliday)</td>
                    <td>@Html.DisplayFor(modelItem => item.PaidHoliday)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(modelItem => item.Absence)</td>
                    <td>@Html.DisplayFor(modelItem => item.Absence)</td>
                </tr>
            }
        </tbody>
    </table>
    <div style='page-break-after: always;'>
    </div>
</body>
</html>
