﻿
@model MMB.ePay.Timekeeping.Dtos.GetReportsForAttendanceWithBreaks

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
</head>
<body>
    <table class='table striped invoice-box'>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AttendanceWithBreaks.First().EmployeeId)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceWithBreaks.First().EmployeeName)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceWithBreaks.First().Date)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceWithBreaks.First().TimeIn)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceWithBreaks.First().BreaktimeIn)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceWithBreaks.First().BreaktimeOut)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceWithBreaks.First().PMBreaktimeIn)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceWithBreaks.First().PMBreaktimeOut)</th>
                <th>@Html.DisplayNameFor(model => model.AttendanceWithBreaks.First().TimeOut)</th>
            </tr>
        </thead>
        <tbody style="font-size: 12px !important;">
            @foreach (var item in Model.AttendanceWithBreaks)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @item.TimeIn?.ToString("hh:mm tt")
                </td>
                <td>
                    @item.BreaktimeIn?.ToString("hh:mm tt")
                </td>
                <td>
                    @item.BreaktimeOut?.ToString("hh:mm tt")
                </td>
                <td>
                    @item.PMBreaktimeIn?.ToString("hh:mm tt")
                </td>
                <td>
                    @item.PMBreaktimeOut?.ToString("hh:mm tt")
                </td>
                <td>
                    @item.TimeOut?.ToString("hh:mm tt")
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div style='page-break-after: always;'>
    </div>
</body>
</html>
