﻿
@model MMB.ePay.Timekeeping.Dtos.GetReportsForDailyAttendance

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
</head>
<body>
    <table class='table striped invoice-box'>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.DailyAttendance.First().EmployeeId)</th>
                <th>@Html.DisplayNameFor(model => model.DailyAttendance.First().EmployeeName)</th>
                <th>@Html.DisplayNameFor(model => model.DailyAttendance.First().Date)</th>
                <th>@Html.DisplayNameFor(model => model.DailyAttendance.First().TimeIn)</th>
                <th>@Html.DisplayNameFor(model => model.DailyAttendance.First().TimeOut)</th>
                <th>@Html.DisplayNameFor(model => model.DailyAttendance.First().UTMins)</th>
                <th>@Html.DisplayNameFor(model => model.DailyAttendance.First().TardyMins)</th>
                <th>@Html.DisplayNameFor(model => model.DailyAttendance.First().LeaveDays)</th>
                <th>@Html.DisplayNameFor(model => model.DailyAttendance.First().Absence)</th>
            </tr>
        </thead>
        <tbody style="font-size: 12px !important;">
            @foreach (var item in Model.DailyAttendance)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @item.TimeIn?.ToString("hh:mm tt")
                    </td>
                    <td>
                        @item.TimeOut?.ToString("hh:mm tt")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UTMins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TardyMins)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveDays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Absence)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style='page-break-after: always;'>
    </div>
</body>
</html>
