﻿@model MMB.ePay.Timekeeping.Dtos.ReportHeaderDto

<div style='text-align:center; font-size: 8px; width:100%'>
    <div style="font-size: 10px">
        @*<b>@Html.DisplayFor(modelItem => Model.HeaderName)</b>*@
        <b>@Html.DisplayFor(modelItem => Model.ReportName)</b>
    </div>
    <div style="margin-top: 5px;">
        @Html.DisplayFor(modelItem => Model.Period)
    </div>
    @if (Model.Rank != null || Model.Rank != string.Empty)
    {
        <div style="margin-top: 3px;">
            @Html.DisplayFor(modelItem => Model.Rank)
        </div>
    }
    @*Page number <span class="pageNumber"></span>&nbsp;of&nbsp;<span class="totalPages"></span>*@
</div>

