﻿@using MMB.ePay.Web.Areas.App.Models.Reports
@using MMB.ePay.Web.Areas.App.Startup
@using MMB.ePay.Web.TagHelpers
@model ReportsViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Tenant.Reports; }
@section scripts
{
    <script src="/view-resources/Areas/App/Views/Reports/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">
    <abp-page-subheader title="@(L("Reports"))"></abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b col-md-8">
            <form asp-action="Index" name="ReportsInformationsForm" role="form" novalidate class="form-validation">
                <div class="card-body">
                    <div class="form">
                        <div id="ReportsInformationsTab">
                            <div class="form-group row">
                                <label class="col-3 col-form-label" for="Reports_ReportType">@L("ReportType")</label>
                                <select id="Reports_ReportTypeId" class="col-9 form-control border-dark" asp-for="Reports.ReportId" asp-items="Model.Reports.ReportList"></select>
                            </div>

                            <div class="form-group row">
                                <label class="col-3 col-form-label" for="Reports_Rank">@L("Rank")</label>
                                <select class="col-9 form-control border-dark" id="Reports_Rank" asp-for="Reports.Rank" asp-items="Model.Reports.RankList"></select>
                            </div>

                            <div id="divEmployee" style="display:none;">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="OrganizationUnitId1">@Model.Reports.OrgUnitLevel1Name</label>
                                    <select class="col-9 form-control border-dark" id="Reports_OrganizationUnitId1" asp-for="Reports.OrganizationUnitId1" asp-items="Model.Reports.OrganizationUnitList"></select>
                                </div>

                                <div id="divGroup2" class="form-group row" style="display:none;">
                                    <label class="col-3 col-form-label" for="OrganizationUnitId2">@Model.Reports.OrgUnitLevel2Name</label>
                                    <select class="col-9 form-control border-dark" id="Reports_OrganizationUnitId2" asp-for="Reports.OrganizationUnitId2"></select>
                                </div>

                                <div id="divGroup3" class="form-group row" style="display:none;">
                                    <label class="col-3 col-form-label" for="OrganizationUnitId3">@Model.Reports.OrgUnitLevel3Name</label>
                                    <select class="col-9 form-control border-dark" id="Reports_OrganizationUnitId3" asp-for="Reports.OrganizationUnitId3"></select>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="Reports_Employee">@L("Employee")</label>
                                    <input id="EmployeeList" class="col-9 form-control border-dark" type="text" />
                                    <input type="hidden" asp-for="Reports.EmployeeId" />
                                </div>
                            </div>

                            <div id="divPeriod" style="display:none;">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="YearFilterId">@L("Year")</label>
                                    <select id="YearFilterId" class="col-9 form-control border-dark" asp-items="Model.Reports.YearList"></select>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="CoveringPeriodFilterId">@L("CoveringPeriod")</label>
                                    <select id="CoveringPeriodFilterId" class="col-9 form-control border-dark" asp-items="Model.Reports.CoveringPeriodList"></select>
                                </div>

                                <div id="divPeriodic">
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Reports_PostFilterId">@L("Status")</label>
                                        <select id="Reports_PostFilterId" asp-for="Reports.PostFilterId" class="col-9 form-control border-dark" asp-items="Model.Reports.PostList"></select>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="FrequencyFilterId">@L("Frequency")</label>
                                        <select id="FrequencyFilterId" asp-for="Reports.FrequencyFilterId" class="col-9 form-control border-dark" asp-items="Model.Reports.FrequencyList"></select>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Reports_AttendancePeriod">@L("AttendancePeriod")</label>
                                        <select id="AttendancePeriodId" class="col-9 form-control border-dark" asp-for="Reports.AttendancePeriodId" asp-items="Model.Reports.AttendancePeriodList"></select>
                                    </div>
                                </div>

                                <div id="divMonthly" style="display:none;">
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="MonthFilterId">@L("Month")</label>
                                        <select id="MonthFilterId" class="col-9 form-control border-dark" asp-items="Model.Reports.MonthList"></select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-3 col-form-label" for="Reports_DateRange">@L("DateRange")</label>
                                    <div class="col-9 input-group">
                                        <input class="form-control border-dark m-input date-picker" asp-for="Reports.MinDate" type="text" required placeholder="@L(" MinValue")" id="MinDateFilterId">
                                        <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control border-dark m-input date-picker" asp-for="Reports.MaxDate" type="text" required placeholder="@L(" MaxValue")" id="MaxDateFilterId">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" id="divOutput" style="display:none;">
                                <label class="col-3 col-form-label" for="Reports_Output">@L("Output")</label>
                                <div class="col-9">
                                    <div class="radio-inline">
                                        <label class="radio ">
                                            <input asp-for="Reports.Output" class="col-9 form-control border-dark" type="radio" value="E" id="Excel" />
                                            <span></span>
                                            Excel
                                        </label>
                                        <label class="radio radio">
                                            <input asp-for="Reports.Output" class="col-9 form-control border-dark" type="radio" value="P" id="Pdf" />
                                            <span></span>
                                            PDF
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <button type="submit" formtarget="_blank" class="btn btn-success float-right" id="btnGenerate" disabled><i class="fa fa-save"></i> @L("Generate")</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>