﻿
@model MMB.ePay.Timekeeping.Dtos.GetReportsForLeaveSummaryPayroll

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
</head>
<body>
    <table class='table striped invoice-box'>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LeaveSummaryPayroll.First().TenantId)</th>
                <th>@Html.DisplayNameFor(model => model.LeaveSummaryPayroll.First().EmployeeId)</th>
                <th>@Html.DisplayNameFor(model => model.LeaveSummaryPayroll.First().LastName)</th>
                <th>@Html.DisplayNameFor(model => model.LeaveSummaryPayroll.First().FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.LeaveSummaryPayroll.First().Paycode)</th>
                <th>@Html.DisplayNameFor(model => model.LeaveSummaryPayroll.First().Department)</th>
                <th>@Html.DisplayNameFor(model => model.LeaveSummaryPayroll.First().TSCode)</th>
                <th>@Html.DisplayNameFor(model => model.LeaveSummaryPayroll.First().TSDays)</th>
                <th>@Html.DisplayNameFor(model => model.LeaveSummaryPayroll.First().TSHrs)</th>
                <th>@Html.DisplayNameFor(model => model.LeaveSummaryPayroll.First().TSMins)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LeaveSummaryPayroll)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenantId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paycode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TSCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TSDays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TSHrs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TSMins)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style='page-break-after: always;'>
    </div>
</body>
</html>
