﻿
@model MMB.ePay.Timekeeping.Dtos.GetReportsForLeaveSummary

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
</head>
<body>
    <table class='table striped invoice-box'>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LeaveSummary.First().EmployeeId)</th>
                <th>@Html.DisplayNameFor(model => model.LeaveSummary.First().EmployeeName)</th>

                @foreach (var type in Model.LeaveTypes)
                {
                    <th>@type.Item2</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LeaveSummary)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>

                    @for (var i = 0; i < Model.LeaveTypes.Count; i++)
                    {
                        var value = item.TypeValues
                            .Where(e => e.Item1 == Model.LeaveTypes[i]?.Item1)
                            .Select(e => e.Item2)
                            .FirstOrDefault();

                        <td>@value.ToString("0.00")</td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div style='page-break-after: always;'>
    </div>
</body>
</html>
