﻿
@model MMB.ePay.Timekeeping.Dtos.GetReportsForLeaveBalance

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
</head>
<body>
    <table class='table striped invoice-box'>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LeaveBalance.First().EmployeeId)</th>
                <th>@Html.DisplayNameFor(model => model.LeaveBalance.First().EmployeeName)</th>
                <th>@Html.DisplayNameFor(model => model.LeaveBalance.First().LeaveType)</th>
                <th>@Html.DisplayNameFor(model => model.LeaveBalance.First().LeaveEarned)</th>
                <th>@Html.DisplayNameFor(model => model.LeaveBalance.First().LeaveTaken)</th>
                <th>@Html.DisplayNameFor(model => model.LeaveBalance.First().CurrentBalance)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LeaveBalance)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveEarned)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveTaken)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentBalance)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style='page-break-after: always;'>
    </div>
</body>
</html>
