﻿
@model MMB.ePay.Timekeeping.Dtos.GetReportsForOvertimeSummaryPayroll

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
</head>
<body>
    <table class='table striped invoice-box'>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.OvertimeSummaryPayroll.First().TenantId)</th>
                <th>@Html.DisplayNameFor(model => model.OvertimeSummaryPayroll.First().EmployeeId)</th>
                <th>@Html.DisplayNameFor(model => model.OvertimeSummaryPayroll.First().LastName)</th>
                <th>@Html.DisplayNameFor(model => model.OvertimeSummaryPayroll.First().FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.OvertimeSummaryPayroll.First().Paycode)</th>
                <th>@Html.DisplayNameFor(model => model.OvertimeSummaryPayroll.First().Department)</th>

                @foreach (var type in Model.OvertimeTypes)
                {
                    <th>@type.Item2</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OvertimeSummaryPayroll)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paycode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>

                @for (var i = 0; i < Model.OvertimeTypes.Count; i++)
                {
                    var value = item.TypeValues
                        .Where(e => e.Item1 == Model.OvertimeTypes[i]?.Item1)
                        .Select(e => e.Item2)
                        .ToList();

                    if (value.Count == 0)
                    {
                        <td></td>
                    }
                    else
                    {
                        var sumVal = value.Sum();
                        <td>@sumVal.ToString("0.00h")</td>
                    }
                }
            </tr>
            }
        </tbody>
    </table>
    <div style='page-break-after: always;'>
    </div>
</body>
</html>
