﻿@*@model MMB.ePay.Payroll.Dtos.PayrollRegisterHeaderReportViewModel

@{ 
    var headerTitle = (Model.IsPosted ? string.Empty : "UNPOSTED ") + "DETAILED PAYROLL REGISTER";
}

<div style='text-align:center; font-size: 8px; width:100%;'>
    <div style='text-align:right; width:100%'>Page number <span class="pageNumber"></span>&nbsp;of&nbsp;<span class="totalPages"></span>&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div style="font-weight:bold;">
        <p>@Model.CompanyName</p>
        <p>@headerTitle</p>
        <p>@Model.PayrollPeriod</p>
        <p>@Model.CutoffPeriod</p>
    </div>
</div>*@

