﻿
@model MMB.ePay.Timekeeping.Dtos.GetReportsForRestDayTransaction

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
</head>
<body>
    <table class='table striped invoice-box'>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.RestDayTransaction.First().EmployeeId)</th>
                <th>@Html.DisplayNameFor(model => model.RestDayTransaction.First().EmployeeName)</th>
                <th>@Html.DisplayNameFor(model => model.RestDayTransaction.First().DateFiled)</th>
                <th>@Html.DisplayNameFor(model => model.RestDayTransaction.First().StartDate)</th>
                <th>@Html.DisplayNameFor(model => model.RestDayTransaction.First().EndDate)</th>
                <th>@Html.DisplayNameFor(model => model.RestDayTransaction.First().Reason)</th>
                <th>@Html.DisplayNameFor(model => model.RestDayTransaction.First().Status)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.RestDayTransaction)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateFiled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reason)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style='page-break-after: always;'>
    </div>
</body>
</html>
