﻿
@model MMB.ePay.Timekeeping.Dtos.GetReportsForWorkFromHome

@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
</head>
<body>
    <table class='table striped invoice-box'>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.WorkFromHome.First().EmployeeId)</th>
                <th>@Html.DisplayNameFor(model => model.WorkFromHome.First().EmployeeName)</th>
                <th>@Html.DisplayNameFor(model => model.WorkFromHome.First().Date)</th>
                <th>@Html.DisplayNameFor(model => model.WorkFromHome.First().Time)</th>
                <th>@Html.DisplayNameFor(model => model.WorkFromHome.First().Device)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.WorkFromHome)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @item.Time?.ToString("hh:mm tt")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Device)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style='page-break-after: always;'>
    </div>
</body>
</html>
