﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OvertimeApprovals
@model CreateOrEditOvertimeApprovalsModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditOvertimeApprovals")) : L("CreateNewOvertimeApprovals")))

<div class="modal-body">
    <div id="OvertimeApprovalsInformationsTab">
        <form name="OvertimeApprovalsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.OvertimeApprovals.Id" />
            }

            <div class="form-group">
                <label for="OvertimeApprovals_ActedBy">@L("ActedBy")</label>
                <input class="form-control border-dark m-input" id="OvertimeApprovals_ActedBy" value="@Model.OvertimeApprovals.ActedBy.ToString(CultureInfo.InvariantCulture)" type="number" name="actedBy" />
            </div>

            <div class="form-group">
                <label for="OvertimeApprovals_Remarks">@L("Remarks")</label>
                <input class="form-control border-dark" id="OvertimeApprovals_Remarks" value="@Model.OvertimeApprovals.Remarks" type="text" name="remarks" required maxlength="@MMB.ePay.Timekeeping.OvertimeApprovalsConsts.MaxRemarksLength" minlength="@MMB.ePay.Timekeeping.OvertimeApprovalsConsts.MinRemarksLength" />
            </div>

            <div class="form-group">
                <label for="OvertimeApprovals_OvertimeRequestId">@L("OvertimeRequestId")</label>
                <input class="form-control border-dark m-input" id="OvertimeApprovals_OvertimeRequestId" value="@Model.OvertimeApprovals.OvertimeRequestId.ToString(CultureInfo.InvariantCulture)" type="number" name="overtimeRequestId" />
            </div>

            <div class="form-group">
                <label for="OvertimeApprovals_StatusId">@L("StatusId")</label>
                <input class="form-control border-dark m-input" id="OvertimeApprovals_StatusId" value="@Model.OvertimeApprovals.StatusId.ToString(CultureInfo.InvariantCulture)" type="number" name="statusId" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")