﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OvertimeApprovals
@model OvertimeApprovalsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<input type="hidden" name="id" value="@Model.OvertimeDetails.Id" />

<div class="modal-body">
    <div id="OvertimeApprovalsInformationsTab">
        <div class="form-group row">
            <h6 class="col-4 col-form-label">@L("Employee") :</h6>
            <div class="col-8 col-form-label">
                @Model.OvertimeDetails.Employee
            </div>
            <h6 class="col-4 col-form-label">@L("OvertimeStart") :</h6>
            <div class="col-8 col-form-label">
                @Model.OvertimeDetails.OvertimeStart
            </div>
            <h6 class="col-4 col-form-label">@L("OvertimeEnd") :</h6>
            <div class="col-8 col-form-label">
                @Model.OvertimeDetails.OvertimeEnd
            </div>
            <h6 class="col-4 col-form-label">@L("Reason") :</h6>
            <div class="col-8 col-form-label">
                @Model.OvertimeDetails.Reason
            </div>
            <h6 class="col-4 col-form-label">@L("Remarks") :</h6>
            <div class="col-8 col-form-label">
                @Model.OvertimeDetails.Remarks
            </div>
            <h6 class="col-4 col-form-label">@L("Status") :</h6>
            <div class="col-8 col-form-label">
                @Model.OvertimeDetails.Status
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold close-button" data-dismiss="modal">@L("Close")</button>
</div>