﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Locations
@model CreateOrEditLocationsModalViewModel
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLocations")) : L("CreateNewLocations")))

<div class="modal-body">
    <div id="LocationsInformationsTab">
        <form name="LocationsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Locations.Id" />
                <input type="hidden" name="description" value="@Model.Locations.Description" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="Locations_Description">@L("Description")</label>
                    <div class="col-9">
                        <input class="form-control border-dark" value="@Model.Locations.Description" type="text" disabled />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="Locations_Description">@L("Description")</label>
                    <div class="col-9">
                        <input class="form-control border-dark" id="Locations_Description" value="@Model.Locations.Description"
                               type="text" name="description" required
                               maxlength="@MMB.ePay.Timekeeping.LocationsConsts.MaxDescriptionLength"
                               minlength="@MMB.ePay.Timekeeping.LocationsConsts.MinDescriptionLength" />
                    </div>
                </div>
            }
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")