﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.Locations
@using MMB.ePay.Web.Areas.App.Startup
@model LocationsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Tenant.Locations;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/Locations/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("Locations")">

        @if (IsGranted(AppPermissions.Pages_Locations_Create))
        {
        <button id="CreateNewLocationsButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewLocations")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <table id="LocationsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("Description")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

