﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.HolidayTypes
@model CreateOrEditHolidayTypesModalViewModel
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditHolidayTypes")) : L("CreateNewHolidayTypes")))

<div class="modal-body">
    <div id="HolidayTypesInformationsTab">
        <form name="HolidayTypesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.HolidayTypes.Id" />
                <input type="hidden" name="displayName" value="@Model.HolidayTypes.DisplayName" />
                <input type="hidden" name="holidayCode" value="@Model.HolidayTypes.HolidayCode" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="HolidayTypes_HolidayCode">@L("HolidayCode")</label>
                    <div class="col-9">
                        <input class="form-control border-dark" value="@Model.HolidayTypes.HolidayCode" type="text" disabled />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="HolidayTypes_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control border-dark" value="@Model.HolidayTypes.DisplayName" type="text" disabled />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="HolidayTypes_HolidayCode">@L("HolidayCode")</label>
                    <div class="col-9">
                        <input class="form-control border-dark" id="HolidayTypes_HolidayCode" value="@Model.HolidayTypes.HolidayCode"
                                type="text" name="holidayCode" required
                                maxlength="@MMB.ePay.Timekeeping.HolidayTypesConsts.MaxHolidayCodeLength"
                                minlength="@MMB.ePay.Timekeeping.HolidayTypesConsts.MinHolidayCodeLength" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="HolidayTypes_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control border-dark" id="HolidayTypes_DisplayName" value="@Model.HolidayTypes.DisplayName"
                               type="text" name="displayName" required
                               maxlength="@MMB.ePay.Timekeeping.HolidayTypesConsts.MaxDisplayNameLength"
                               minlength="@MMB.ePay.Timekeeping.HolidayTypesConsts.MinDisplayNameLength" />
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="HolidayTypes_Description">@L("Description")</label>
                <div class="col-9">
                    <input class="form-control border-dark" id="HolidayTypes_Description" value="@Model.HolidayTypes.Description"
                            type="text" name="description" required
                            maxlength="@MMB.ePay.Timekeeping.HolidayTypesConsts.MaxDescriptionLength"
                            minlength="@MMB.ePay.Timekeeping.HolidayTypesConsts.MinDescriptionLength" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <label id="lblHalfDay" class="col-9 checkbox" for="HolidayTypes_HalfDayEnabled">
                    <input id="HolidayTypes_HalfDayEnabled" type="checkbox" name="halfDayEnabled" value="true" asp-for="HolidayTypes.HalfDayEnabled" />
                    <span></span>
                    @L("HalfDayEnabled")
                </label>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")