﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.HolidayTypes
@model HolidayTypesViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="HolidayTypesInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("HolidayCode") :</h6>
                @Model.HolidayTypes.HolidayCode
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DisplayName") :</h6>
                @Model.HolidayTypes.DisplayName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.HolidayTypes.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("HalfDayEnabled") :</h6>
                @Model.HolidayTypes.HalfDayEnabled
            </div>
        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")