﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Holidays
@model CreateOrEditHolidaysModalViewModel
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditHolidays")) : L("CreateNewHolidays")))

<div class="modal-body">
    <div id="HolidaysInformationsTab">
        <form name="HolidaysInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Holidays.Id" />
                <input type="hidden" name="displayName" value="@Model.Holidays.DisplayName" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="Holidays_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control border-dark" value="@Model.Holidays.DisplayName" type="text" disabled />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="Holidays_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control border-dark" id="Holidays_DisplayName" value="@Model.Holidays.DisplayName"
                               type="text" name="displayName" required
                               maxlength="@MMB.ePay.Timekeeping.HolidaysConsts.MaxDisplayNameLength"
                               minlength="@MMB.ePay.Timekeeping.HolidaysConsts.MinDisplayNameLength" />
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Holidays_Date">@L("Date")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input date-picker" id="Holidays_Date" required
                           type="text" name="date" value="@Model.Holidays.Date" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Holidays_Location">@L("Location")</label>
                <div class="col-9">
                    <select asp-for="Holidays.LocationId" class="form-control border-dark" id="Holidays_LocationId"
                            asp-items="Model.LocationList" name="locationId"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Holidays_HolidayType">@L("HolidayType")</label>
                <div class="col-9">
                    <select asp-for="Holidays.HolidayTypeId" class="form-control border-dark" id="Holidays_HolidayTypeId"
                            asp-items="Model.HolidayTypeList" name="holidayTypeId"></select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <label id="lblHalfDay" class="col-9 checkbox checkbox-disabled" for="Holidays_HalfDay">
                    <input disabled="disabled" id="Holidays_HalfDay" type="checkbox" name="halfDay" 
                           value="true" asp-for="Holidays.HalfDay" />
                    <span></span>
                    @L("HalfDay")
                </label>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")