﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Holidays
@model HolidaysViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="HolidaysInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("DisplayName") :</h6>
                @Model.Holidays.DisplayName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Date") :</h6>
                @Model.Holidays.Date.ToString("MM/dd/yyyy")
            </div>
            <div class="col-6 mb-3">
                <h6>@L("HalfDay") :</h6>
                @Model.Holidays.HalfDay
            </div>
            <div class="col-6 mb-3">
                <h6>@L("HolidayType") :</h6>
                @Model.Holidays.HolidayType
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")