﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.Holidays
@using MMB.ePay.Web.Areas.App.Startup
@model HolidaysViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Tenant.Holidays;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/Holidays/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("Holidays")">

        @if (IsGranted(AppPermissions.Pages_Holidays_Create))
        {
        <button id="CreateNewHolidaysButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewHolidays")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div id="AdvacedAuditFiltersArea" class="row mb-4">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="YearFilterId">@L("Year")</label>
                            <select class="form-control border-dark" name="yearFilter" id="YearFilterId" asp-items="Model.YearList"></select>
                        </div>
                    </div>

                </div>
                <div class="row align-items-center">
                    <table id="HolidaysTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("DisplayName")</th>
                                <th>@L("Date")</th>
                                <th>@L("Location")</th>
                                <th>@L("HolidayType")</th>
                                <th>@L("HalfDay")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>