﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OfficialBusinessRequests
@model CreateOrEditOfficialBusinessRequestsModalViewModel
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditOfficialBusinessRequests")) : L("CreateNewOfficialBusinessRequests")))

<div class="modal-body">
    <div id="OfficialBusinessRequestsInformationsTab">
        <form name="OfficialBusinessRequestsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {<input type="hidden" name="id" value="@Model.OfficialBusinessRequests.Id" />} 

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OfficialBusinessRequests_StartDate">@L("StartDate")</label>
                <div class="col-9">
                    <input class="form-control  border-dark m-input date-picker" id="OfficialBusinessRequests_StartDate" required
                           type="text" name="startDate" value="@Model.OfficialBusinessRequests.StartDate?.ToString("MM/dd/yyyy")" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OfficialBusinessRequests_EndDate">@L("EndDate")</label>
                <div class="col-9">
                    <input class="form-control  border-dark m-input date-picker" id="OfficialBusinessRequests_EndDate" required
                           type="text" name="endDate" value="@Model.OfficialBusinessRequests.EndDate?.ToString("MM/dd/yyyy")" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="checkbox-list col-9">
                    <label id="lblWholeDay" for="OfficialBusinessRequests_WholeDay" class="checkbox checkbox-disabled">
                        <input disabled="disabled" asp-for="OfficialBusinessRequests.WholeDay" 
                               id="OfficialBusinessRequests_WholeDay" type="checkbox" name="wholeDay" value="true" />
                        <span></span>
                        @L("WholeDay")
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OfficialBusinessRequests_StartTime">@L("StartTime")</label>
                <div class="col-9">
                    <input class="form-control  border-dark m-input time timepicker-picker" id="OfficialBusinessRequests_StartTime"
                           type="time" name="startTime" value="@Model.OfficialBusinessRequests.StartDate?.ToString("HH:mm")" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OfficialBusinessRequests_EndTime">@L("EndTime")</label>
                <div class="col-9">
                    <input class="form-control  border-dark m-input time timepicker-picker" id="OfficialBusinessRequests_EndTime"
                           type="time" name="endTime" value="@Model.OfficialBusinessRequests.EndDate?.ToString("HH:mm")" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OfficialBusinessRequests_LeaveReasonId">@L("OfficialBusinessReasonId")</label>
                <div class="col-9">
                    <select asp-for="OfficialBusinessRequests.OfficialBusinessReasonId" class="form-control  border-dark" id="OfficialBusinessRequests_OfficialBusinessReasonId"
                            asp-items="Model.OfficialBusinessReasonList" name="officialBusinessReasonId"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OfficialBusinessRequests_Remarks">@L("Remarks")</label>
                <div class="col-9">
                    <input class="form-control  border-dark" id="OfficialBusinessRequests_Remarks" 
                           value="@Model.OfficialBusinessRequests.Remarks" type="text" name="remarks" required
                           maxlength="@MMB.ePay.Timekeeping.OfficialBusinessRequestsConsts.MaxRemarksLength"
                           minlength="@MMB.ePay.Timekeeping.OfficialBusinessRequestsConsts.MinRemarksLength" />
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")