﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LeaveApprovals
@model CreateOrEditLeaveApprovalsModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLeaveApprovals")) : L("CreateNewLeaveApprovals")))

<div class="modal-body">
    <div id="LeaveApprovalsInformationsTab">
        <form name="LeaveApprovalsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.LeaveApprovals.Id" />
            }

            <div class="form-group">
                <label for="LeaveApprovals_ActedBy">@L("ActedBy")</label>
                <input class="form-control border-dark m-input" id="LeaveApprovals_ActedBy" value="@Model.LeaveApprovals.ActedBy.ToString(CultureInfo.InvariantCulture)" type="number" name="actedBy" />
            </div>

            <div class="form-group">
                <label for="LeaveApprovals_Remarks">@L("Remarks")</label>
                <input class="form-control border-dark" id="LeaveApprovals_Remarks" value="@Model.LeaveApprovals.Remarks" type="text" name="remarks" required maxlength="@MMB.ePay.Timekeeping.LeaveApprovalsConsts.MaxRemarksLength" minlength="@MMB.ePay.Timekeeping.LeaveApprovalsConsts.MinRemarksLength" />
            </div>

            <div class="form-group">
                <label for="LeaveApprovals_LeaveRequestId">@L("LeaveRequestId")</label>
                <input class="form-control border-dark m-input" id="LeaveApprovals_LeaveRequestId" value="@Model.LeaveApprovals.LeaveRequestId.ToString(CultureInfo.InvariantCulture)" type="number" name="leaveRequestId" />
            </div>

            <div class="form-group">
                <label for="LeaveApprovals_StatusId">@L("StatusId")</label>
                <input class="form-control border-dark m-input" id="LeaveApprovals_StatusId" value="@Model.LeaveApprovals.StatusId.ToString(CultureInfo.InvariantCulture)" type="number" name="statusId" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")