﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LeaveApprovals
@model LeaveApprovalsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<input type="hidden" name="id" value="@Model.LeaveDetails.Id" />

<div class="modal-body">
    <div id="LeaveApprovalsInformationsTab">
        <div class="form-group row">
            <h6 class="col-4 col-form-label">@L("Employee") :</h6>
            <div class="col-8 col-form-label">
                @Model.LeaveDetails.Employee
            </div>
            <h6 class="col-4 col-form-label">@L("LeaveType") :</h6>
            <div class="col-8 col-form-label">
                @Model.LeaveDetails.LeaveType
            </div>
            <h6 class="col-4 col-form-label">@L("StartDate") :</h6>
            <div class="col-8 col-form-label">
                @Model.LeaveDetails.StartDate?.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-4 col-form-label">@L("EndDate") :</h6>
            <div class="col-8 col-form-label">
                @Model.LeaveDetails.EndDate?.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-4 col-form-label">@L("Days") :</h6>
            <div class="col-8 col-form-label">
                @Model.LeaveDetails.Days
            </div>
            <h6 class="col-4 col-form-label">@L("ActualDates") :</h6>
            <div class="col-8 col-form-label">
                @Model.LeaveDetails.ActualDates
            </div>
            <h6 class="col-4 col-form-label">@L("Reason") :</h6>
            <div class="col-8 col-form-label">
                @Model.LeaveDetails.Reason
            </div>
            <h6 class="col-4 col-form-label">@L("Remarks") :</h6>
            <div class="col-8 col-form-label">
                @Model.LeaveDetails.Remarks
            </div>
            <h6 class="col-4 col-form-label">@L("DateFiled") :</h6>
            <div class="col-8 col-form-label">
                @Model.LeaveDetails.DateFiled.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-4 col-form-label">@L("Status") :</h6>
            <div class="col-8 col-form-label">
                @Model.LeaveDetails.Status
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold close-button" data-dismiss="modal">@L("Close")</button>
</div>