﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Frequencies
@model CreateOrEditFrequenciesModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditFrequencies")) : L("CreateNewFrequencies")))

<div class="modal-body">
    <div id="FrequenciesInformationsTab">
        <form name="FrequenciesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.Frequencies.Id" />
            }

            <div class="form-group">
                <label for="Frequencies_DisplayName">@L("DisplayName")</label>
                <input class="form-control border-dark" id="Frequencies_DisplayName" value="@Model.Frequencies.DisplayName" type="text" name="displayName" required maxlength="@MMB.ePay.Timekeeping.FrequenciesConsts.MaxDisplayNameLength" minlength="@MMB.ePay.Timekeeping.FrequenciesConsts.MinDisplayNameLength" />
            </div>

            <div class="form-group">
                <label for="Frequencies_Description">@L("Description")</label>
                <input class="form-control border-dark" id="Frequencies_Description" value="@Model.Frequencies.Description" type="text" name="description" maxlength="@MMB.ePay.Timekeeping.FrequenciesConsts.MaxDescriptionLength" minlength="@MMB.ePay.Timekeeping.FrequenciesConsts.MinDescriptionLength" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")