﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.Frequencies
@using MMB.ePay.Web.Areas.App.Startup
@model FrequenciesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Tenant.Frequencies;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/Frequencies/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("Frequencies")" description="@L(" FrequenciesHeaderInfo")">

        @if (IsGranted(AppPermissions.Pages_Frequencies_Create))
        {
        <button id="CreateNewFrequenciesButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewFrequencies")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="FrequenciesTableFilter" class="form-control border-dark m-input" placeholder="@L(" SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetFrequenciesButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="DisplayNameFilterId">@L("DisplayName")</label>
                            <input type="text" class="form-control border-dark" name="displayNameFilter" id="DisplayNameFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="DescriptionFilterId">@L("Description")</label>
                            <input type="text" class="form-control border-dark" name="descriptionFilter" id="DescriptionFilterId">
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="FrequenciesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("DisplayName")</th>
                                <th>@L("Description")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>