﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.RestDayRequests
@model CreateOrEditRestDayRequestsModalViewModel
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditRestDayRequests")) : L("CreateNewRestDayRequests")))

<div class="modal-body">
    <div id="RestDayRequestsInformationsTab">
        <form name="RestDayRequestsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {<input type="hidden" name="id" value="@Model.RestDayRequests.Id" />}

            <div class="form-group row">
                <label class="col-3 col-form-label" for="RestDayRequests_RestDayStart">@L("StartDate")</label>
                <div class="col-9">
                    <input class="form-control  border-dark m-input date-picker" id="RestDayRequests_RestDayStart" required
                           type="text" name="restDayStart" value="@Model.RestDayRequests.RestDayStart" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="RestDayRequests_RestDayEnd">@L("EndDate")</label>
                <div class="col-9">
                    <input class="form-control  border-dark m-input date-picker" id="RestDayRequests_RestDayEnd" required
                           type="text" name="restDayEnd" value="@Model.RestDayRequests.RestDayEnd" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="RestDayRequests_RestDayReasonId">@L("RestDayReasonId")</label>
                <div class="col-9">
                    <select asp-for="RestDayRequests.RestDayReasonId" class="form-control  border-dark" id="RestDayRequests_OvertimeReasonId"
                            asp-items="Model.RestDayReasonList" name="restDayReasonId"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="RestDayRequests_Remarks">@L("Remarks")</label>
                <div class="col-9">
                    <input class="form-control  border-dark" id="RestDayRequests_Remarks" 
                           value="@Model.RestDayRequests.Remarks" type="text" name="remarks" required
                           maxlength="@MMB.ePay.Timekeeping.RestDayRequestsConsts.MaxRemarksLength" 
                           minlength="@MMB.ePay.Timekeeping.RestDayRequestsConsts.MinRemarksLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3" for="RestDayRequests_Remarks">@L("RestDay")</label>
                <div class="checkbox-list col-9">
                    <label for="RestDayRequests_Sunday" class="checkbox">
                        <input class="form-control  border-dark" id="RestDayRequests_Sunday" type="checkbox" name="sunday" value="true" asp-for="RestDayRequests.Sunday" />
                        <span></span>
                        @L("Sunday")
                    </label>
                    <label for="RestDayRequests_Monday" class="checkbox">
                        <input class="form-control  border-dark" id="RestDayRequests_Monday" type="checkbox" name="monday" value="true" asp-for="RestDayRequests.Monday" />
                        <span></span>
                        @L("Monday")
                    </label>
                    <label for="RestDayRequests_Tuesday" class="checkbox">
                        <input class="form-control  border-dark" id="RestDayRequests_Tuesday" type="checkbox" name="tuesday" value="true" asp-for="RestDayRequests.Tuesday" />
                        <span></span>
                        @L("Tuesday")
                    </label>
                    <label for="RestDayRequests_Wednesday" class="checkbox">
                        <input class="form-control  border-dark" id="RestDayRequests_Wednesday" type="checkbox" name="wednesday" value="true" asp-for="RestDayRequests.Wednesday" />
                        <span></span>
                        @L("Wednesday")
                    </label>
                    <label for="RestDayRequests_Thursday" class="checkbox">
                        <input class="form-control  border-dark" id="RestDayRequests_Thursday" type="checkbox" name="thursday" value="true" asp-for="RestDayRequests.Thursday" />
                        <span></span>
                        @L("Thursday")
                    </label>
                    <label for="RestDayRequests_Friday" class="checkbox">
                        <input class="form-control  border-dark" id="RestDayRequests_Friday" type="checkbox" name="friday" value="true" asp-for="RestDayRequests.Friday" />
                        <span></span>
                        @L("Friday")
                    </label>
                    <label for="RestDayRequests_Saturday" class="checkbox">
                        <input class="form-control  border-dark" id="RestDayRequests_Saturday" type="checkbox" name="saturday" value="true" asp-for="RestDayRequests.Saturday" />
                        <span></span>
                        @L("Saturday")
                    </label>
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")