﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.RestDayRequests
@model RestDayRequestsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<input type="hidden" name="id" value="@Model.RestDayDetails.Id" />

<div class="modal-body">
    <div id="RestDayRequestsInformationsTab">
        <div class="form-group row">
            <h6 class="col-4 col-form-label">@L("Employee") :</h6>
            <div class="col-8 col-form-label">
                @Model.RestDayDetails.Employee
            </div>
            <h6 class="col-4 col-form-label">@L("RestDayStart") :</h6>
            <div class="col-8 col-form-label">
                @Model.RestDayDetails.RestDayStart?.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-4 col-form-label">@L("RestDayEnd") :</h6>
            <div class="col-8 col-form-label">
                @Model.RestDayDetails.RestDayEnd?.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-4 col-form-label">@L("RestDay") :</h6>
            <div class="col-8 col-form-label">
                @Model.RestDayDetails.RestDay
            </div>
            <h6 class="col-4 col-form-label">@L("Reason") :</h6>
            <div class="col-8 col-form-label">
                @Model.RestDayDetails.Reason
            </div>
            <h6 class="col-4 col-form-label">@L("Remarks") :</h6>
            <div class="col-8 col-form-label">
                @Model.RestDayDetails.Remarks
            </div>
            <h6 class="col-4 col-form-label">@L("DateFiled") :</h6>
            <div class="col-8 col-form-label">
                @Model.RestDayDetails.DateFiled.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-4 col-form-label">@L("Status") :</h6>
            <div class="col-8 col-form-label">
                @Model.RestDayDetails.Status
            </div>
        </div>

        @if (Model.RestDayDetails.StatusList.Select(e => e.Text).Any(e => e == "For Update" || e == "Decline"))
        {
            <div class="form-group row">
                <div class="col-12 mb-3">
                    <h6 class="col-4 col-form-label">@L("ApprovalRemarks") :</h6>
                    <div class="col-12">
                        <textarea class="form-control border-dark" id="RestDayRequests_Reason" name="reason" rows="3" required
                                  maxlength="@MMB.ePay.Timekeeping.RestDayRequestsConsts.MaxRemarksLength"
                                  minlength="@MMB.ePay.Timekeeping.RestDayRequestsConsts.MinRemarksLength" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold close-button" data-dismiss="modal">@L("Close")</button>
    @foreach (var status in Model.RestDayDetails.StatusList)
    {
        if (status.Text == "For Update" || status.Text == "Decline" || status.Text == "Cancel Request")
        {
            <button type="button" data-id="@status.Value" data-status="@status.Text" 
                class="btn btn-primary remarks_button">@status.Text</button>
        }
        else
        {
            <button type="button" data-id="@status.Value" 
                class="btn btn-primary status_button">@status.Text</button>
        }
    }
</div>