﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.WorkFlow
@model WorkFlowViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="WorkFlowInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Status") :</h6>
                @Model.WorkFlow.Status
            </div>
            <div class="col-6 mb-3">
                <h6>@L("NextStatus") :</h6>
                @Model.WorkFlow.NextStatus
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")