﻿@using MMB.ePay.Web.Areas.App.Models.WorkFlow
@using MMB.ePay.Web.Areas.App.Startup
@model WorkFlowViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.WorkFlow;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/WorkFlow/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">
    <abp-page-subheader title="@L("WorkFlow")"></abp-page-subheader>
    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <table id="WorkFlowTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("Status")</th>
                                <th>@L("NextStatus")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>