﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@model ModalHeaderViewModel
<div class="modal-header">
    <h5 class="modal-title">
        <span>@Html.Raw(Model.Title)</span>
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <i aria-hidden="true" class="ki ki-close"></i>
    </button>
</div>
