﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Companies
@model CreateOrEditCompaniesModalViewModel
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditCompanies")) : L("CreateNewCompanies")))

<div class="modal-body">
    <div id="CompaniesInformationsTab">
        <form name="CompaniesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Companies.Id" />
                <input type="hidden" name="displayName" value="@Model.Companies.DisplayName" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="Companies_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control border-dark" value="@Model.Companies.DisplayName" type="text" disabled />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="Companies_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control border-dark" id="Companies_DisplayName" value="@Model.Companies.DisplayName"
                               type="text" name="displayName" required
                               maxlength="@MMB.ePay.HR.CompaniesConsts.MaxDisplayNameLength"
                               minlength="@MMB.ePay.HR.CompaniesConsts.MinDisplayNameLength" />
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Companies_Address1">@L("Address1")</label>
                <div class="col-9">
                    <input class="form-control border-dark" id="Companies_Address1" value="@Model.Companies.Address1"
                            type="text" name="address1" 
                            maxlength="@MMB.ePay.HR.CompaniesConsts.MaxAddress1Length"
                            minlength="@MMB.ePay.HR.CompaniesConsts.MinAddress1Length" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Companies_Address2">@L("Address2")</label>
                <div class="col-9">
                    <input class="form-control border-dark" id="Companies_Address2" value="@Model.Companies.Address2"
                            type="text" name="address2" 
                            maxlength="@MMB.ePay.HR.CompaniesConsts.MaxAddress2Length"
                            minlength="@MMB.ePay.HR.CompaniesConsts.MinAddress2Length" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Companies_OrgUnitLevel1Name">@L("OrgUnitLevel1")</label>
                <div class="col-9">
                    <input class="form-control border-dark" id="Companies_OrgUnitLevel1Name" value="@Model.Companies.OrgUnitLevel1Name"
                            type="text" name="orgUnitLevel1Name" required
                            maxlength="@MMB.ePay.HR.CompaniesConsts.MaxOrgUnitLevel1NameLength"
                            minlength="@MMB.ePay.HR.CompaniesConsts.MinOrgUnitLevel1NameLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Companies_OrgUnitLevel2Name">@L("OrgUnitLevel2")</label>
                <div class="col-9">
                    <input class="form-control border-dark" id="Companies_OrgUnitLevel2Name" value="@Model.Companies.OrgUnitLevel2Name"
                            type="text" name="orgUnitLevel2Name" 
                            maxlength="@MMB.ePay.HR.CompaniesConsts.MaxOrgUnitLevel2NameLength"
                            minlength="@MMB.ePay.HR.CompaniesConsts.MinOrgUnitLevel2NameLength" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="Companies_OrgUnitLevel3Name">@L("OrgUnitLevel3")</label>
                <div class="col-9">
                    <input class="form-control border-dark" id="Companies_OrgUnitLevel3Name" value="@Model.Companies.OrgUnitLevel3Name"
                            type="text" name="orgUnitLevel3Name" 
                            maxlength="@MMB.ePay.HR.CompaniesConsts.MaxOrgUnitLevel3NameLength"
                            minlength="@MMB.ePay.HR.CompaniesConsts.MinOrgUnitLevel3NameLength" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")