﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Companies
@model CompaniesViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="CompaniesInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("DisplayName") :</h6>
                @Model.Companies.DisplayName
            </div>

            <div class="col-6 mb-3">
                <h6>@L("Address1") :</h6>
                @Model.Companies.Address1
            </div>

            <div class="col-6 mb-3">
                <h6>@L("Address2") :</h6>
                @Model.Companies.Address2
            </div>

            <div class="col-6 mb-3">
                <h6>@L("OrgUnitLevel1") :</h6>
                @Model.Companies.OrgUnitLevel1Name
            </div>

            <div class="col-6 mb-3">
                <h6>@L("OrgUnitLevel2") :</h6>
                @Model.Companies.OrgUnitLevel2Name
            </div>

            <div class="col-6 mb-3">
                <h6>@L("OrgUnitLevel3") :</h6>
                @Model.Companies.OrgUnitLevel3Name
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")