﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.Companies
@using MMB.ePay.Web.Areas.App.Startup
@model CompaniesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.Companies;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/Companies/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    @*<abp-page-subheader title="@L("Companies")">

        @if (IsGranted(AppPermissions.Pages_Companies_Create))
        {
        <button id="CreateNewCompaniesButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewCompanies")</button>
        }
    </abp-page-subheader>*@

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <table id="CompaniesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("DisplayName")</th>
                                <th>@L("Address1")</th>
                                <th>@L("Address2")</th>
                                <th>@L("OrgUnitLevel1")</th>
                                <th>@L("OrgUnitLevel2")</th>
                                <th>@L("OrgUnitLevel3")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>