﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EmployeeApprovers
@model CreateOrEditEmployeeApproversModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEmployeeApprovers")) : L("CreateNewEmployeeApprovers")))

<div class="modal-body ui-front">
    <div id="EmployeeApproversInformationsTab">
        <form name="EmployeeApproversInformationsForm" role="form" novalidate class="form-validation">

            <input type="hidden" id="EmployeeApprovers_EmployeeId" value="@Model.EmployeeApprovers.EmployeeId" />

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.EmployeeApprovers.Id" />

                <div class="form-group row">
                    <label class="col-3 col-form-label">@L("Employee")</label>
                    <div class="col-9">
                        <input disabled class="form-control border-dark" value="@Model.EmployeeApprovers.Employee" />
                    </div>
                </div> 
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label">@L("Employee")</label>
                    <div class="col-9">
                        <input class="form-control border-dark" id="EmployeeFilterId" value="@Model.EmployeeApprovers.Employee" />
                    </div>
                </div>
            }

            @for (var i = 0; Model.ApproverOrderList.Count > i; i++)
			{
				var approverId = "approver" + i;

                <div class="form-group row">
                    <input asp-for="@Model.EmployeeApprovers.ApproverIdList[i]" id="@approverId" 
                           type="hidden" name="approver" /> 

                    <label class="col-3 col-form-label">@Model.ApproverOrderList[i].Text</label>
                    <div class="col-9">
                        @{
                            var val = Model.EmployeeApprovers?.ApproverNameList.ToList().Count > 0 ?
                                Model.EmployeeApprovers.ApproverNameList[i] : "";
                        }

                        <div class="input-group">
                            <input class="form-control border-dark" name="approverName" value="@val" />
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" name="clear">Clear</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")