﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EmployeeApprovers
@model EmployeeApproversViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="EmployeeApproversInformationsTab">
        <div class="row">

            <div class="col-6 mb-3">
                <h6>@L("Employee") :</h6>
                @Model.EmployeeApprovers.Employee
            </div>

            @foreach (var approver in Model.EmployeeApprovers.ApproverList)
            {
                <div class="col-6 mb-3">
                    <h6>@approver.Item1 :</h6>
                    @approver.Item2
                </div>
            }
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")