﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.EmployeeApprovers
@using MMB.ePay.Web.Areas.App.Startup
@model EmployeeApproversViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Tenant.EmployeeApprovers; }
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/EmployeeApprovers/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("EmployeeApprovers")">
        @if (IsGranted(AppPermissions.Pages_EmployeeApprovers_Create))
        {
        <button id="CreateNewEmployeeApproversButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewEmployeeApprovers")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div id="AdvacedAuditFiltersArea" class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="SearchFilterId">@L("Search")</label>
                            <input class="form-control border-dark" name="filter" id="SearchFilterId" />
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="EmployeeApproversTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("Employee")</th>
                                @foreach(var approverName in Model.ApproverNameList)
                                {
                                    <th>@approverName</th>
                                }
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>