﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LeaveRequestDetails
@model CreateOrEditLeaveRequestDetailsModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLeaveRequestDetails")) : L("CreateNewLeaveRequestDetails")))

<div class="modal-body">
    <div id="LeaveRequestDetailsInformationsTab">
        <form name="LeaveRequestDetailsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.LeaveRequestDetails.Id" />
            }

            <div class="form-group">
                <label for="LeaveRequestDetails_LeaveDate">@L("LeaveDate")</label>
                <input class="form-control m-input date-picker" id="LeaveRequestDetails_LeaveDate" type="text" name="leaveDate" value="@Model.LeaveRequestDetails.LeaveDate" />
            </div>

            <div class="form-group">
                <label for="LeaveRequestDetails_Days">@L("Days")</label>
                <input class="form-control m-input" id="LeaveRequestDetails_Days" value="@Model.LeaveRequestDetails.Days.ToString(CultureInfo.InvariantCulture)" type="number" name="days" />
            </div>

            <div class="m-checkbox-list">
                <label for="LeaveRequestDetails_FirstHalf" class="kt-checkbox">
                    <input id="LeaveRequestDetails_FirstHalf" type="checkbox" name="firstHalf" value="true" @Html.Raw(Model.LeaveRequestDetails.FirstHalf ?"checked=\"checked\"":"") />
                    @L("FirstHalf")
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label for="LeaveRequestDetails_LeaveRequestId">@L("LeaveRequestId")</label>
                <input class="form-control m-input" id="LeaveRequestDetails_LeaveRequestId" value="@Model.LeaveRequestDetails.LeaveRequestId.ToString(CultureInfo.InvariantCulture)" type="number" name="leaveRequestId" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")