﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LeaveRequestDetails
@model LeaveRequestDetailsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="LeaveRequestDetailsInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("LeaveDate") :</h6>
                @Model.LeaveRequestDetails.LeaveDate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Days") :</h6>
                @Model.LeaveRequestDetails.Days
            </div>
            <div class="col-6 mb-3">
                <h6>@L("FirstHalf") :</h6>
                @Model.LeaveRequestDetails.FirstHalf
            </div>
            <div class="col-6 mb-3">
                <h6>@L("LeaveRequestId") :</h6>
                @Model.LeaveRequestDetails.LeaveRequestId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")