﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.LeaveRequestDetails
@using MMB.ePay.Web.Areas.App.Startup
@model LeaveRequestDetailsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Tenant.LeaveRequestDetails;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/LeaveRequestDetails/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("LeaveRequestDetails")" description="@L(" LeaveRequestDetailsHeaderInfo")">

        @if (IsGranted(AppPermissions.Pages_LeaveRequestDetails_Create))
        {
        <button id="CreateNewLeaveRequestDetailsButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewLeaveRequestDetails")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="LeaveRequestDetailsTableFilter" class="form-control m-input" placeholder="@L(" SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetLeaveRequestDetailsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinLeaveDateFilterId">@L("LeaveDateRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MinLeaveDateFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MaxLeaveDateFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinDaysFilterId">@L("MinMax") @L("Days")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minDaysFilter" id="MinDaysFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxDaysFilter" id="MaxDaysFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="FirstHalfFilterId">@L("FirstHalf")</label>
                        <select class="form-control" name="FirstHalfFilter" id="FirstHalfFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinLeaveRequestIdFilterId">@L("MinMax") @L("LeaveRequestId")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minLeaveRequestIdFilter" id="MinLeaveRequestIdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxLeaveRequestIdFilter" id="MaxLeaveRequestIdFilterId" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="LeaveRequestDetailsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("LeaveDate")</th>
                                <th>@L("Days")</th>
                                <th>@L("FirstHalf")</th>
                                <th>@L("LeaveRequestId")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>