﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ExcuseRequests
@model CreateOrEditExcuseRequestsModalViewModel
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditExcuseRequests")) : L("CreateNewExcuseRequests")))

<div class="modal-body">
    <div id="ExcuseRequestsInformationsTab">
        <form name="ExcuseRequestsInformationsForm" role="form" novalidate class="form-validation">
            @if (Model.IsEditMode)
            {
<input type="hidden" name="id" value="@Model.ExcuseRequests.Id" />}

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ExcuseRequests_ExcuseDate">@L("ExcuseDate")</label>
                <div class="col-9">
                    <input class="form-control m-input date-picker border-dark" id="ExcuseRequests_ExcuseDate"
                           type="text" name="excuseDate" value="@Model.ExcuseRequests.ExcuseDate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ExcuseRequests_ExcuseStart">@L("StartDate")</label>
                <div class="col-9">
                    <input class="form-control m-input datetime-picker border-dark" id="ExcuseRequests_ExcuseStart" required
                           type="datetime" name="excuseStart" value="@Model.ExcuseRequests.ExcuseStart" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ExcuseRequests_ExcuseEnd">@L("EndDate")</label>
                <div class="col-9">
                    <input class="form-control m-input datetime-picker border-dark" id="ExcuseRequests_ExcuseEnd" required
                           type="datetime" name="excuseEnd" value="@Model.ExcuseRequests.ExcuseEnd" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ExcuseRequests_ExcuseReasonId">@L("ExcuseReasonId")</label>
                <div class="col-9">
                    <select asp-for="ExcuseRequests.ExcuseReasonId" name="excuseReasonId" class="form-control border-dark" required
                            id="ExcuseRequests_ExcuseReasonId" asp-items="Model.ExcuseReasonList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ExcuseRequests_Remarks">@L("Remarks")</label>
                <div class="col-9">
                    <input class="form-control border-dark" id="ExcuseRequests_Remarks"
                           value="@Model.ExcuseRequests.Remarks" type="text" name="remarks" required
                           maxlength="@MMB.ePay.Timekeeping.ExcuseRequestsConsts.MaxRemarksLength"
                           minlength="@MMB.ePay.Timekeeping.ExcuseRequestsConsts.MinRemarksLength" />
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")