﻿@using MMB.ePay.Authorization
@using MMB.ePay.Timekeeping.Dtos;
@using MMB.ePay.Web.Areas.App.Startup
@model RequestsViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Tenant.ExcuseRequests; }
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/ExcuseRequests/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("ExcuseRequests")">

        @if (IsGranted(AppPermissions.Pages_ExcuseRequests_Create))
        {
<button id="CreateNewExcuseRequestsButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewRequests")</button>}
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div id="AdvacedAuditFiltersArea" class="row mb-4">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="YearFilterId">@L("Year")</label>
                            <select class="form-control  border-dark" name="year" id="YearFilterId" asp-items="Model.YearList"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="AttendancePeriodIdFilterId">@L("Period")</label>
                            <select class="form-control  border-dark" name="attendancePeriodFilter" id="AttendancePeriodFilterId" asp-items="Model.AttendancePeriodList"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="StatusIdFilterId">@L("Status")</label>
                            <select class="form-control  border-dark" name="statusFilter" id="StatusFilterId" asp-items="Model.StatusList"></select>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="ExcuseRequestsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("ExcuseDate")</th>
                                <th>@L("ExcuseStart")</th>
                                <th>@L("ExcuseEnd")</th>
                                <th>@L("Reason")</th>
                                <th>@L("Remarks")</th>
                                <th>@L("Status")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>