﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.RestDayApprovals
@model CreateOrEditRestDayApprovalsModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditRestDayApprovals")) : L("CreateNewRestDayApprovals")))

<div class="modal-body">
    <div id="RestDayApprovalsInformationsTab">
        <form name="RestDayApprovalsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.RestDayApprovals.Id" />
            }

            <div class="form-group">
                <label for="RestDayApprovals_ActedBy">@L("ActedBy")</label>
                <input class="form-control border-dark m-input" id="RestDayApprovals_ActedBy" value="@Model.RestDayApprovals.ActedBy.ToString(CultureInfo.InvariantCulture)" type="number" name="actedBy" />
            </div>

            <div class="form-group">
                <label for="RestDayApprovals_Remarks">@L("Remarks")</label>
                <input class="form-control border-dark" id="RestDayApprovals_Remarks" value="@Model.RestDayApprovals.Remarks" type="text" name="remarks" required maxlength="@MMB.ePay.Timekeeping.RestDayApprovalsConsts.MaxRemarksLength" minlength="@MMB.ePay.Timekeeping.RestDayApprovalsConsts.MinRemarksLength" />
            </div>

            <div class="form-group">
                <label for="RestDayApprovals_RestDayRequestId">@L("RestDayRequestId")</label>
                <input class="form-control border-dark m-input" id="RestDayApprovals_RestDayRequestId" value="@Model.RestDayApprovals.RestDayRequestId.ToString(CultureInfo.InvariantCulture)" type="number" name="restDayRequestId" />
            </div>

            <div class="form-group">
                <label for="RestDayApprovals_StatusId">@L("StatusId")</label>
                <input class="form-control border-dark m-input" id="RestDayApprovals_StatusId" value="@Model.RestDayApprovals.StatusId.ToString(CultureInfo.InvariantCulture)" type="number" name="statusId" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")