﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.RestDayApprovals
@model RestDayApprovalsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<input type="hidden" name="id" value="@Model.RestDayDetails.Id" />

<div class="modal-body">
    <div id="RestDayApprovalsInformationsTab">
        <div class="form-group row">
            <h6 class="col-4 col-form-label">@L("Employee") :</h6>
            <div class="col-8 col-form-label">
                @Model.RestDayDetails.Employee
            </div>
            <h6 class="col-4 col-form-label">@L("RestDayStart") :</h6>
            <div class="col-8 col-form-label">
                @Model.RestDayDetails.RestDayStart
            </div>
            <h6 class="col-4 col-form-label">@L("RestDayEnd") :</h6>
            <div class="col-8 col-form-label">
                @Model.RestDayDetails.RestDayEnd
            </div>
            <h6 class="col-4 col-form-label">@L("RestDay") :</h6>
            <div class="col-8 col-form-label">
                @Model.RestDayDetails.RestDay
            </div>
            <h6 class="col-4 col-form-label">@L("Reason") :</h6>
            <div class="col-8 col-form-label">
                @Model.RestDayDetails.Reason
            </div>
            <h6 class="col-4 col-form-label">@L("Remarks") :</h6>
            <div class="col-8 col-form-label">
                @Model.RestDayDetails.Remarks
            </div>
            <h6 class="col-4 col-form-label">@L("DateFiled") :</h6>
            <div class="col-8 col-form-label">
                @Model.RestDayDetails.DateFiled.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-4 col-form-label">@L("Status") :</h6>
            <div class="col-8 col-form-label">
                @Model.RestDayDetails.Status
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold close-button" data-dismiss="modal">@L("Close")</button>
    @foreach (var status in Model.RestDayDetails.StatusList)
    {

        if (status.Text == "For Update" || status.Text == "Decline")
        {
            <button type="button" data-id="@status.Value" data-status="@status.Text" 
                class="btn btn-primary remarks_button">@status.Text</button>
        }
        else
        {
            <button type="button" data-id="@status.Value" 
                class="btn btn-primary status_button">@status.Text</button>
        }
    }
</div>