﻿@using MMB.ePay.Timekeeping.Dtos
@using MMB.ePay.Web.Areas.App.Startup
@model ApprovalsViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Tenant.RestDayApprovals; }
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/RestDayApprovals/ApprovalRequests.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("RestDayApprovalRequests")">
        <button id="BackButton" class="btn btn-primary blue"><i class="flaticon-paper-plane"></i> @L("PendingApprovals")</button>
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div id="AdvacedAuditFiltersArea" class="row mb-4">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@L("Approver")</label>
                            <select asp-for="ApproverTypeId" class="form-control border-dark" name="approverFilter" id="ApproverFilterId" asp-items="Model.ApproverTypeList"></select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@L("Year")</label>
                            <select class="form-control border-dark" name="year" id="YearFilterId" asp-items="Model.YearList"></select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@L("Frequency")</label>
                            <select class="form-control border-dark" name="frequency" id="FrequencyFilterId" asp-items="Model.FrequencyList"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>@L("Period")</label>
                            <select class="form-control border-dark" name="attendancePeriodFilter" id="AttendancePeriodFilterId" asp-items="Model.AttendancePeriodList"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>@L("Employee")</label>
                            <input class="form-control border-dark" type="hidden" id="EmployeeFilterId" />
                            <input class="form-control border-dark" id="EmployeeFilterName" />
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="RestDayApprovalsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("EmployeeId")</th>
                                <th>@L("Employee")</th>
                                <th>@L("RestDayStart")</th>
                                <th>@L("RestDayEnd")</th>
                                <th>@L("RestDays")</th>
                                <th>@L("Reason")</th>
                                <th>@L("Remarks")</th>
                                <th>@L("Status")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>