﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Hangfire
@model HangfireViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="HangfireInformationsTab">
        <div class="form-group row">
            <h6 class="col-4 col-form-label">@L("DisplayName") :</h6>
            <div class="col-8 col-form-label">
                @Model.Hangfire.DisplayName
            </div>
            <h6 class="col-4 col-form-label">@L("Queue") :</h6>
            <div class="col-8 col-form-label">
                @Model.Hangfire.Queue
            </div>
            <h6 class="col-4 col-form-label">@L("Cron") :</h6>
            <div class="col-8 col-form-label">
                @Model.Hangfire.Cron
            </div>
            <h6 class="col-4 col-form-label">@L("NextExecution") :</h6>
            <div class="col-8 col-form-label">
                @Model.Hangfire.NextExecution?.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-4 col-form-label">@L("LastExecution") :</h6>
            <div class="col-8 col-form-label">
                @Model.Hangfire.LastExecution?.ToString("MM/dd/yyyy")
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")