﻿@using MMB.ePay.Web.Areas.App.Models.Hangfire
@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Startup
@model HangfireViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Host.RecurringJobs; }
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/RecurringJobs/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">
    <abp-page-subheader title="@L("RecurringJobs")"></abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <table id="RecurringJobsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("DisplayName")</th>
                                <th>@L("Queue")</th>
                                <th>@L("Cron")</th>
                                <th>@L("NextExecution")</th>
                                <th>@L("LastExecution")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>