﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Authorization.Accounts.Dto
@model IList<TimeEntries>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("ViewEntries")))

<div class="modal-body">
    <div id="EntriesInformationsTab">
        <div class="row align-items-center">
            <table id="EntriesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>@L("LogTime")</th>
                        <th>@L("InOut")</th>
                        <th>@L("Device")</th>
                        <th>@L("WorkFromHome")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var timeEntry in Model)
                    {
                        <tr>
                            <td>@timeEntry.LogTime</td>
                            <td>@timeEntry.InOut</td>
                            <td>@timeEntry.Device</td>
                            <td>@timeEntry.WorkFromHome</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")