﻿@using Abp.Json
@using MMB.ePay.Localization
@model MMB.ePay.Web.Models.Account.ResetPasswordViewModel

@section Scripts
{
    <script>
        window.passwordComplexitySetting = @Html.Raw(Model.PasswordComplexitySetting.ToJsonString(indented: true));
    </script>
    <script abp-src="/view-resources/Views/Account/ResetPassword.js" asp-append-version="true"></script>
}

@section Styles{
    <link href="/metronic/common/css/login-1@(CultureHelper.IsRtl ? ".rtl" : "").css" rel="stylesheet"/>
}

<div class="login-form">
    <div class="pb-13 pt-lg-0 pt-5">
        <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">@L("ChangePassword")</h3>
    </div>
    <form class="form pass-reset-form" asp-action="ResetPassword" method="post">
        <p>
            @L("PleaseEnterYourNewPassword")
        </p>
        <input type="hidden" name="UserId" value="@Model.UserId.ToString()">
        <input type="hidden" name="ResetCode" value="@Model.ResetCode">
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl">
        <div class="form-group">
            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="password" autocomplete="new-password" id="Password" placeholder="@L("Password")" name="Password" required/>
        </div>
        <div class="form-group">
            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="password" autocomplete="new-password" placeholder="@L("PasswordRepeat")" name="PasswordRepeat" required/>
        </div>
        <div class="pb-lg-0 pb-5">
            <span>&nbsp;</span>
            <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">@L("Submit")</button>
        </div>
    </form>
</div>
