@using MMB.ePay.Localization

@section Scripts
{
    <script src="/view-resources/Views/Account/TimeEntry.js" asp-append-version="true"></script>
}

@section Styles{
    <link href="/metronic/common/css/login-1@(CultureHelper.IsRtl ? ".rtl" : "").css" rel="stylesheet" />
}

<div class="login-form">
    <div class="pb-13 pt-lg-0 pt-5 rounded-lg" style="background-color: lightskyblue; padding: 10px 0 10px 10px !important; text-align:center;">
        <a class="font-weight-bolder text-dark font-size-h1" id="time-part"></a>
        <br />
        <a class="font-weight-normal text-dark font-size-sm" id="date-part"></a>
    </div>

    <div class="pb-13 pt-lg-0 pt-5" style="padding-bottom: 10px !important; padding-top: 10px !important; margin-bottom: 0; margin-top: 25px;">
        <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">@L("TimeEntry")</h3>
    </div>
    <form name="TimeEntryInformationsForm" class="login-form form" autocomplete="off">
        <div class="form-group font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
            <text id="date-part"></text>
            <text id="time-part"></text>
        </div>

        <div class="form-group">
            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                   type="text" placeholder="@L("UserNameOrEmail")" name="usernameOrEmailAddress" required>
        </div>

        <div class="form-group">
            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
                   type="password" placeholder="@L("Password")" name="password" required>
        </div>

        <div class="form-group d-flex justify-content-between mt-4">
            <label class="checkbox checkbox-outline">
                <input type="checkbox" name="workFromHome" value="true">
                <span>
                </span>
                @L("WorkFromHome")
            </label>
        </div>

        <div class="pb-lg-0 pb-5">
            <button type="button" id="TimeInBtn" class="btn btn-block btn-success font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">@L("TimeIn")</button>
            <button type="button" id="TimeOutBtn" class="btn btn-block btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">@L("TimeOut")</button>
            <button type="button" id="EntriesBtn" class="btn btn-block btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">@L("ViewEntries")</button>
        </div>
    </form>
</div>
