﻿@using Abp.Configuration;
@using MMB.ePay
@using MMB.ePay.Configuration
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("ChangeProfilePicture")))

<div class="modal-body">
    <form id="ChangeProfilePictureModalForm" method="POST" 
          action="@(ApplicationPath + "Profile/UploadProfilePicture")">
        @{
            var canUseGravatarProfilePicture = await SettingManager.GetSettingValueAsync<bool>
                ("App.UserManagement.AllowUsingGravatarProfilePicture");
        }
        @if (canUseGravatarProfilePicture)
        {
            <div class="form-group">
                <label for="Profile_UseGravatarProfilePicture" class="checkbox checkbox-outline">
                    <input id="Profile_UseGravatarProfilePicture" type="checkbox" name="UseGravatarProfilePicture" @(await SettingManager.GetSettingValueAsync<bool>(AppSettings.UserManagement.UseGravatarProfilePicture) ? "checked=\"checked\"" : "")>
                    <span></span>
                    @L("UseGravatarProfilePicture")
                </label>
            </div>
        }
        <div class="form-group">
            <input type="file" name="ProfilePicture" 
                   @(canUseGravatarProfilePicture && await SettingManager.GetSettingValueAsync<bool>
                (AppSettings.UserManagement.UseGravatarProfilePicture) ? "disabled=\"disabled\"" : "")/>
            <span class="help-block m-b-none">
                @L("ProfilePicture_Change_Info", AppConsts.MaxProfilPictureBytesUserFriendlyValue)
            </span>
        </div>
    </form>
    <img id="ProfilePictureResize" src=""/>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
