﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.Welcome
@using MMB.ePay.Web.Areas.App.Startup
@model WelcomeViewModel

<div class="content d-flex flex-column flex-column-fluid">
    <abp-page-subheader title="@L("Dashboard")"></abp-page-subheader>
    <div class="@(await GetContainerClass())">

        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-custom card-stretch gutter-b">
                            <div class="card-body">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="kt-widget-15__body">
                                            <div class="kt-widget-15__author">
                                                <div class="kt-widget-15__detail">
                                                    <h3 class="kt-widget-15">
                                                        Hi, @Model.Welcome.FullName
                                                    </h3>
                                                    <div class="kt-widget-15__info">
                                                        &nbsp;&nbsp;&nbsp;Welcome to MMB Aion Timekeeping System
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card card-custom card-stretch gutter-b">
                            <div class="card-body">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="kt-widget-14__body">
                                            <div class="kt-widget-14__product">
                                                <div class="kt-widget-14__content">
                                                    @{ var invalidCountEntry = Model.Welcome.InvalidCount == 1 ? " entry" : " entries";}

                                                    @if (Model.Welcome.InvalidCount > 0)
                                                    {
                                                        <h4 class="kt-widget-14">
                                                            You have a total of <b><u>@Html.ActionLink(@Model.Welcome.InvalidCount.ToString(), "Index", "Attendances")</u></b> invalid entries for this period
                                                            <br />
                                                        </h4>
                                                    }
                                                    else
                                                    {
                                                        <h4 class="kt-widget-14">
                                                            You have no invalid entries for this period
                                                        </h4>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        @if (!string.IsNullOrEmpty(Model.Welcome.TransactionPeriod))
                                        {
                                            <div class="row" style="padding-top: 20px;">
                                                <div class="kt-widget-14__foot col-3">
                                                    <div class="kt-widget-14__foot-info">
                                                        <div class="kt-widget-14__foot-desc">Current Period</div>
                                                        <div class="kt-widget-14__foot-label btn btn-sm btn-label-brand btn-bold">
                                                            @Model.Welcome.TransactionPeriod
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="kt-widget-15__foot col-3">
                                                    <div class="kt-widget-15__foot-info">
                                                        <div class="kt-widget-15__foot-desc">Date Today</div>
                                                        <div class="kt-widget-15__foot-label btn btn-sm btn-label-brand btn-bold">
                                                            @Model.Welcome.CurrentDate
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="kt-widget-14__foot col-3">
                                                    <div class="kt-widget-15__info">
                                                        <div class="kt-widget-15__info--item">
                                                            Time Entries Today
                                                        </div>

                                                        @if (Model.Welcome.ListTimeEntriesToday.Count == 0)
                                                        {
                                                            <div class="kt-widget-15__info--item">
                                                                &nbsp; N/A
                                                            </div> }
                                                        else
                                                        {
                                                            <ul class="kt-widget-15__info--item" style="list-style-type:square;">
                                                                @foreach (var logTime in Model.Welcome.ListTimeEntriesToday)
                                                                {
                                                                    <li>@logTime</li>
                                                                }
                                                            </ul>
                                                        }
                                                    </div>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card card-custom card-stretch gutter-b">
                            <div class="card-header">
                                <div class="card-title">
                                    My Shift Details
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="kt-widget-slider-14-2" class="kt-slider carousel slide" data-ride="carousel" data-interval="8000">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="kt-widget-15__body">
                                                <table class="table table-separate table-head-custom table-checkable">
                                                    <thead style="text-align:center;">
                                                        <tr>
                                                            <td></td>
                                                            <td>@L("Shift")</td>
                                                            <td>@L("TimeIn")</td>
                                                            <td>@L("TimeOut")</td>
                                                            <td>@L("RestDay")</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="text-align:center;">
                                                        <tr>
                                                            <td style="font-weight: bold;">Default</td>
                                                            <td>@Model.Welcome.DefaultShiftName</td>
                                                            <td>@Model.Welcome.DefaultTimeIn</td>
                                                            <td>@Model.Welcome.DefaultTimeOut</td>
                                                            <td>@Model.Welcome.DefaultRestDay</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-weight: bold;">Current</td>

                                                            @if (Model.Welcome.CurrentShiftName != null)
                                                            {
                                                                <td>@Model.Welcome?.CurrentShiftName</td>
                                                                <td>@Model.Welcome?.CurrentTimeIn</td>
                                                                <td>@Model.Welcome?.CurrentTimeOut</td>
                                                                <td>@Model.Welcome?.CurrentRestDay</td>
                                                            }
                                                            else
                                                            {
                                                                <td>@Model.Welcome.DefaultShiftName</td>
                                                                <td>@Model.Welcome.DefaultTimeIn</td>
                                                                <td>@Model.Welcome.DefaultTimeOut</td>
                                                                <td>@Model.Welcome.DefaultRestDay</td>
                                                            }

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (Model.Welcome.EmployeeApprovers.Count > 0)
                    {
                        <div class="col-md-6">
                            <div class="card card-custom card-stretch gutter-b">
                                <div class="card-header">
                                    <div class="card-title">
                                        My Approvers
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="kt-widget-slider-14-2" class="kt-slider carousel slide" data-ride="carousel" data-interval="8000">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="kt-widget-15__body">
                                                    <table class="table table-separate table-head-custom table-checkable">
                                                        <tbody>
                                                            @foreach (var approver in Model.Welcome.EmployeeApprovers)
                                                            {
                                                                <tr>
                                                                    <td>@approver.Item1</td>
                                                                    <td>@approver.Item2</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    @if (Model.Welcome.IsMainApprover || Model.Welcome.IsBackupApprover)
                    {
                        <div class="col-md-12">
                            <div class="card card-custom card-stretch gutter-b">
                                <div class="card-header">
                                    <div class="card-title">
                                        My Approvals
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="kt-widget-slider-14-2" class="kt-slider carousel slide" data-ride="carousel" data-interval="8000">
                                        @if (Model.Welcome.IsMainApprover)
                                        {
                                            <div class="kt-slider__head" style="text-align:center;">
                                                <div class="kt-slider__label">
                                                    <b>As Main Approver</b>
                                                </div>
                                            </div>
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <div class="kt-widget-15__body">
                                                        <table class="table table-separate table-head-custom table-checkable">
                                                            <tr>
                                                                @if (Model.Welcome.AttendanceMain > 0)
                                                                {
                                                                    <td><a href="~/App/AttendanceApprovals?type=false">Attendance</a></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>Attendance</td>
                                                                }
                                                                <td style="text-align:center;"><b>@Model.Welcome.AttendanceMain</b></td>
                                                            </tr>
                                                            <tr>
                                                                @if (Model.Welcome.LeaveMain > 0)
                                                                {
                                                                    <td><a href="~/App/LeaveApprovals?type=false">Leave</a></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>Leave</td>
                                                                }
                                                                <td style="text-align:center;"><b>@Model.Welcome.LeaveMain</b></td>
                                                            </tr>
                                                            <tr>
                                                                @if (Model.Welcome.OBMain > 0)
                                                                {
                                                                    <td><a href="~/App/OfficialBusinessApprovals?type=false">Official Business</a></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>Official Business</td>
                                                                }
                                                                <td style="text-align:center;"><b>@Model.Welcome.OBMain</b></td>
                                                            </tr>
                                                            <tr>
                                                                @if (Model.Welcome.OTMain > 0)
                                                                {
                                                                    <td><a href="~/App/OvertimeApprovals?type=false">Overtime</a></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>Overtime</td>
                                                                }
                                                                <td style="text-align:center;"><b>@Model.Welcome.OTMain</b></td>
                                                            </tr>
                                                            <tr>
                                                                @if (Model.Welcome.RestDayMain > 0)
                                                                {
                                                                    <td><a href="~/App/RestDayApprovals?type=false">Rest Day</a></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>Rest Day</td>
                                                                }
                                                                <td style="text-align:center;"><b>@Model.Welcome.RestDayMain</b></td>
                                                            </tr>
                                                            <tr>
                                                                @if (Model.Welcome.ShiftMain > 0)
                                                                {
                                                                    <td><a href="~/App/ShiftApprovals?type=false">Shift</a></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>Shift</td>
                                                                }
                                                                <td style="text-align:center;"><b>@Model.Welcome.ShiftMain</b></td>
                                                            </tr>
                                                        </table>


                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        @if (Model.Welcome.IsBackupApprover)
                                        {
                                            <div class="kt-slider__head" style="text-align:center;">
                                                <div class="kt-slider__label">
                                                    <b>As Back-up Approver</b>
                                                </div>
                                            </div>
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <div class="kt-widget-15__body">
                                                        <table class="table table-separate table-head-custom table-checkable">
                                                            <tr>
                                                                @if (Model.Welcome.AttendanceBackup > 0)
                                                                {
                                                                    <td><a href="~/App/AttendanceApprovals?type=true">Attendance</a></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>Attendance</td>
                                                                }
                                                                <td style="text-align:center;"><b>@Model.Welcome.AttendanceBackup</b></td>
                                                            </tr>
                                                            <tr>
                                                                @if (Model.Welcome.LeaveBackup > 0)
                                                                {
                                                                    <td><a href="~/App/LeaveApprovals?type=true">Leave</a></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>Leave</td>
                                                                }
                                                                <td style="text-align:center;"><b>@Model.Welcome.LeaveBackup</b></td>
                                                            </tr>
                                                            <tr>
                                                                @if (Model.Welcome.OBBackup > 0)
                                                                {
                                                                    <td><a href="~/App/OfficialBusinessApprovals?type=true">Official Business</a></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>Official Business</td>
                                                                }
                                                                <td style="text-align:center;"><b>@Model.Welcome.OBBackup</b></td>
                                                            </tr>
                                                            <tr>
                                                                @if (Model.Welcome.OTBackup > 0)
                                                                {
                                                                    <td><a href="~/App/OvertimeApprovals?type=true">Overtime</a></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>Overtime</td>
                                                                }
                                                                <td style="text-align:center;"><b>@Model.Welcome.OTBackup</b></td>
                                                            </tr>
                                                            <tr>
                                                                @if (Model.Welcome.RestDayBackup > 0)
                                                                {
                                                                    <td><a href="~/App/RestDayApprovals?type=true">Rest Day</a></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>Rest Day</td>
                                                                }
                                                                <td style="text-align:center;"><b>@Model.Welcome.RestDayBackup</b></td>
                                                            </tr>
                                                            <tr>
                                                                @if (Model.Welcome.ShiftBackup > 0)
                                                                {
                                                                    <td><a href="~/App/ShiftApprovals?type=true">Shift</a></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>Shift</td>
                                                                }
                                                                <td style="text-align:center;"><b>@Model.Welcome.ShiftBackup</b></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>

                        </div>

                    }

                    <div class="col-md-12">
                        <div class="card card-custom card-stretch gutter-b">
                            <div class="card-header">
                                <div class="card-title">
                                    My Pending Requests
                                </div>
                            </div>
                            <div class="card-body">
                                <div id="kt-widget-slider-14-2" class="kt-slider carousel slide" data-ride="carousel" data-interval="8000">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="kt-widget-15__body">
                                                <table class="table table-separate table-head-custom table-checkable">
                                                    <tr>
                                                        @if (Model.Welcome.AttendancePending > 0)
                                                        {
                                                            <td>@Html.ActionLink("Attendance", "Index", "AttendanceRequests")</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Attendance</td>
                                                        }
                                                        <td style="text-align:center;"><b>@Model.Welcome.AttendancePending</b></td>
                                                    </tr>
                                                    <tr>
                                                        @if (Model.Welcome.LeavePending > 0)
                                                        {
                                                            <td>@Html.ActionLink("Leave", "Index", "LeaveRequests")</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Leave</td>
                                                        }
                                                        <td style="text-align:center;"><b>@Model.Welcome.LeavePending</b></td>
                                                    </tr>
                                                    <tr>
                                                        @if (Model.Welcome.OBPending > 0)
                                                        {
                                                            <td>@Html.ActionLink("Official Business", "Index", "OfficialBusinessRequests")</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Official Business</td>
                                                        }
                                                        <td style="text-align:center;"><b>@Model.Welcome.OBPending</b></td>
                                                    </tr>
                                                    <tr>
                                                        @if (Model.Welcome.OTPending > 0)
                                                        {
                                                            <td>@Html.ActionLink("Overtime", "Index", "OvertimeRequests")</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Overtime</td>
                                                        }
                                                        <td style="text-align:center;"><b>@Model.Welcome.OTPending</b></td>
                                                    </tr>
                                                    <tr>
                                                        @if (Model.Welcome.RestDayPending > 0)
                                                        {
                                                            <td>@Html.ActionLink("Rest Day", "Index", "RestDayRequests")</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Rest Day</td>
                                                        }
                                                        <td style="text-align:center;"><b>@Model.Welcome.RestDayPending</b></td>
                                                    </tr>
                                                    <tr>
                                                        @if (Model.Welcome.ShiftPending > 0)
                                                        {
                                                            <td>@Html.ActionLink("Shift", "Index", "ShiftRequests")</td>
                                                        }
                                                        else
                                                        {
                                                            <td>Shift</td>
                                                        }
                                                        <td style="text-align:center;"><b>@Model.Welcome.ShiftPending</b></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
