﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.RawTimeLogs
@model RawTimeLogsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="RawTimeLogsInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("LogTime") :</h6>
            <label class="col-6 col-form-label">
                @Model.RawTimeLogs.LogTime.ToString("MM/dd/yyyy")
            </label>
            <h6 class="col-6 col-form-label">@L("InOut") :</h6>
            <label class="col-6 col-form-label">
                @Model.RawTimeLogs.InOut
            </label>
            <h6 class="col-6 col-form-label">@L("WorkFromHome") :</h6>
            <label class="col-6 col-form-label">
                @Model.RawTimeLogs.WorkFromHome
            </label>
            <h6 class="col-6 col-form-label">@L("Device") :</h6>
            <label class="col-6 col-form-label">
                @Model.RawTimeLogs.Device
            </label>
            <h6 class="col-6 col-form-label">@L("Address") :</h6>
            <label class="col-6 col-form-label">
                @Model.RawTimeLogs.Address
            </label>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")