﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.RawTimeLogs
@model AttendancesRawEntriesModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("RawEntries")))

<div class="modal-body">
    <div id="AttendancesInformationsTab">
        <table class="display table table-striped table-bordered table-hover dt-responsive nowrap">
            <thead>
                <tr>
                    <th>@L("LogTime")</th>
                    <th>@L("InOut")</th>
                    <th>@L("WorkFromHome")</th>
                    <th>@L("Device")</th>
                </tr>
            </thead>

            @foreach (var rawTimelogs in Model.RawTimeLogsList)
            {
                <tr>
                    <td>
                        @rawTimelogs.LogTime.ToString("MM/dd/yyyy hh:mm:ss")
                    </td>
                    <td>
                        @rawTimelogs.InOut
                    </td>
                    <td>
                        @if (rawTimelogs.WorkFromHome)
                        {
                            <div class="text-center"><i class="fa fa-check text-success" title="True"></i></div>
                        }
                        else
				        {
                            <div class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
				        }
                    </td>
                    <td>
                        @rawTimelogs.Device
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")