﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.RawTimeLogs
@using MMB.ePay.Web.Areas.App.Startup
@model RawTimeLogsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Tenant.RawTimeLogs;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/RawTimeLogs/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">
    <abp-page-subheader title="@L("RawTimeLogs")"></abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div id="AdvacedAuditFiltersArea" class="row mb-4">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>@L("Employee")</label>
                            <input class="form-control border-dark" type="hidden" id="EmployeeFilterId" />
                            <input class="form-control border-dark" id="EmployeeFilterName" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>@L("Date")</label>
                            <input class="form-control m-input date-picker border-dark" name="date" type="text" id="DateFilter" />
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="RawTimeLogsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("LogTime")</th>
                                <th>@L("InOut")</th>
                                <th>@L("WorkFromHome")</th>
                                <th>@L("Device")</th>
                                <th>@L("Latitude")</th>
                                <th>@L("Longitude")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>