﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Attendances
@model CreateOrEditAttendancesModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditAttendances")) : L("CreateNewAttendances")))

<div class="modal-body">
    <div id="AttendancesInformationsTab">
        <form name="AttendancesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.Attendances.Id" />

                <div class="form-group">
                    <label for="Attendances_Date">@L("Date")</label>
                    <input class="form-control border-dark m-input date-picker" type="text" value="@Model.Attendances.Date" disabled />
                </div>
            }

            <div class="form-group">
                <label for="Attendances_TimeIn">@L("TimeIn")</label>
                <input class="form-control border-dark m-input timepicker-picker" id="Attendances_TimeIn" type="time" name="timeIn" value="@Model.Attendances.TimeIn" />
            </div>

            <div class="form-group">
                <label for="Attendances_BreaktimeIn">@L("BreaktimeIn")</label>
                <input class="form-control border-dark m-input timepicker-picker" id="Attendances_BreaktimeIn" type="time" name="breaktimeIn" value="@Model.Attendances.BreaktimeIn" />
            </div>

            <div class="form-group">
                <label for="Attendances_BreaktimeOut">@L("BreaktimeOut")</label>
                <input class="form-control border-dark m-input timepicker-picker" id="Attendances_BreaktimeOut" type="time" name="breaktimeOut" value="@Model.Attendances.BreaktimeOut" />
            </div>

            <div class="form-group">
                <label for="Attendances_TimeOut">@L("TimeOut")</label>
                <input class="form-control border-dark m-input timepicker-picker" id="Attendances_TimeOut" type="time" name="timeOut" value="@Model.Attendances.TimeOut" />
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")