﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Attendances
@model AttendancesViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="AttendancesInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("Date") :</h6>
            <label class="col-6 col-form-label">
                @Model.Attendances.Date.ToString("MM/dd/yyyy")
            </label>
            <h6 class="col-6 col-form-label">@L("Day") :</h6>
            <label class="col-6 col-form-label">
                @Model.Attendances.Day
            </label>
            <h6 class="col-6 col-form-label">@L("Shift") :</h6>
            <label class="col-6 col-form-label">
                @Model.Attendances.Shift
            </label>

            <h6 class="col-6 col-form-label">@L("ActualShift") :</h6>
            <label class="col-6 col-form-label">
                @Model.Attendances.ActualShift
            </label>

            <h6 class="col-6 col-form-label">@L("TimeIn") :</h6>
            @if (Model.Attendances.TimeIn == null)
            {
                <label class="col-6 col-form-label">
                    NO ENTRY
                </label> 
            }
            else
            {
                <label class="col-6 col-form-label">
                    @Model.Attendances.TimeIn?.ToString("hh:mm tt")
                </label>           
            }

            <h6 class="col-6 col-form-label">@L("LunchBreaktimeIn") :</h6>
            @if (Model.Attendances.BreaktimeIn == null)
            {
                <label class="col-6 col-form-label">
                    NO ENTRY
                </label> 
            }
            else
            {
                <label class="col-6 col-form-label">
                    @Model.Attendances.BreaktimeIn?.ToString("hh:mm tt")
                </label>
            }
            <h6 class="col-6 col-form-label">@L("LunchBreaktimeOut") :</h6>
            @if (Model.Attendances.BreaktimeOut == null)
            {
                <label class="col-6 col-form-label">
                    NO ENTRY
                </label>
            }
            else
            {
                <label class="col-6 col-form-label">
                    @Model.Attendances.BreaktimeOut?.ToString("hh:mm tt")
                </label>            
            }

            @if (Model.HasPMBreak)
            {
                <h6 class="col-6 col-form-label">@L("BreaktimeIn") :</h6>
                @if (Model.Attendances.PMBreaktimeIn == null)
                {
                    <label class="col-6 col-form-label">
                        NO ENTRY
                    </label> 
                }
                else
                {
                    <label class="col-6 col-form-label">
                        @Model.Attendances.PMBreaktimeIn?.ToString("hh:mm tt")
                    </label>
                }
                <h6 class="col-6 col-form-label">@L("BreaktimeOut") :</h6>
                @if (Model.Attendances.PMBreaktimeOut == null)
                {
                    <label class="col-6 col-form-label">
                        NO ENTRY
                    </label>
                }
                else
                {
                    <label class="col-6 col-form-label">
                        @Model.Attendances.PMBreaktimeOut?.ToString("hh:mm tt")
                    </label>            
                }
            }
            
            <h6 class="col-6 col-form-label">@L("TimeOut") :</h6>
            @if (Model.Attendances.TimeOut == null)
            {
                <label class="col-6 col-form-label">
                    NO ENTRY
                </label>
            }
            else
            {
                <label class="col-6 col-form-label">
                    @Model.Attendances.TimeOut?.ToString("hh:mm tt")
                </label>
            }
        </div>

        <div class="form-group row" style="border-top: thin"></div>

        <div class="form-group row">
            @if (!string.IsNullOrEmpty(Model.Attendances.Regular))
            {
                <h6 class="col-6 col-form-label">@L("Regular") :</h6>
                <label class="col-6 col-form-label">
                    @Model.Attendances.Regular
                </label>
            }
            @if (Model.Attendances.Absence > 0)
            {
                <h6 class="col-6 col-form-label">@L("Absence") :</h6>
                <label class="col-6 col-form-label">
                    @Model.Attendances.Absence.ToString("0.00 day(s)") 
                </label>
            }
            @if (Model.Attendances.Tardy > 0)
            {
                <h6 class="col-6 col-form-label">@L("Tardy") :</h6>
                <label class="col-6 col-form-label">
                    @Model.Attendances.Tardy.ToString("0.00 minute(s)") 
                </label>
            }
            @if (!string.IsNullOrEmpty(Model.Attendances.OfficialBusiness))
            {
                <h6 class="col-6 col-form-label">@L("OfficialBusiness") :</h6>
                <label class="col-6 col-form-label">
                    @Model.Attendances.OfficialBusiness
                </label>
            }
            @if (Model.Attendances.Undertime > 0)
            {
                <h6 class="col-6 col-form-label">@L("Undertime") :</h6>
                <label class="col-6 col-form-label">
                    @Model.Attendances.Undertime.ToString("0.00 minute(s)")
                </label>
            }
            @if (!string.IsNullOrEmpty(Model.Attendances.ND1))
            {
                <h6 class="col-6 col-form-label">@L("RegularND1") :</h6>
                <label class="col-6 col-form-label">
                    @Model.Attendances.ND1
                </label>
            }
            @if (!string.IsNullOrEmpty(Model.Attendances.ND2))
            {
                <h6 class="col-6 col-form-label">@L("RegularND2") :</h6>
                <label class="col-6 col-form-label">
                    @Model.Attendances.ND2
                </label>
            }
            @foreach(var overtime in Model.Attendances.OvertimeList)
            {
                <h6 class="col-6 col-form-label">@overtime.OvertimeType :</h6>
                <label class="col-6 col-form-label">
                    @overtime.Hours
                </label>
            }
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")