﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.Attendances
@using MMB.ePay.Web.Areas.App.Startup
@model AttendancesPostViewModel
@{ 
	ViewBag.CurrentPageName = AppPageNames.Tenant.Post; 
}
@section Scripts
{
	<script src="/view-resources/Areas/App/Views/Attendances/Post.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">
	<abp-page-subheader title="@L("Post")"></abp-page-subheader>

	<div class="@(await GetContainerClass())">
		<div class="card card-custom gutter-b col-md-8">
			<form asp-area="App" asp-action="Post" id="formPost">

				<div class="card-body">
					<div id="AttendancesUploadInformationsTab">
						<div class="form-group row">
                            <label class="col-4 col-form-label">@L("Frequency")</label>
                            <select asp-for="FrequencyFilterId" class="form-control border-dark" asp-items="Model.FrequencyList"></select>
                            <span asp-validation-for="FrequencyFilterId" class="form-text text-danger"></span>
                        </div>

						<div class="row">
							<div class="col-6 mb-3">
								<input type="hidden" id="IsPosted" value="@Model.Posted.ToString()" />
								<h6>@L("AttendancePeriod") :</h6>
                                <div id="dvAttendacePeriod"></div>
							</div>
						</div>

						@if ((Model.InvalidAttendances.Count > 0 || Model.PendingLeaveRequestCount > 0) && !Model.Posted)
						{
							<div class="row">
                                <div class="col-7 mb-3">
                                    <span class="form-text text-danger">
                                        Post unsuccessful. 

										@if (Model.InvalidAttendances.Count > 0)
										{
											<br />
											<div>
												&nbsp; &nbsp; -There are invalid entries in the Timesheet.
											</div>
										}

										@if (Model.PendingLeaveRequestCount > 0)
										{
											<div>
												&nbsp; &nbsp; -There are <b>@Model.PendingLeaveRequestCount</b> pending leave requests.
											</div>
										}

                                    </span>
                                </div>
							</div>
							<div class="row">
                                <label class="col-2 col-form-label">Post anyway?</label>
                                <div class="radio-inline col-10">
                                    <label class="radio ">
                                        <input asp-for="IsForced" name="isForced" class="form-control border-dark" type="radio" value="true">
                                        <span></span>
                                        Yes
                                    </label>
                                    <label class="radio radio">
                                        <input asp-for="IsForced" name="isForced" class="form-control border-dark" type="radio" value="false">
                                        <span></span>
                                        No
                                    </label>
                                </div>
                            </div>
							<div class="row">
								<table class="display table table-striped table-bordered table-hover dt-responsive nowrap">
									<thead>
                                        <tr>
                                            <td>@L("Employee")</td>
                                            <td>@L("Date")</td>
                                            <td>@L("TimeIn")</td>
                                            <td>@L("BreaktimeIn")</td>
                                            <td>@L("BreaktimeOut")</td>
                                            <td>@L("TimeOut")</td>
                                        </tr>
									</thead>
									<tbody>
										@foreach (var attendance in Model.InvalidAttendances)
										{
											<tr>
												<td>@attendance.Employee</td>
												<td>@attendance.Date</td>
												<td>@attendance.TimeIn</td>
												<td>@attendance.BreaktimeIn</td>
												<td>@attendance.BreaktimeOut</td>
												<td>@attendance.TimeOut</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						}

					</div>
				</div>
				<div class="card-footer">
					<div class="row align-items-center">
						<div class="col-lg-12">
							<button type="button" id="saveBtn" class="btn btn-success float-right">
								<i class="fa fa-save"></i>
								@L("Post")
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


