﻿@using MMB.ePay.Web.Areas.App.Models.Attendances
@using MMB.ePay.Web.Areas.App.Startup
@model AttendancesProcessViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Tenant.Process; }
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/Attendances/Process.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">
    <abp-page-subheader title="@L("Process")"></abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b col-md-8">
            <form asp-area="App" asp-action="Process" id="frmProcess">

                <input required type="hidden" asp-for="EmployeeId" />

                <div class="card-body">
                    <div id="AttendancesUploadInformationsTab">
                        <div class="form-group row">
                            <label for="SearchFilterId">@L("Employee")</label>
                            <input asp-for="SearchFilterId" type="text" class="form-control border-dark" id="SearchFilterId" />
                        </div>

                        <div class="form-group row">
                            <label class="col-4 col-form-label">@L("Frequency")</label>
                            <select asp-for="FrequencyFilterId" class="form-control border-dark" asp-items="Model.FrequencyList"></select>
                            <span asp-validation-for="FrequencyFilterId" class="form-text text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <label class="col-4 col-form-label">@L("AttendancePeriod")</label>
                            <select asp-for="AttendancePeriodId" class="form-control border-dark"
                                    asp-items="Model.AttendancePeriodList"></select>
                            <span asp-validation-for="AttendancePeriodId" class="form-text text-danger"></span>

                            @if (Model.StatusMessage != null)
                            {
                                <span class="form-text text-danger">
                                    @Model.StatusMessage
                                </span>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <button type="button" id="saveBtn" class="btn btn-success float-right">
                                <i class="fa fa-save"></i>
                                @L("Process")
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


