﻿@using MMB.ePay.Web.Areas.App.Models.Attendances
@using MMB.ePay.Web.Areas.App.Startup
@model AttendancesUploadViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Tenant.Upload; }

<div class="content d-flex flex-column flex-column-fluid">
    <abp-page-subheader title="@L("UploadAttendances")"></abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b col-md-8">
            <form asp-area="App" asp-action="Upload" enctype="multipart/form-data">
                <div class="card-body">
                    <div id="AttendancesUploadInformationsTab">
                        <div class="form-group row">
                            <label class="col-4 col-form-label">@L("Frequency")</label>
                            <div class="col-8">
                                <select asp-for="AttendancesUpload.FrequencyId" class="form-control border-dark"
                                        asp-items="Model.FrequencyList"></select>
                                <span asp-validation-for="AttendancesUpload.FrequencyId" class="form-text text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="custom-file">
                                <input asp-for="AttendancesUpload.File" type="file" class="custom-file-input">
                                <label class="custom-file-label" for="UploadFile">Choose file</label>
                            </div>

                            @if (Model.AttendancesUpload.CustomError != string.Empty)
                            {
                                <span class="form-text text-danger">
                                    @Model.AttendancesUpload.CustomError
                                </span>
                            }

                            else if (Model.AttendancesUpload.Count > 0)
                            {
                                <span class="form-text text-danger">
                                    You have uploaded <b>@Model.AttendancesUpload.FinalCount / @Model.AttendancesUpload.Count</b> Timelog(s).
                                </span>
                            }

                            else if (Model.AttendancesUpload.Count == 0)
                            {
                                <span class="form-text text-danger">
                                    File is required.
                                </span>
                            }



                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <button type="submit" id="saveBtn" class="btn btn-success float-right">
                                <i class="fa fa-save"></i>
                                @L("Upload")
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


