﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LeaveTypes
@model CreateOrEditLeaveTypesModalViewModel
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLeaveTypes")) : L("CreateNewLeaveTypes")))

<div class="modal-body">
    <div id="LeaveTypesInformationsTab">
        <form name="LeaveTypesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
        <input type="hidden" name="id" value="@Model.LeaveTypes.Id" />
                        <input type="hidden" name="displayName" value="@Model.LeaveTypes.DisplayName" />

                                        <div class="form-group row">
                                            <label class="col-3 col-form-label" for="LeaveTypes_DisplayName">@L("DisplayName")</label>
                                            <div class="col-9">
                                                <input class="form-control border-dark" value="@Model.LeaveTypes.DisplayName" disabled />
                                            </div>
                                        </div> }
                                    else
                                    {
                        <div class="form-group row">
                            <label class="col-3 col-form-label" for="LeaveTypes_DisplayName">@L("DisplayName")</label>
                            <div class="col-9">
                                <input class="form-control border-dark" id="LeaveTypes_DisplayName" value="@Model.LeaveTypes.DisplayName" type="text" name="displayName" required maxlength="@MMB.ePay.Timekeeping.LeaveTypesConsts.MaxDisplayNameLength" minlength="@MMB.ePay.Timekeeping.LeaveTypesConsts.MinDisplayNameLength" />
                            </div>
                        </div>}

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveTypes_Description">@L("Description")</label>
                <div class="col-9">
                    <input class="form-control border-dark" id="LeaveTypes_Description" value="@Model.LeaveTypes.Description" type="text" name="description" required maxlength="@MMB.ePay.Timekeeping.LeaveTypesConsts.MaxDescriptionLength" minlength="@MMB.ePay.Timekeeping.LeaveTypesConsts.MinDescriptionLength" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="checkbox-list col-9">
                    <label for="LeaveTypes_WithPay" class="checkbox">
                        <input class="form-control border-dark" id="LeaveTypes_WithPay" type="checkbox" name="withPay" value="true" asp-for="LeaveTypes.WithPay" />
                        <span></span>
                        @L("WithPay")
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveTypes_AdvancedFilingInDays">@L("AdvancedFilingInDays")</label>
                <div class="col-9">
                    <input class="form-control border-dark" id="LeaveTypes_AdvancedFilingInDays" value="@Model.LeaveTypes.AdvancedFilingInDays" type="text" name="advancedFilingInDays" />
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")