﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.LeaveTypes
@using MMB.ePay.Web.Areas.App.Startup
@model LeaveTypesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Tenant.LeaveTypes;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/LeaveTypes/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("LeaveTypes")" >

        @if (IsGranted(AppPermissions.Pages_LeaveTypes_Create))
        {
        <button id="CreateNewLeaveTypesButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewLeaveTypes")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <table id="LeaveTypesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("DisplayName")</th>
                                <th>@L("Description")</th>
                                <th>@L("WithPay")</th>
                                <th>@L("AdvancedFilingInDays")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>