﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.AttendanceRequests
@model CreateOrEditAttendanceRequestsModalViewModel
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditAttendanceRequests")) : L("CreateNewAttendanceRequests")))

<div class="modal-body">
    <div id="AttendanceRequestsInformationsTab">
        <form name="AttendanceRequestsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
        <input type="hidden" name="id" value="@Model.AttendanceRequests.Id" />}

            @if (Model.AttendanceRequests.AttendanceId != null)
            {
        <input type="hidden" name="date" value="@Model.AttendanceRequests.Date" />

                        <div class="form-group row">
                            <label class="col-3 col-form-label" for="AttendanceRequests_Date">@L("Date")</label>
                            <div class="col-9">
                                <input class="form-control m-input date-picker border-dark"
                                       type="text" value="@Model.AttendanceRequests.Date" disabled />
                            </div>
                        </div> }
                    else
                    {
        <div class="form-group row">
            <label class="col-3 col-form-label" for="AttendanceRequests_Date">@L("Date")</label>
            <div class="col-9">
                <input class="form-control m-input date-picker border-dark" name="date"
                       type="text" value="@Model.AttendanceRequests.Date" />
            </div>
        </div>}

            <div class="form-group row">
                <label class="col-3 col-form-label" for="AttendanceRequests_TimeIn">@L("TimeIn")</label>
                <div class="col-9">
                    <input class="form-control m-input timepicker-picker border-dark" id="AttendanceRequests_TimeIn"
                           type="time" name="timeIn" value='@Model.AttendanceRequests.TimeIn?.ToString("HH:mm")' />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="AttendanceRequests_BreaktimeIn">@L("LunchBreaktimeIn")</label>
                <div class="col-9">
                    <input class="form-control m-input timepicker-picker border-dark" id="AttendanceRequests_BreaktimeIn"
                           type="time" name="breaktimeIn" value='@Model.AttendanceRequests.BreaktimeIn?.ToString("HH:mm")' />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="AttendanceRequests_BreaktimeOut">@L("LunchBreaktimeOut")</label>
                <div class="col-9">
                    <input class="form-control m-input timepicker-picker border-dark" id="AttendanceRequests_BreaktimeOut"
                           type="time" name="breaktimeOut" value="@Model.AttendanceRequests.BreaktimeOut?.ToString("HH:mm")" />
                </div>
            </div>

            @if (Model.HasPMBreak)
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="AttendanceRequests_PMBreaktimeIn">@L("BreaktimeIn")</label>
                    <div class="col-9">
                        <input class="form-control m-input timepicker-picker border-dark" id="AttendanceRequests_PMBreaktimeIn"
                               type="time" name="pMBreaktimeIn" value='@Model.AttendanceRequests.PMBreaktimeIn?.ToString("HH:mm")' />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="AttendanceRequests_PMBreaktimeOutt">@L("BreaktimeOut")</label>
                    <div class="col-9">
                        <input class="form-control m-input timepicker-picker border-dark" id="AttendanceRequests_PMBreaktimeOut"
                               type="time" name="pMBreaktimeOut" value="@Model.AttendanceRequests.PMBreaktimeOut?.ToString("HH:mm")" />
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="AttendanceRequests_TimeOut">@L("TimeOut")</label>
                <div class="col-9">
                    <input class="form-control m-input timepicker-picker border-dark" id="AttendanceRequests_TimeOut"
                           type="time" name="timeOut" value="@Model.AttendanceRequests.TimeOut?.ToString("HH:mm")" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="checkbox-list col-9">
                    <label for="AttendanceRequests_EarlyLogin" class="checkbox">
                        <input class="form-control border-dark" id="AttendanceRequests_EarlyLogin" type="checkbox" name="earlyLogin" value="true"
                               @Html.Raw(Model.AttendanceRequests.EarlyLogin ? "checked=\"checked\"" : "") />
                        <span></span>
                        @L("EarlyLogin")
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="AttendanceRequests_AttendanceReasonId">@L("AttendanceReasonId")</label>
                <div class="col-9">
                    <select asp-for="AttendanceRequests.AttendanceReasonId" name="attendanceReasonId" class="form-control border-dark"
                            id="AttendanceRequests_AttendanceReasonId" asp-items="Model.AttendanceReasonList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="AttendanceRequests_Remarks">@L("Remarks")</label>
                <div class="col-9">
                    <input class="form-control border-dark" id="AttendanceRequests_Remarks"
                           value="@Model.AttendanceRequests.Remarks" type="text" name="remarks" required
                           maxlength="@MMB.ePay.Timekeeping.AttendanceRequestsConsts.MaxRemarksLength"
                           minlength="@MMB.ePay.Timekeeping.AttendanceRequestsConsts.MinRemarksLength" />
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")