﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.AttendanceApprovals
@model AttendanceRemarksViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", 
    new ModalHeaderViewModel(Model.Status + " Remarks"))

<input type="hidden" name="id" value="@Model.Id" />

<div class="modal-body">
    <div id="AttendanceRequestsInformationsTab">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="col-12">
                    <textarea class="form-control border-dark" id="AttendanceRequests_Reason" name="reason" rows="3" required
                                maxlength="@MMB.ePay.Timekeeping.AttendanceRequestsConsts.MaxRemarksLength"
                                minlength="@MMB.ePay.Timekeeping.AttendanceRequestsConsts.MinRemarksLength" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold close-button" data-dismiss="modal">@L("Close")</button>
    
    <button type="button" data-id="@Model.StatusId" class="btn btn-primary status_button">
        @Model.Status
    </button>
</div>