﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.AttendanceRequests
@model AttendanceRequestsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<input type="hidden" name="id" value="@Model.AttendanceDetails.Id" />

<div class="modal-body">
    <div id="AttendanceRequestsInformationsTab">

        <div class="form-group row">
            <h6 class="col-4 col-form-label">@L("TimeLogDate") :</h6>
            <div class="col-8 col-form-label">
                @Model.AttendanceDetails.Date.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-4 col-form-label">@L("TimeIn") :</h6>
            <div class="col-8 col-form-label">
                @Model.AttendanceDetails.TimeIn?.ToString("t")
            </div>

            @if (Model.HasPMBreak)
            {
                <h6 class="col-4 col-form-label">@L("LunchBreaktimeIn") :</h6>
                <div class="col-8 col-form-label">
                    @Model.AttendanceDetails.BreaktimeIn?.ToString("t")
                </div>
                <h6 class="col-4 col-form-label">@L("LunchBreaktimeOut") :</h6>
                <div class="col-8 col-form-label">
                    @Model.AttendanceDetails.BreaktimeOut?.ToString("t")
                </div>
                <h6 class="col-4 col-form-label">@L("BreaktimeIn") :</h6>
                <div class="col-8 col-form-label">
                    @Model.AttendanceDetails.PMBreaktimeIn?.ToString("t")
                </div>
                <h6 class="col-4 col-form-label">@L("BreaktimeOut") :</h6>
                <div class="col-8 col-form-label">
                    @Model.AttendanceDetails.PMBreaktimeOut?.ToString("t")
                </div>
            }
            
            <h6 class="col-4 col-form-label">@L("TimeOut") :</h6>
            <div class="col-8 col-form-label">
                @Model.AttendanceDetails.TimeOut?.ToString("t")
            </div>
            <h6 class="col-4 col-form-label">@L("Remarks") :</h6>
            <div class="col-8 col-form-label">
                @Model.AttendanceDetails.Remarks
            </div>
            <h6 class="col-4 col-form-label">@L("Reason") :</h6>
            <div class="col-8 col-form-label">
                @Model.AttendanceDetails.Reason
            </div>
            <h6 class="col-4 col-form-label">@L("DateFiled") :</h6>
            <div class="col-8 col-form-label">
                @Model.AttendanceDetails.DateFiled.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-4 col-form-label">@L("Status") :</h6>
            <div class="col-8 col-form-label">
                @Model.AttendanceDetails.Status
            </div>
        </div>

        @if (Model.AttendanceDetails.StatusList.Select(e => e.Text).Any(e => e == "For Update" || e == "Decline"))
        {
            <div class="form-group row">
                <div class="col-12 mb-3">
                    <h6 class="col-4 col-form-label">@L("ApprovalRemarks") :</h6>
                    <div class="col-12">
                        <textarea class="form-control border-dark" id="AttendanceRequests_Reason" name="reason" rows="3" required
                                  maxlength="@MMB.ePay.Timekeeping.AttendanceRequestsConsts.MaxRemarksLength"
                                  minlength="@MMB.ePay.Timekeeping.AttendanceRequestsConsts.MinRemarksLength" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold close-button" data-dismiss="modal">@L("Close")</button>



    @foreach (var status in Model.AttendanceDetails.StatusList)
    {
        if (status.Text == "For Update" || status.Text == "Decline" || status.Text == "Cancel Request")
        {
            <button type="button" data-id="@status.Value" data-status="@status.Text" 
                class="btn btn-primary remarks_button">@status.Text</button>
        }
        else
        {
            <button type="button" data-id="@status.Value" 
                class="btn btn-primary status_button">@status.Text</button>
        }
    }
</div>