﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.AttendancePeriods
@model CreateOrEditAttendancePeriodsModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditAttendancePeriods")) : L("CreateNewAttendancePeriods")))

<div class="modal-body">
    <div id="AttendancePeriodsInformationsTab">
        <form name="AttendancePeriodsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode) { <input type="hidden" name="id" value="@Model.AttendancePeriods.Id" /> }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="AttendancePeriods_StartDate">@L("StartDate")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input date-picker" id="AttendancePeriods_StartDate" required
                        type="text" name="startDate" value="@Model.AttendancePeriods.StartDate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="AttendancePeriods_EndDate">@L("EndDate")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input date-picker" id="AttendancePeriods_EndDate" required
                        type="text" name="endDate" value="@Model.AttendancePeriods.EndDate" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="AttendancePeriods_AppMonth">@L("Year")</label>
                <div class="col-9">
                    <select asp-for="AttendancePeriods.AppYear" name="appYear" class="form-control border-dark"
                            id="AttendancePeriods_AppYear" asp-items="Model.AppYearList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveEarnings_AppMonth">@L("Month")</label>
                <div class="col-9">
                    <select asp-for="AttendancePeriods.AppMonth" name="appMonth" class="form-control border-dark"
                            id="AttendancePeriods_AppMonth" asp-items="Model.AppMonthList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="AttendancePeriods_FrequencyId">@L("Frequency")</label>
                <div class="col-9">
                    <select asp-for="AttendancePeriods.FrequencyId" name="frequencyId" class="form-control border-dark"
                            id="AttendancePeriods_FrequencyId" asp-items="Model.FrequencyList"></select>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")