﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.AttendancePeriods
@model AttendancePeriodsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="AttendancePeriodsInformationsTab">

        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("StartDate") :</h6>
            <div class="col-6 col-form-label">
                @Model.AttendancePeriods.StartDate.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-6 col-form-label">@L("EndDate") :</h6>
            <div class="col-6 col-form-label">
                @Model.AttendancePeriods.EndDate.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-6 col-form-label">@L("AppYear") :</h6>
            <div class="col-6 col-form-label">
                @Model.AttendancePeriods.AppYear
            </div>
            <h6 class="col-6 col-form-label">@L("AppMonth") :</h6>
            <div class="col-6 col-form-label">
                @Model.AttendancePeriods.AppMonth
            </div>
            <h6 class="col-6 col-form-label">@L("Posted") :</h6>
            <div class="col-6 col-form-label">
                @Model.AttendancePeriods.Posted
            </div>
            <h6 class="col-6 col-form-label">@L("Frequency") :</h6>
            <div class="col-6 col-form-label">
                @Model.AttendancePeriods.Frequency
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")