﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.AttendancePeriods
@using MMB.ePay.Web.Areas.App.Startup
@model AttendancePeriodsViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Tenant.AttendancePeriods; }
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/AttendancePeriods/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("AttendancePeriods")">

        @if (IsGranted(AppPermissions.Pages_AttendancePeriods_Create))
        {
<button id="CreateNewAttendancePeriodsButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewAttendancePeriods")</button>}
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div id="AdvacedAuditFiltersArea" class="row mb-4">
                    <div class="col-md-3">
                        <label for="FrequencyFilterId">@L("Frequency")</label>
                        <select class="form-control border-dark" name="FrequencyFilter" id="FrequencyFilterId" asp-items="Model.FrequencyList"></select>
                    </div>

                    <div class="col-md-3">
                        <label for="YearFilterId">@L("Year")</label>
                        <select class="form-control border-dark" name="YearFilter" id="YearFilterId" asp-items="Model.YearList"></select>
                    </div>

                </div>

                <div class="row align-items-center">
                    <table id="AttendancePeriodsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("StartDate")</th>
                                <th>@L("EndDate")</th>
                                <th>@L("AppYear")</th>
                                <th>@L("AppMonth")</th>
                                <th>@L("Posted")</th>
                                <th>@L("Frequency")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>