﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.Employees
@model EmployeesViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="EmployeesInformationsTab">

        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("EmployeeId") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.EmployeeId
            </label>

            <h6 class="col-6 col-form-label">@L("FullName") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.FullName
            </label>

            <h6 class="col-6 col-form-label">@L("Email") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.Email
            </label>

            <h6 class="col-6 col-form-label">@L("Address") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.Address
            </label>

            <h6 class="col-6 col-form-label">@L("Position") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.Position
            </label>

            <h6 class="col-6 col-form-label">@L("DateOfBirth") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.DateOfBirth?.ToString("MM/dd/yyyy")
            </label>

            <h6 class="col-6 col-form-label">@L("DateEmployed") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.DateEmployed?.ToString("MM/dd/yyyy")
            </label>

            <h6 class="col-6 col-form-label">@L("DateTerminated") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.DateTerminated?.ToString("MM/dd/yyyy")
            </label>

            <h6 class="col-6 col-form-label">@L("Gender") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.Gender
            </label>

            <h6 class="col-6 col-form-label">@L("EmployeeStatus") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.EmployeeStatus
            </label>

            <h6 class="col-6 col-form-label">@L("EmploymentType") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.EmploymentType
            </label>

            <h6 class="col-6 col-form-label">@L("Rank") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.Rank
            </label>

            <h6 class="col-6 col-form-label">@L("RestDay") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.RestDay
            </label>

            <h6 class="col-6 col-form-label">@L("Location") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.Location
            </label>

            <h6 class="col-6 col-form-label">@L("Frequency") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.Frequency
            </label>

            <h6 class="col-6 col-form-label">@L("ShiftType") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.ShiftType
            </label>

            <h6 class="col-6 col-form-label">@L("Overtime") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.Overtime
            </label>

            <h6 class="col-6 col-form-label">@L("Undertime") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.Undertime
            </label>

            <h6 class="col-6 col-form-label">@L("Tardy") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.Tardy
            </label>

            <h6 class="col-6 col-form-label">@L("NonSwiper") :</h6>
            <label class="col-6 col-form-label">
                @Model.Employees.NonSwiper
            </label>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")