﻿@using MMB.ePay.Web.Areas.App.Startup
@using MMB.ePay.Web.Areas.App.Models.Employees
@model ProfileEmployeesModalViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Common.Employees; }

@section Styles {
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/AuditLogs/index.css" asp-append-version="true" />
}

@section Scripts {
    <script src="/view-resources/Areas/App/Views/Employees/Profile.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <abp-page-subheader title="@L("Profile")"></abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b col-md-8">
            <div class="card-body">
                <div id="SettingsTabPanel" class="tabbable-line">

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a href="#PersonalTab" class="nav-link active" data-toggle="tab" role="tab">
                                @L("Personal")
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#TimeKeepTab" class="nav-link" data-toggle="tab" role="tab">
                                @L("TimeKeep")
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="PersonalTab" role="tabpanel">
                            <form name="EmployeesInformationsForm" role="form" novalidate class="form-validation">

                                <input type="hidden" name="id" value="@Model.Employees.Id" />

                                <div class="row mb-3 mt-5">
                                    <div class="col-sm-12 text-right">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" id="btnPersonalCancel">
                                            @L("Back")
                                        </button>
                                        <button type="button" class="btn btn-primary" id="btnPersonalSave">
                                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="form">
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_EmployeeCode">@L("EmployeeId")</label>
                                        <div class="col-9">
                                            <input class="form-control border-dark" id="Employees_EmployeeCode" value="@Model.Employees.EmployeeCode"
                                                   type="text" name="employeeCode"
                                                   required maxlength="@MMB.ePay.HR.EmployeesConsts.MaxEmployeeCodeLength"
                                                   minlength="@MMB.ePay.HR.EmployeesConsts.MinEmployeeCodeLength" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_LastName">@L("LastName")</label>
                                        <div class="col-9">
                                            <input class="form-control border-dark" id="Employees_LastName" value="@Model.Employees.LastName" type="text" name="lastName" required maxlength="@MMB.ePay.HR.EmployeesConsts.MaxLastNameLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinLastNameLength" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_FirstName">@L("FirstName")</label>
                                        <div class="col-9">
                                            <input class="form-control border-dark" id="Employees_FirstName" value="@Model.Employees.FirstName" type="text" name="firstName" required maxlength="@MMB.ePay.HR.EmployeesConsts.MaxFirstNameLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinFirstNameLength" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_MiddleName">@L("MiddleName")</label>
                                        <div class="col-9">
                                            <input class="form-control border-dark" id="Employees_MiddleName" value="@Model.Employees.MiddleName" type="text" name="middleName" maxlength="@MMB.ePay.HR.EmployeesConsts.MaxMiddleNameLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinMiddleNameLength" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_Email">@L("Email")</label>
                                        <div class="col-9">
                                            <input class="form-control border-dark" id="Employees_Email" value="@Model.Employees.Email" type="text" name="email" required maxlength="@MMB.ePay.HR.EmployeesConsts.MaxEmailLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinEmailLength" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_Email">@L("Gender")</label>
                                        <div class="radio-inline col-9">
                                            <label class="radio ">
                                                <input asp-for="Employees.Gender" name="gender" class="form-control border-dark" type="radio" value="M">
                                                <span></span>
                                                Male
                                            </label>
                                            <label class="radio radio">
                                                <input asp-for="Employees.Gender" name="gender" class="form-control border-dark" type="radio" value="F">
                                                <span></span>
                                                Female
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_DateOfBirth">@L("DateOfBirth")</label>
                                        <div class="col-9">
                                            <input class="form-control border-dark m-input date-picker" id="Employees_DateOfBirth" type="text" name="dateOfBirth" value="@Model.Employees.DateOfBirth" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_DateEmployed">@L("DateEmployed")</label>
                                        <div class="col-9">
                                            <input class="form-control border-dark m-input date-picker" id="Employees_DateEmployed" type="text" name="dateEmployed" value="@Model.Employees.DateEmployed" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_DateTerminated">@L("ResignationDate")</label>
                                        <div class="col-9">
                                            <input class="form-control border-dark m-input date-picker" id="Employees_DateTerminated" type="text" name="dateTerminated" value="@Model.Employees.DateTerminated" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_Address">@L("Address")</label>
                                        <div class="col-9">
                                            <input class="form-control border-dark" id="Employees_Address" value="@Model.Employees.Address" type="text" name="address" maxlength="@MMB.ePay.HR.EmployeesConsts.MaxAddressLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinAddressLength" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_Position">@L("Position")</label>
                                        <div class="col-9">
                                            <input class="form-control border-dark" id="Employees_Position" value="@Model.Employees.Position" type="text" name="position" maxlength="@MMB.ePay.HR.EmployeesConsts.MaxPositionLength" minlength="@MMB.ePay.HR.EmployeesConsts.MinPositionLength" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_EmployeeStatus">@L("Status")</label>
                                        <div class="col-9">
                                            <select asp-for="Employees.EmployeeStatus" class="form-control border-dark" id="Employees_EmployeeStatus"
                                                    asp-items="Model.EmployeeStatusList" name="employeeStatus"></select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_EmploymentTypeId">@L("EmploymentType")</label>
                                        <div class="col-9">
                                            <select asp-for="Employees.EmploymentTypeId" class="form-control border-dark" id="Employees_EmploymentTypeId"
                                                    asp-items="Model.EmploymentTypeList" name="employmentTypeId"></select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_Rank">@L("Rank")</label>
                                        <div class="col-9">
                                            <select asp-for="Employees.Rank" class="form-control border-dark" id="Employees_Rank"
                                                    asp-items="Model.RankList" name="rank"></select>
                                        </div>
                                    </div>


                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="TimeKeepTab" role="tabpanel">
                            <form name="EmployeeTimeInfoInformationsForm" role="form" novalidate class="form-validation">
                                <div class="row mb-3 mt-5">
                                    <div class="col-sm-12 text-right">
                                        <button type="button" class="btn btn-light-primary font-weight-bold" id="btnTimeKeepCancel">
                                            @L("Back")
                                        </button>
                                        <button type="button" class="btn btn-primary" id="btnTimeKeepSave">
                                            <i class="fa fa-save"></i> <span>@L("Save")</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="form">
                                    <input type="hidden" name="employeeId" value="@Model.Employees.Id" />

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="Employees_SwipeCode">@L("SwipeCode")</label>
                                        <div class="col-9">
                                            <input class="form-control border-dark" id="Employees_SwipeCode" value="@Model.EmployeeTimeInfo.SwipeCode" type="text" name="swipeCode" required
                                                   maxlength="@MMB.ePay.Timekeeping.EmployeeTimeInfoConsts.MaxSwipeCodeLength"
                                                   minlength="@MMB.ePay.Timekeeping.EmployeeTimeInfoConsts.MinSwipeCodeLength" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3">@L("RestDay")</label>
                                        <div class="checkbox-list col-9">
                                            <label for="EmployeeTimeInfo_Sunday" class="checkbox">
                                                <input class="form-control border-dark" id="EmployeeTimeInfo_Sunday" type="checkbox" name="sunday" value="true" asp-for="EmployeeTimeInfo.Sunday" />
                                                <span></span>
                                                @L("Sunday")
                                            </label>
                                            <label for="EmployeeTimeInfo_Monday" class="checkbox">
                                                <input class="form-control border-dark" id="EmployeeTimeInfo_Monday" type="checkbox" name="monday" value="true" asp-for="EmployeeTimeInfo.Monday" />
                                                <span></span>
                                                @L("Monday")
                                            </label>
                                            <label for="EmployeeTimeInfo_Tuesday" class="checkbox">
                                                <input class="form-control border-dark" id="EmployeeTimeInfo_Tuesday" type="checkbox" name="tuesday" value="true" asp-for="EmployeeTimeInfo.Tuesday" />
                                                <span></span>
                                                @L("Tuesday")
                                            </label>
                                            <label for="EmployeeTimeInfo_Wednesday" class="checkbox">
                                                <input class="form-control border-dark" id="EmployeeTimeInfo_Wednesday" type="checkbox" name="wednesday" value="true" asp-for="EmployeeTimeInfo.Wednesday" />
                                                <span></span>
                                                @L("Wednesday")
                                            </label>
                                            <label for="EmployeeTimeInfo_Thursday" class="checkbox">
                                                <input class="form-control border-dark" id="EmployeeTimeInfo_Thursday" type="checkbox" name="thursday" value="true" asp-for="EmployeeTimeInfo.Thursday" />
                                                <span></span>
                                                @L("Thursday")
                                            </label>
                                            <label for="EmployeeTimeInfo_Friday" class="checkbox">
                                                <input class="form-control border-dark" id="EmployeeTimeInfo_Friday" type="checkbox" name="friday" value="true" asp-for="EmployeeTimeInfo.Friday" />
                                                <span></span>
                                                @L("Friday")
                                            </label>
                                            <label for="EmployeeTimeInfo_Saturday" class="checkbox">
                                                <input class="form-control border-dark" id="EmployeeTimeInfo_Saturday" type="checkbox" name="saturday" value="true" asp-for="EmployeeTimeInfo.Saturday" />
                                                <span></span>
                                                @L("Saturday")
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="EmployeeTimeInfo_LocationId">@L("Location")</label>
                                        <div class="col-9">
                                            <select asp-for="EmployeeTimeInfo.LocationId" class="form-control border-dark" id="EmployeeTimeInfo_LocationId"
                                                    asp-items="Model.LocationList" name="locationId"></select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="EmployeeTimeInfo_FrequencyId">@L("Frequency")</label>
                                        <div class="col-9">
                                            <select asp-for="EmployeeTimeInfo.FrequencyId" class="form-control border-dark" id="EmployeeTimeInfo_FrequencyId"
                                                    asp-items="Model.FrequencyList" name="frequencyId"></select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label" for="EmployeeTimeInfo_ShiftTypeId">@L("ShiftType")</label>
                                        <div class="col-9">
                                            <select asp-for="EmployeeTimeInfo.ShiftTypeId" class="form-control border-dark" id="EmployeeTimeInfo_ShiftTypeId"
                                                    asp-items="Model.ShiftTypeList" name="shiftTypeId"></select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3">@L("Exemptions")</label>
                                        <div class="checkbox-list col-9">
                                            <label for="EmployeeTimeInfo_Overtime" class="checkbox">
                                                <input class="form-control border-dark" id="EmployeeTimeInfo_Overtime" type="checkbox" name="overtime" value="true" asp-for="EmployeeTimeInfo.Overtime" />
                                                <span></span>
                                                @L("Overtime")
                                            </label>
                                            <label for="EmployeeTimeInfo_Undertime" class="checkbox">
                                                <input class="form-control border-dark" id="EmployeeTimeInfo_Undertime" type="checkbox" name="undertime" value="true" asp-for="EmployeeTimeInfo.Undertime" />
                                                <span></span>
                                                @L("Undertime")
                                            </label>
                                            <label for="EmployeeTimeInfo_Tardy" class="checkbox">
                                                <input class="form-control border-dark" id="EmployeeTimeInfo_Tardy" type="checkbox" name="tardy" value="true" asp-for="EmployeeTimeInfo.Tardy" />
                                                <span></span>
                                                @L("Tardy")
                                            </label>
                                            <label for="EmployeeTimeInfo_Swiper" class="checkbox">
                                                <input class="form-control border-dark" id="EmployeeTimeInfo_Swiper" type="checkbox" name="nonSwiper" value="true" asp-for="EmployeeTimeInfo.NonSwiper" />
                                                <span></span>
                                                @L("NonSwiper")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>