﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EmployeeTimeInfo
@model CreateOrEditEmployeeTimeInfoModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditEmployeeTimeInfo")) : L("CreateNewEmployeeTimeInfo")))

<div class="modal-body">
    <div id="EmployeeTimeInfoInformationsTab">
        <form name="EmployeeTimeInfoInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.EmployeeTimeInfo.Id" />
            }

            <div class="form-group">
                <label for="EmployeeTimeInfo_RestDay">@L("RestDay")</label>
                <input class="form-control border-dark" id="EmployeeTimeInfo_RestDay" value="@Model.EmployeeTimeInfo.RestDay" type="text" name="restDay" maxlength="@MMB.ePay.Timekeeping.EmployeeTimeInfoConsts.MaxRestDayLength" minlength="@MMB.ePay.Timekeeping.EmployeeTimeInfoConsts.MinRestDayLength" />
            </div>

            <div class="m-checkbox-list">
                <label for="EmployeeTimeInfo_Overtime" class="kt-checkbox">
                    <input id="EmployeeTimeInfo_Overtime" type="checkbox" name="overtime" value="true" @Html.Raw(Model.EmployeeTimeInfo.Overtime ?"checked=\"checked\"":"") />
                    @L("Overtime")
                    <span></span>
                </label>
            </div>

            <div class="m-checkbox-list">
                <label for="EmployeeTimeInfo_Undertime" class="kt-checkbox">
                    <input id="EmployeeTimeInfo_Undertime" type="checkbox" name="undertime" value="true" @Html.Raw(Model.EmployeeTimeInfo.Undertime ?"checked=\"checked\"":"") />
                    @L("Undertime")
                    <span></span>
                </label>
            </div>

            <div class="m-checkbox-list">
                <label for="EmployeeTimeInfo_Tardy" class="kt-checkbox">
                    <input id="EmployeeTimeInfo_Tardy" type="checkbox" name="tardy" value="true" @Html.Raw(Model.EmployeeTimeInfo.Tardy ?"checked=\"checked\"":"") />
                    @L("Tardy")
                    <span></span>
                </label>
            </div>

            <div class="m-checkbox-list">
                <label for="EmployeeTimeInfo_NonSwiper" class="kt-checkbox">
                    <input id="EmployeeTimeInfo_NonSwiper" type="checkbox" name="nonSwiper" value="true" @Html.Raw(Model.EmployeeTimeInfo.NonSwiper ?"checked=\"checked\"":"") />
                    @L("NonSwiper")
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label for="EmployeeTimeInfo_EmployeeId">@L("EmployeeId")</label>
                <input class="form-control border-dark m-input" id="EmployeeTimeInfo_EmployeeId" value="@Model.EmployeeTimeInfo.EmployeeId.ToString(CultureInfo.InvariantCulture)" type="number" name="employeeId" />
            </div>

            <div class="form-group">
                <label for="EmployeeTimeInfo_ShiftTypeId">@L("ShiftTypeId")</label>
                <input class="form-control border-dark m-input" id="EmployeeTimeInfo_ShiftTypeId" value="@Model.EmployeeTimeInfo.ShiftTypeId?.ToString(CultureInfo.InvariantCulture)" type="number" name="shiftTypeId" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")