﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.EmployeeTimeInfo
@model EmployeeTimeInfoViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="EmployeeTimeInfoInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("RestDay") :</h6>
                @Model.EmployeeTimeInfo.RestDay
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Overtime") :</h6>
                @Model.EmployeeTimeInfo.Overtime
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Undertime") :</h6>
                @Model.EmployeeTimeInfo.Undertime
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Tardy") :</h6>
                @Model.EmployeeTimeInfo.Tardy
            </div>
            <div class="col-6 mb-3">
                <h6>@L("NonSwiper") :</h6>
                @Model.EmployeeTimeInfo.NonSwiper
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EmployeeId") :</h6>
                @Model.EmployeeTimeInfo.EmployeeId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ShiftTypeId") :</h6>
                @Model.EmployeeTimeInfo.ShiftTypeId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")