﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.EmployeeTimeInfo
@using MMB.ePay.Web.Areas.App.Startup
@model EmployeeTimeInfoViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Tenant.EmployeeTimeInfo;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/EmployeeTimeInfo/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("EmployeeTimeInfo")" description="@L(" EmployeeTimeInfoHeaderInfo")">

        @if (IsGranted(AppPermissions.Pages_EmployeeTimeInfo_Create))
        {
        <button id="CreateNewEmployeeTimeInfoButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewEmployeeTimeInfo")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="EmployeeTimeInfoTableFilter" class="form-control border-dark m-input" placeholder="@L(" SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetEmployeeTimeInfoButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="RestDayFilterId">@L("RestDay")</label>
                            <input type="text" class="form-control border-dark" name="restDayFilter" id="RestDayFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="OvertimeFilterId">@L("Overtime")</label>
                        <select class="form-control border-dark" name="OvertimeFilter" id="OvertimeFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="UndertimeFilterId">@L("Undertime")</label>
                        <select class="form-control border-dark" name="UndertimeFilter" id="UndertimeFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="TardyFilterId">@L("Tardy")</label>
                        <select class="form-control border-dark" name="TardyFilter" id="TardyFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="NonSwiperFilterId">@L("NonSwiper")</label>
                        <select class="form-control border-dark" name="NonSwiperFilter" id="NonSwiperFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinEmployeeIdFilterId">@L("MinMax") @L("EmployeeId")</label>
                            <div class="input-group">
                                <input type="number" class="form-control border-dark m-input" placeholder="@L(" MinValue")" name="minEmployeeIdFilter" id="MinEmployeeIdFilterId" />
                                <input type="number" class="form-control border-dark m-input" placeholder="@L(" MaxValue")" name="maxEmployeeIdFilter" id="MaxEmployeeIdFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinShiftTypeIdFilterId">@L("MinMax") @L("ShiftTypeId")</label>
                            <div class="input-group">
                                <input type="number" class="form-control border-dark m-input" placeholder="@L(" MinValue")" name="minShiftTypeIdFilter" id="MinShiftTypeIdFilterId" />
                                <input type="number" class="form-control border-dark m-input" placeholder="@L(" MaxValue")" name="maxShiftTypeIdFilter" id="MaxShiftTypeIdFilterId" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="EmployeeTimeInfoTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("RestDay")</th>
                                <th>@L("Overtime")</th>
                                <th>@L("Undertime")</th>
                                <th>@L("Tardy")</th>
                                <th>@L("NonSwiper")</th>
                                <th>@L("EmployeeId")</th>
                                <th>@L("ShiftTypeId")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>