﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ShiftTypeDetails
@model CreateOrEditShiftTypeDetailsModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditShiftTypeDetails")) : L("CreateNewShiftTypeDetails")))

<div class="modal-body">
    <div id="ShiftTypeDetailsInformationsTab">
        <form name="ShiftTypeDetailsInformationsForm" role="form" novalidate class="form-validation">

            <input type="hidden" name="shiftTypeId" value="@Model.ShiftTypeDetails.ShiftTypeId" />

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.ShiftTypeDetails.Id" />
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftTypeDetails_TimeIn">@L("TimeIn")</label>
                <div class="col-9">
                    <input class="form-control m-input timepicker-picker" id="ShiftTypeDetails_TimeIn"
                           type="time" name="timeIn" value="@Model.ShiftTypeDetails.TimeIn" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftTypeDetails_BreaktimeIn">@L("BreaktimeIn")</label>
                <div class="col-9">
                    <input class="form-control m-input timepicker-picker" id="ShiftTypeDetails_BreaktimeIn"
                           type="time" name="breaktimeIn" value="@Model.ShiftTypeDetails.BreaktimeIn" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftTypeDetails_BreaktimeOut">@L("BreaktimeOut")</label>
                <div class="col-9">
                    <input class="form-control m-input timepicker-picker" id="ShiftTypeDetails_BreaktimeOut"
                           type="time" name="breaktimeOut" value="@Model.ShiftTypeDetails.BreaktimeOut" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftTypeDetails_TimeOut">@L("TimeOut")</label>
                <div class="col-9">
                    <input class="form-control m-input timepicker-picker" id="ShiftTypeDetails_TimeOut"
                           type="time" name="timeout" value="@Model.ShiftTypeDetails.TimeOut" />
                </div>
            </div>

            <div id="divPrevDay" class="form-group row" style="display: none;">
                <div class="col-3"></div>
                <label class="checkbox col-9" for="ShiftTypeDetails_StartOnPreviousDay">
                    <input class="form-control" id="ShiftTypeDetails_StartOnPreviousDay" type="checkbox" name="startOnPreviousDay" value="true" asp-for="ShiftTypeDetails.StartOnPreviousDay" />
                    <span></span>
                    @L("StartOnPreviousDay")
                </label>
            </div>

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="checkbox-list col-9">
                    <label for="ShiftTypeDetails_Sunday" class="checkbox">
                        <input class="form-control" id="ShiftTypeDetails_Sunday" type="checkbox" name="sunday" value="true" asp-for="ShiftTypeDetails.Sunday" />
                        <span></span>
                        @L("Sunday")
                    </label>
                    <label for="ShiftTypeDetails_Monday" class="checkbox">
                        <input class="form-control" id="ShiftTypeDetails_Monday" type="checkbox" name="monday" value="true" asp-for="ShiftTypeDetails.Monday" />
                        <span></span>
                        @L("Monday")
                    </label>
                    <label for="ShiftTypeDetails_Tuesday" class="checkbox">
                        <input class="form-control" id="ShiftTypeDetails_Tuesday" type="checkbox" name="tuesday" value="true" asp-for="ShiftTypeDetails.Tuesday" />
                        <span></span>
                        @L("Tuesday")
                    </label>
                    <label for="ShiftTypeDetails_Wednesday" class="checkbox">
                        <input class="form-control" id="ShiftTypeDetails_Wednesday" type="checkbox" name="wednesday" value="true" asp-for="ShiftTypeDetails.Wednesday" />
                        <span></span>
                        @L("Wednesday")
                    </label>
                    <label for="ShiftTypeDetails_Thursday" class="checkbox">
                        <input class="form-control" id="ShiftTypeDetails_Thursday" type="checkbox" name="thursday" value="true" asp-for="ShiftTypeDetails.Thursday" />
                        <span></span>
                        @L("Thursday")
                    </label>
                    <label for="ShiftTypeDetails_Friday" class="checkbox">
                        <input class="form-control" id="ShiftTypeDetails_Friday" type="checkbox" name="friday" value="true" asp-for="ShiftTypeDetails.Friday" />
                        <span></span>
                        @L("Friday")
                    </label>
                    <label for="ShiftTypeDetails_Saturday" class="checkbox">
                        <input class="form-control" id="ShiftTypeDetails_Saturday" type="checkbox" name="saturday" value="true" asp-for="ShiftTypeDetails.Saturday" />
                        <span></span>
                        @L("Saturday")
                    </label>
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")