﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ShiftTypeDetails
@model ShiftTypeDetailsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ShiftTypeDetailsInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Days") :</h6>
                @Model.ShiftTypeDetails.Days
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TimeIn") :</h6>
                @Model.ShiftTypeDetails.TimeIn
            </div>
            <div class="col-6 mb-3">
                <h6>@L("BreaktimeIn") :</h6>
                @Model.ShiftTypeDetails.BreaktimeIn
            </div>
            <div class="col-6 mb-3">
                <h6>@L("BreaktimeOut") :</h6>
                @Model.ShiftTypeDetails.BreaktimeOut
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TimeOut") :</h6>
                @Model.ShiftTypeDetails.TimeOut
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ShiftTypeId") :</h6>
                @Model.ShiftTypeDetails.ShiftTypeId
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")