﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.ShiftTypeDetails
@using MMB.ePay.Web.Areas.App.Startup
@model ShiftTypeDetailsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Tenant.ShiftTypeDetails;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/ShiftTypeDetails/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("ShiftTypeDetails")" description="@L(" ShiftTypeDetailsHeaderInfo")">

        @if (IsGranted(AppPermissions.Pages_ShiftTypeDetails_Create))
        {
        <button id="CreateNewShiftTypeDetailsButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewShiftTypeDetails")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">
                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="ShiftTypeDetailsTableFilter" class="form-control m-input" placeholder="@L(" SearchWithThreeDot")" value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetShiftTypeDetailsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="DaysFilterId">@L("Days")</label>
                            <input type="text" class="form-control" name="daysFilter" id="DaysFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="TimeInFilterId">@L("TimeIn")</label>
                            <input type="text" class="form-control" name="timeInFilter" id="TimeInFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="BreaktimeInFilterId">@L("BreaktimeIn")</label>
                            <input type="text" class="form-control" name="breaktimeInFilter" id="BreaktimeInFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="BreaktimeOutFilterId">@L("BreaktimeOut")</label>
                            <input type="text" class="form-control" name="breaktimeOutFilter" id="BreaktimeOutFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="TimeOutFilterId">@L("TimeOut")</label>
                            <input type="text" class="form-control" name="timeOutFilter" id="TimeOutFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinShiftTypeIdFilterId">@L("MinMax") @L("ShiftTypeId")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minShiftTypeIdFilter" id="MinShiftTypeIdFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxShiftTypeIdFilter" id="MaxShiftTypeIdFilterId" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="ShiftTypeDetailsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("Days")</th>
                                <th>@L("TimeIn")</th>
                                <th>@L("BreaktimeIn")</th>
                                <th>@L("BreaktimeOut")</th>
                                <th>@L("TimeOut")</th>
                                <th>@L("ShiftTypeId")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>