﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ExcuseApprovals
@model CreateOrEditExcuseApprovalsModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditExcuseApprovals")) : L("CreateNewExcuseApprovals")))

<div class="modal-body">
    <div id="ExcuseApprovalsInformationsTab">
        <form name="ExcuseApprovalsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.ExcuseApprovals.Id" />
            }

            <div class="form-group">
                <label for="ExcuseApprovals_ActedBy">@L("ActedBy")</label>
                <input class="form-control border-dark m-input" id="ExcuseApprovals_ActedBy" value="@Model.ExcuseApprovals.ActedBy.ToString(CultureInfo.InvariantCulture)" type="number" name="actedBy" />
            </div>

            <div class="form-group">
                <label for="ExcuseApprovals_Remarks">@L("Remarks")</label>
                <input class="form-control border-dark" id="ExcuseApprovals_Remarks" value="@Model.ExcuseApprovals.Remarks" type="text" name="remarks" required maxlength="@MMB.ePay.Timekeeping.ExcuseApprovalsConsts.MaxRemarksLength" minlength="@MMB.ePay.Timekeeping.ExcuseApprovalsConsts.MinRemarksLength" />
            </div>

            <div class="form-group">
                <label for="ExcuseApprovals_ExcuseRequestId">@L("ExcuseRequestId")</label>
                <input class="form-control border-dark m-input" id="ExcuseApprovals_ExcuseRequestId" value="@Model.ExcuseApprovals.ExcuseRequestId.ToString(CultureInfo.InvariantCulture)" type="number" name="excuseRequestId" />
            </div>

            <div class="form-group">
                <label for="ExcuseApprovals_StatusId">@L("StatusId")</label>
                <input class="form-control border-dark m-input" id="ExcuseApprovals_StatusId" value="@Model.ExcuseApprovals.StatusId.ToString(CultureInfo.InvariantCulture)" type="number" name="statusId" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")