﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ExcuseApprovals
@model ExcuseApprovalsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<input type="hidden" name="id" value="@Model.ExcuseDetails.Id" />

<div class="modal-body">
    <div id="ExcuseApprovalsInformationsTab">
        <div class="form-group row">
            <h6 class="col-4 col-form-label">@L("Employee") :</h6>
            <div class="col-8 col-form-label">
                @Model.ExcuseDetails.Employee
            </div>
            <h6 class="col-4 col-form-label">@L("StartDate") :</h6>
            <div class="col-8 col-form-label">
                @Model.ExcuseDetails.ExcuseStart
            </div>
            <h6 class="col-4 col-form-label">@L("EndDate") :</h6>
            <div class="col-8 col-form-label">
                @Model.ExcuseDetails.ExcuseEnd
            </div>
            <h6 class="col-4 col-form-label">@L("Reason") :</h6>
            <div class="col-8 col-form-label">
                @Model.ExcuseDetails.Reason
            </div>
            <h6 class="col-4 col-form-label">@L("Remarks") :</h6>
            <div class="col-8 col-form-label">
                @Model.ExcuseDetails.Remarks
            </div>
            <h6 class="col-4 col-form-label">@L("Status") :</h6>
            <div class="col-8 col-form-label">
                @Model.ExcuseDetails.Status
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold close-button" data-dismiss="modal">@L("Close")</button>
</div>