﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ShiftApprovals
@model CreateOrEditShiftApprovalsModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditShiftApprovals")) : L("CreateNewShiftApprovals")))

<div class="modal-body">
    <div id="ShiftApprovalsInformationsTab">
        <form name="ShiftApprovalsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.ShiftApprovals.Id" />
            }

            <div class="form-group">
                <label for="ShiftApprovals_Remarks">@L("Remarks")</label>
                <input class="form-control border-dark" id="ShiftApprovals_Remarks" value="@Model.ShiftApprovals.Remarks" type="text" name="remarks" required maxlength="@MMB.ePay.Timekeeping.ShiftApprovalsConsts.MaxRemarksLength" minlength="@MMB.ePay.Timekeeping.ShiftApprovalsConsts.MinRemarksLength" />
            </div>

            <div class="form-group">
                <label for="ShiftApprovals_ActedBy">@L("ActedBy")</label>
                <input class="form-control border-dark m-input" id="ShiftApprovals_ActedBy" value="@Model.ShiftApprovals.ActedBy.ToString(CultureInfo.InvariantCulture)" type="number" name="actedBy" />
            </div>

            <div class="form-group">
                <label for="ShiftApprovals_ShiftRequestId">@L("ShiftRequestId")</label>
                <input class="form-control border-dark m-input" id="ShiftApprovals_ShiftRequestId" value="@Model.ShiftApprovals.ShiftRequestId.ToString(CultureInfo.InvariantCulture)" type="number" name="shiftRequestId" />
            </div>

            <div class="form-group">
                <label for="ShiftApprovals_StatusId">@L("StatusId")</label>
                <input class="form-control border-dark m-input" id="ShiftApprovals_StatusId" value="@Model.ShiftApprovals.StatusId.ToString(CultureInfo.InvariantCulture)" type="number" name="statusId" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")