﻿@using MMB.ePay.Timekeeping.Dtos
@using MMB.ePay.Web.Areas.App.Startup
@model ApprovalsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Tenant.ShiftApprovals;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/ShiftApprovals/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("ShiftApprovals")">
        <button id="ApprovalRequestsButton" class="btn btn-primary blue"><i class="flaticon2-open-text-book"></i> @L("ViewAllRequests")</button>
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div id="AdvacedAuditFiltersArea" class="row mb-4">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>@L("Approver")</label>
                            <select asp-for="ApproverTypeId" class="form-control border-dark" name="approverFilter" id="ApproverFilterId" asp-items="Model.ApproverTypeList"></select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@L("Frequency")</label>
                            <select class="form-control border-dark" id="FrequencyFilterId" asp-items="Model.FrequencyList"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>@L("Employee")</label>
                            <input class="form-control border-dark" type="hidden" id="EmployeeFilterId" />
                            <input class="form-control border-dark" id="EmployeeFilterName" />
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="ShiftApprovalsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <button id="ApproveAllButton" class="btn btn-success btn-sm">
                                        <i class="fas fa-check"></i>
                                        @L("ApproveAll")
                                    </button>
                                </th>
                                <th style="text-align:center;" class="select-checkbox">
                                    <input id="checkBox" type="checkbox">
                                </th>
                                <th>@L("EmployeeId")</th>
                                <th>@L("Employee")</th>
                                <th>@L("ShiftType")</th>
                                <th>@L("ShiftStart")</th>
                                <th>@L("ShiftEnd")</th>
                                <th>@L("Reason")</th>
                                <th>@L("Remarks")</th>
                                <th>@L("Status")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>