﻿@using MMB.ePay.Web.Areas.App.Models.Attendances
@using MMB.ePay.Web.Areas.App.Startup
@model AttendancesViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Tenant.AdminAttendances; }
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/AdminAttendances/Index.js" asp-append-version="true"></script>
}

<input type="hidden" value="@Model.HasPMBreak.ToString()" id="HasPMBreak" />

<div class="content d-flex flex-column flex-column-fluid">
    <abp-page-subheader title="@L("AdminAttendances")"></abp-page-subheader>
    <input type="hidden" id="EmployeeFilterId" />
    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div id="AdvacedAuditFiltersArea" class="row">
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="YearFilterId">@L("Year")</label>
                            <select class="form-control border-dark" name="year" id="YearFilterId" asp-items="Model.YearList"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="EmployeeFilterId">@L("Employee")</label>
                            <input class="form-control border-dark" id="EmployeeFilterName" type="text" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="AttendancePeriodIdFilterId">@L("Period")</label>
                            <select class="form-control border-dark" name="attendancePeriodFilter" id="AttendancePeriodFilterId" asp-items="Model.AttendancePeriodList"></select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="alert alert-custom alert-light-primary fade show" role="alert">
                            <div class="alert-text">
                                <table>
                                    <tr>
                                        <td><div style="background-color: white; width: 25px; height: 25px;"></div></td>
                                        <td>&nbsp;Regular Day &nbsp; &nbsp;</td>
                                        <td><div style="background-color: darkgray; width: 25px; height: 25px;"></div></td>
                                        <td>&nbsp;Rest Day &nbsp; &nbsp;</td>
                                        <td><div style="background-color: skyblue; width: 25px; height: 25px;"></div></td>
                                        <td>&nbsp;Holiday &nbsp; &nbsp;</td>
                                        <td><div style="background-color: coral; width: 25px; height: 25px;"></div></td>
                                        <td>&nbsp;Rest Day & Holiday</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="AttendancesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap"
                           style="margin:0 0 0 0; padding: 0 0 0 0;">
                        <thead style="margin:0 0 0 0; padding: 0 0 0 0;">
                            <tr style="margin:0 0 0 0; padding: 0 0 0 0;">
                                <th style="margin:0 0 0 0; padding: 0 0 0 0;"></th>
                                <th></th>
                                <th>@L("Date")</th>
                                <th>@L("Day")</th>
                                <th>@L("Shift")</th>
                                <th>@L("TimeIn")</th>
                                <th>@L("LunchBreaktimeIn")</th>
                                <th>@L("LunchBreaktimeOut")</th>
                                <th>@L("BreaktimeIn")</th>
                                <th>@L("BreaktimeOut")</th>
                                <th>@L("TimeOut")</th>
                                <th>@L("Remarks")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>