﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.OvertimeRequests
@model CreateOrEditOvertimeRequestsModalViewModel
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditOvertimeRequests")) : L("CreateNewOvertimeRequests")))

<div class="modal-body">
    <div id="OvertimeRequestsInformationsTab">
        <form name="OvertimeRequestsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.OvertimeRequests.Id" />
            }

            @if (Model.OvertimeRequests.OvertimeDate != null)
            {
                <input type="hidden" id="OvertimeRequests_OvertimeDate" name="overtimeDate" value="@Model.OvertimeRequests.OvertimeDate" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="AttendanceRequests_Date">@L("AttendanceDate")</label>
                    <div class="col-9">
                        <input class="form-control  border-dark m-input date-picker"
                               type="text" value="@Model.OvertimeRequests.OvertimeDate" disabled />
                        <span class="form-text text-muted">Attendance Date where overtime will be credited.</span>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="OvertimeRequests_OvertimeDate">@L("AttendanceDate")</label>
                    <div class="col-9">
                        <input class="form-control  border-dark m-input" id="OvertimeRequests_OvertimeDate" required
                               type="text" name="overtimeDate" value="@Model.OvertimeRequests.OvertimeDate" />
                        <span class="form-text text-muted">Attendance Date where overtime will be credited.</span>
                    </div>
                </div>
            }

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OvertimeRequests_StartTime">@L("StartTime")</label>
                <div class="col-9">
                    <div class="row">
                        <div id="divOvertimeStart" class="col-5" style="display:none;">
                            <input class="form-control  border-dark m-input" id="OvertimeRequests_OvertimeStart" placeholder="Date" required
                                   type="text" name="overtimeStart" value="@Model.OvertimeRequests.OvertimeStart?.ToString("MM/dd/yyyy")" />
                        </div>
                        <div class="col-5">
                            <input class="form-control  border-dark m-input time timepicker-picker" id="OvertimeRequests_StartTime" required
                                   type="time" name="startTime" value="@Model.OvertimeRequests.OvertimeStart?.ToString("HH:mm")" />
                        </div>
                    </div>

                    @*<input type="text" class="form-control  border-dark form-control  border-dark-solid datetimepicker-input" id="OvertimeRequests_OvertimeStart"
                               data-toggle="datetimepicker" data-target="#OvertimeRequests_OvertimeStart"
                               name="overtimeStart" value="@Model.OvertimeRequests.OvertimeStart?.ToString("MM/dd/yyyy HH:mm")" />

                        <input style="display:none;" class="form-control  border-dark m-input time timepicker-picker" id="OvertimeRequests_StartTime" required
                               type="time" name="startTime" value="@Model.OvertimeRequests.OvertimeStart?.ToString("HH:mm")" />*@
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OvertimeRequests_EndTime">@L("EndTime")</label>
                <div class="col-9">
                    <div class="row">
                        <div id="divOvertimeEnd" class="col-5" style="display:none;">
                            <input class="form-control  border-dark m-input" id="OvertimeRequests_OvertimeEnd" placeholder="Date" required
                                   type="text" name="overtimeEnd" value="@Model.OvertimeRequests.OvertimeEnd?.ToString("MM/dd/yyyy")" />
                        </div>
                        <div class="col-5">
                            <input class="form-control  border-dark m-input time timepicker-picker" id="OvertimeRequests_EndTime" required
                                   type="time" name="endTime" value="@Model.OvertimeRequests.OvertimeEnd?.ToString("HH:mm")" />
                        </div>
                    </div>

                    @*<input type="text" class="form-control  border-dark form-control  border-dark-solid datetimepicker-input" id="OvertimeRequests_OvertimeEnd"
                               data-toggle="datetimepicker" data-target="#OvertimeRequests_OvertimeEnd"
                               name="overtimeEnd" value="@Model.OvertimeRequests.OvertimeEnd?.ToString("MM/dd/yyyy HH:mm")" />

                        <input style="display:none;" class="form-control  border-dark m-input time timepicker-picker" id="OvertimeRequests_EndTime" required
                               type="time" name="endTime" value="@Model.OvertimeRequests.OvertimeEnd?.ToString("HH:mm")" />*@
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OvertimeRequests_OvertimeReasonId">@L("OvertimeReasonId")</label>
                <div class="col-9">
                    <select asp-for="OvertimeRequests.OvertimeReasonId" class="form-control  border-dark" id="OvertimeRequests_OvertimeReasonId"
                            asp-items="Model.OvertimeReasonList" name="overtimeReasonId"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="OvertimeRequests_Remarks">@L("Remarks")</label>
                <div class="col-9">
                    <input class="form-control  border-dark" id="OvertimeRequests_Remarks"
                           value="@Model.OvertimeRequests.Remarks" type="text" name="remarks" required
                           maxlength="@MMB.ePay.Timekeeping.OvertimeRequestsConsts.MaxRemarksLength"
                           minlength="@MMB.ePay.Timekeeping.OvertimeRequestsConsts.MinRemarksLength" />
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")