﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.AttendanceApprovals
@model CreateOrEditAttendanceApprovalsModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditAttendanceApprovals")) : L("CreateNewAttendanceApprovals")))

<div class="modal-body">
    <div id="AttendanceApprovalsInformationsTab">
        <form name="AttendanceApprovalsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.AttendanceApprovals.Id" />
            }

            <div class="form-group">
                <label for="AttendanceApprovals_ActedBy">@L("ActedBy")</label>
                <input class="form-control border-dark m-input" id="AttendanceApprovals_ActedBy" value="@Model.AttendanceApprovals.ActedBy.ToString(CultureInfo.InvariantCulture)" type="number" name="actedBy" />
            </div>

            <div class="form-group">
                <label for="AttendanceApprovals_Remarks">@L("Remarks")</label>
                <input class="form-control border-dark" id="AttendanceApprovals_Remarks" value="@Model.AttendanceApprovals.Remarks" type="text" name="remarks" required maxlength="@MMB.ePay.Timekeeping.AttendanceApprovalsConsts.MaxRemarksLength" minlength="@MMB.ePay.Timekeeping.AttendanceApprovalsConsts.MinRemarksLength" />
            </div>

            <div class="form-group">
                <label for="AttendanceApprovals_AttendanceRequestId">@L("AttendanceRequestId")</label>
                <input class="form-control border-dark m-input" id="AttendanceApprovals_AttendanceRequestId" value="@Model.AttendanceApprovals.AttendanceRequestId.ToString(CultureInfo.InvariantCulture)" type="number" name="attendanceRequestId" />
            </div>

            <div class="form-group">
                <label for="AttendanceApprovals_StatusId">@L("StatusId")</label>
                <input class="form-control border-dark m-input" id="AttendanceApprovals_StatusId" value="@Model.AttendanceApprovals.StatusId.ToString(CultureInfo.InvariantCulture)" type="number" name="statusId" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")