﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.AttendanceApprovals
@model AttendanceApprovalsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<input type="hidden" name="id" value="@Model.AttendanceDetails.Id" />

<div class="modal-body">
    <div id="AttendanceApprovalsInformationsTab">

        <div class="form-group row">
            <h6 class="col-4 col-form-label">@L("TimeLogDate") :</h6>
            <div class="col-8 col-form-label">
                @Model.AttendanceDetails.Date.ToString("MM/dd/yyyy")
            </div>
            <h6 class="col-4 col-form-label">@L("TimeIn") :</h6>
            <div class="col-8 col-form-label">
                @Model.AttendanceDetails.TimeIn?.ToString("t")
            </div>

            @if (Model.HasPMBreak)
            {
                <h6 class="col-4 col-form-label">@L("LunchBreaktimeIn") :</h6>
                <div class="col-8 col-form-label">
                    @Model.AttendanceDetails.BreaktimeIn?.ToString("t")
                </div>
                <h6 class="col-4 col-form-label">@L("LunchBreaktimeOut") :</h6>
                <div class="col-8 col-form-label">
                    @Model.AttendanceDetails.BreaktimeOut?.ToString("t")
                </div>
                <h6 class="col-4 col-form-label">@L("BreaktimeIn") :</h6>
                <div class="col-8 col-form-label">
                    @Model.AttendanceDetails.PMBreaktimeIn?.ToString("t")
                </div>
                <h6 class="col-4 col-form-label">@L("BreaktimeOut") :</h6>
                <div class="col-8 col-form-label">
                    @Model.AttendanceDetails.PMBreaktimeOut?.ToString("t")
                </div>
            }

            <h6 class="col-4 col-form-label">@L("TimeOut") :</h6>
            <div class="col-8 col-form-label">
                @Model.AttendanceDetails.TimeOut?.ToString("t")
            </div>
            <h6 class="col-4 col-form-label">@L("Remarks") :</h6>
            <div class="col-8 col-form-label">
                @Model.AttendanceDetails.Remarks
            </div>
            <h6 class="col-4 col-form-label">@L("Reason") :</h6>
            <div class="col-8 col-form-label">
                @Model.AttendanceDetails.Reason
            </div>
            <h6 class="col-4 col-form-label">@L("Status") :</h6>
            <div class="col-8 col-form-label">
                @Model.AttendanceDetails.Status
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-light-primary font-weight-bold close-button" data-dismiss="modal">@L("Close")</button>
</div>