﻿@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ShiftTypes
@model CreateOrEditShiftTypesModalViewModel
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditShiftTypes")) : L("CreateNewShiftTypes")))

<div class="modal-body">
    <div id="ShiftTypesInformationsTab">
        <form name="ShiftTypesInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.ShiftTypes.Id" />
                <input type="hidden" name="displayName" value="@Model.ShiftTypes.DisplayName" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="ShiftTypes_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control border-dark" value="@Model.ShiftTypes.DisplayName" type="text" disabled />
                    </div>
                </div> 
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="ShiftTypes_DisplayName">@L("DisplayName")</label>
                    <div class="col-9">
                        <input class="form-control border-dark" id="ShiftTypes_DisplayName"
                                value="@Model.ShiftTypes.DisplayName" type="text" name="displayName" required
                                maxlength="@MMB.ePay.Timekeeping.ShiftTypesConsts.MaxDisplayNameLength"
                                minlength="@MMB.ePay.Timekeeping.ShiftTypesConsts.MinDisplayNameLength" />
                    </div>
                </div>            
            }

            @*<div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftTypes_Description">@L("Description")</label>
                <div class="col-9">
                    <input class="form-control border-dark" id="ShiftTypes_Description" value="@Model.ShiftTypes.Description" type="text" name="description" required maxlength="@MMB.ePay.Timekeeping.ShiftTypesConsts.MaxDescriptionLength" minlength="@MMB.ePay.Timekeeping.ShiftTypesConsts.MinDescriptionLength" />
                </div>
            </div>*@

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftTypes_Flexible1">@L("Flexible1")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input" id="ShiftTypes_Flexible1" value="@Model.ShiftTypes.Flexible1?.ToString(CultureInfo.InvariantCulture)" type="number" name="flexible1" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftTypes_GracePeriod1">@L("GracePeriod1")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input" id="ShiftTypes_GracePeriod1" value="@Model.ShiftTypes.GracePeriod1?.ToString(CultureInfo.InvariantCulture)" type="number" name="gracePeriod1" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftTypes_MinimumOvertime">@L("MinimumOvertime")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input" id="ShiftTypes_MinimumOvertime" value="@Model.ShiftTypes.MinimumOvertime?.ToString(CultureInfo.InvariantCulture)" type="number" name="minimumOvertime" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftTypes_TimeIn">@L("TimeIn")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input timepicker-picker" id="ShiftTypes_TimeIn"
                           type="time" name="timeIn" value="@Model.ShiftTypes.TimeIn" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftTypes_BreaktimeIn">@L("BreaktimeIn")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input timepicker-picker" id="ShiftTypes_BreaktimeIn"
                           type="time" name="breaktimeIn" value="@Model.ShiftTypes.BreaktimeIn" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftTypes_BreaktimeOut">@L("BreaktimeOut")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input timepicker-picker" id="ShiftTypes_BreaktimeOut"
                           type="time" name="breaktimeOut" value="@Model.ShiftTypes.BreaktimeOut" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftTypes_TimeOut">@L("TimeOut")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input timepicker-picker" id="ShiftTypes_TimeOut"
                           type="time" name="timeout" value="@Model.ShiftTypes.TimeOut" />
                </div>
            </div>

            @*<div class="form-group row">
                <div class="col-3"></div>
                <label class="checkbox col-9" for="ShiftTypes_RotateShiftWeekly">
                    <input class="form-control border-dark" id="ShiftTypes_RotateShiftWeekly" type="checkbox" name="rotateShiftWeekly" value="true" asp-for="ShiftTypes.RotateShiftWeekly" />
                    <span></span>
                    @L("RotateShiftWeekly")
                </label>
            </div>*@

            <div class="form-group row">
                <div class="col-3"></div>
                <label id="lblStartOnPreviousDay" class="checkbox checkbox-disabled col-9" for="ShiftTypes_StartOnPreviousDay">
                    <input disabled="disabled" id="ShiftTypes_StartOnPreviousDay" type="checkbox" name="startOnPreviousDay" 
                           value="true" asp-for="ShiftTypes.StartOnPreviousDay" />
                    <span></span>
                    @L("StartOnPreviousDay")
                </label>
            </div>

            <div id="divDays" class="form-group row">
                <div class="col-3">@L("RotateShiftWeekly")</div>
                <div class="checkbox-list col-9">
                    <label for="ShiftTypes_Sunday" class="checkbox">
                        <input class="form-control border-dark" id="ShiftTypes_Sunday" type="checkbox" name="sunday" value="true" asp-for="ShiftTypes.Sunday" />
                        <span></span>
                        @L("Sunday")
                    </label>
                    <label for="ShiftTypes_Monday" class="checkbox">
                        <input class="form-control border-dark" id="ShiftTypes_Monday" type="checkbox" name="monday" value="true" asp-for="ShiftTypes.Monday" />
                        <span></span>
                        @L("Monday")
                    </label>
                    <label for="ShiftTypes_Tuesday" class="checkbox">
                        <input class="form-control border-dark" id="ShiftTypes_Tuesday" type="checkbox" name="tuesday" value="true" asp-for="ShiftTypes.Tuesday" />
                        <span></span>
                        @L("Tuesday")
                    </label>
                    <label for="ShiftTypes_Wednesday" class="checkbox">
                        <input class="form-control border-dark" id="ShiftTypes_Wednesday" type="checkbox" name="wednesday" value="true" asp-for="ShiftTypes.Wednesday" />
                        <span></span>
                        @L("Wednesday")
                    </label>
                    <label for="ShiftTypes_Thursday" class="checkbox">
                        <input class="form-control border-dark" id="ShiftTypes_Thursday" type="checkbox" name="thursday" value="true" asp-for="ShiftTypes.Thursday" />
                        <span></span>
                        @L("Thursday")
                    </label>
                    <label for="ShiftTypes_Friday" class="checkbox">
                        <input class="form-control border-dark" id="ShiftTypes_Friday" type="checkbox" name="friday" value="true" asp-for="ShiftTypes.Friday" />
                        <span></span>
                        @L("Friday")
                    </label>
                    <label for="ShiftTypes_Saturday" class="checkbox">
                        <input class="form-control border-dark" id="ShiftTypes_Saturday" type="checkbox" name="saturday" value="true" asp-for="ShiftTypes.Saturday" />
                        <span></span>
                        @L("Saturday")
                    </label>
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")