﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ShiftTypes
@model EditShiftTypesModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel((L("EditShiftTypes"))))

<div class="modal-body">
    <div id="ShiftTypesInformationsTab">
        <form name="ShiftTypesInformationsForm" role="form" novalidate class="form-validation">

            <input type="hidden" name="id" value="@Model.ShiftTypes.Id" />
            <input type="hidden" name="displayName" value="@Model.ShiftTypes.DisplayName" />
            <input type="hidden" name="description" value="@Model.ShiftTypes.Description" />

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftTypes_DisplayName">@L("DisplayName")</label>
                <div class="col-9">
                    <input class="form-control border-dark" value="@Model.ShiftTypes.DisplayName" type="text" disabled />
                </div>
            </div>

            @*<div class="form-group row">
                    <label class="col-3 col-form-label" for="ShiftTypes_Description">@L("Description")</label>
                    <div class="col-9">
                        <input class="form-control border-dark" id="ShiftTypes_Description" value="@Model.ShiftTypes.Description" type="text" name="description" required maxlength="@MMB.ePay.Timekeeping.ShiftTypesConsts.MaxDescriptionLength" minlength="@MMB.ePay.Timekeeping.ShiftTypesConsts.MinDescriptionLength" />
                    </div>
                </div>*@

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftTypes_Flexible1">@L("Flexible1")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input" id="ShiftTypes_Flexible1" value="@Model.ShiftTypes.Flexible1?.ToString(CultureInfo.InvariantCulture)" type="number" name="flexible1" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftTypes_GracePeriod1">@L("GracePeriod1")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input" id="ShiftTypes_GracePeriod1" value="@Model.ShiftTypes.GracePeriod1?.ToString(CultureInfo.InvariantCulture)" type="number" name="gracePeriod1" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="ShiftTypes_MinimumOvertime">@L("MinimumOvertime")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input" id="ShiftTypes_MinimumOvertime" value="@Model.ShiftTypes.MinimumOvertime?.ToString(CultureInfo.InvariantCulture)" type="number" name="minimumOvertime" />
                </div>
            </div>

            @*<div class="form-group row">
                    <div class="col-3"></div>
                    <label class="checkbox col-9" for="ShiftTypes_RotateShiftWeekly">
                        <input class="form-control border-dark" id="ShiftTypes_RotateShiftWeekly" type="checkbox" name="rotateShiftWeekly" value="true" asp-for="ShiftTypes.RotateShiftWeekly" />
                        <span></span>
                        @L("RotateShiftWeekly")
                    </label>
                </div>*@

            <div id="divAlert" style="display:none;" class="alert alert-custom alert-light-primary fade show mb-5" role="alert">
                <div class="alert-text">
                    Disabling Rotate Shift Weekly will delete all but the first shift type details.
                </div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="ki ki-close"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")