﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.ShiftTypes
@model ShiftTypesViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ShiftTypesInformationsTab">
        <div class="form-group row">
            <h6 class="col-6 col-form-label">@L("DisplayName") :</h6>
            <label class="col-6 col-form-label">
                @Model.ShiftTypes.DisplayName
            </label>
            <h6 class="col-6 col-form-label">@L("Description") :</h6>
            <label class="col-6 col-form-label">
                @Model.ShiftTypes.Description
            </label>
            <h6 class="col-6 col-form-label">@L("Flexible") :</h6>
            <label class="col-6 col-form-label">
                @Model.ShiftTypes.Flexible1
            </label>
            <h6 class="col-6 col-form-label">@L("GracePeriod") :</h6>
            <label class="col-6 col-form-label">
                @Model.ShiftTypes.GracePeriod1
            </label>
            <h6 class="col-6 col-form-label">@L("MinimumOvertime") :</h6>
            <label class="col-6 col-form-label">
                @Model.ShiftTypes.MinimumOvertime
            </label>

            <div class="col-12 col-form-label">
                <table class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>@L("TimeIn")</th>
                            <th>@L("BreaktimeIn")</th>
                            <th>@L("BreaktimeOut")</th>
                            <th>@L("TimeOut")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var detail in Model.ShiftTypes.Details)
                        {
            <tr>
                <td>@detail.TimeIn?.ToString("hh:mm tt")</td>
                <td>@detail.BreaktimeIn?.ToString("hh:mm tt")</td>
                <td>@detail.BreaktimeOut?.ToString("hh:mm tt")</td>
                <td>@detail.TimeOut?.ToString("hh:mm tt")</td>
            </tr>
}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")