﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.ShiftTypeDetails
@using MMB.ePay.Web.Areas.App.Startup
@model ShiftTypeDetailsViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Tenant.ShiftTypes; }
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/ShiftTypeDetails/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("ShiftTypeDetails")">

        @if (IsGranted(AppPermissions.Pages_ShiftTypes_Create))
        {
            <a href="~/App/ShiftTypes/" class="btn btn-secondary"><i class="fa flaticon2-left-arrow-1"></i> @L("Back")</a>
            <button id="EditShiftTypesButton" class="btn btn-primary blue"><i class="far fa-edit mr-2"></i> @L("EditShiftType")</button>
            <button id="CreateNewShiftTypeDetailsButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewShiftTypeDetails")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">

                <div id="AdvacedAuditFiltersArea" class="row mb-4">
                    <div class="col-md-3">
                        <div class="form-group">
                            <h6>@L("DisplayName")</h6>
                            @Model.ShiftTypes.DisplayName
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <h6>@L("Description")</h6>
                            @Model.ShiftTypes.Description
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <h6>@L("Status")</h6>
                            @Model.ShiftTypes.Status
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <h6>@L("Flexible")</h6>
                            @Model.ShiftTypes.Flexible1
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <h6>@L("GracePeriod")</h6>
                            @Model.ShiftTypes.GracePeriod1
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <h6>@L("MinimumOvertime")</h6>
                            @Model.ShiftTypes.MinimumOvertime
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>
                </div>

                <div class="row align-items-center">
                    <table id="ShiftTypeDetailsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("Days")</th>
                                <th>@L("TimeIn")</th>
                                <th>@L("BreaktimeIn")</th>
                                <th>@L("BreaktimeOut")</th>
                                <th>@L("TimeOut")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>