﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.ShiftTypes
@using MMB.ePay.Web.Areas.App.Startup
@model ShiftTypesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Tenant.ShiftTypes;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/ShiftTypes/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("ShiftTypes")">

        @if (IsGranted(AppPermissions.Pages_ShiftTypes_Create))
        {
        <button id="CreateNewShiftTypesButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewShiftTypes")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <table id="ShiftTypesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("DisplayName")</th>
                                <th>@L("Description")</th>
                                <th>@L("Flexible")</th>
                                <th>@L("GracePeriod")</th>
                                <th>@L("MinimumOvertime")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>