﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.Hangfire
@using MMB.ePay.Web.Areas.App.Startup
@model HangfireViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Tenant.Processes;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/Processes/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("Processes")">

        @*@if (IsGranted(AppPermissions.Pages_Holidays_Create))
        {
        <button id="CreateNewHolidaysButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewHolidays")</button>
        }*@
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div id="AdvacedAuditFiltersArea" class="row mb-4">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinDateFilterId">@L("DateRange")</label>
                            <div class="input-group">
                                <input class="form-control border-dark m-input date-picker" type="text" placeholder="@L("MinValue")" id="MinDateFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control border-dark m-input date-picker" type="text" placeholder="@L("MaxValue")" id="MaxDateFilterId">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="ProcessesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@L("Job")</th>
                                <th>@L("StateName")</th>
                                <th>@L("Arguments")</th>
                                <th>@L("CreatedAt")</th>
                                <th>@L("ExpireAt")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>