﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.TKSettings
@using MMB.ePay.Web.Areas.App.Startup
@model TKSettingsViewModel
@using MMB.ePay.Web.TagHelpers
@{
ViewBag.CurrentPageName = AppPageNames.Tenant.TKSettings;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/TKSettings/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">
<abp-page-subheader title=@L("Settings")></abp-page-subheader>
<div class="@(await GetContainerClass())">
<div class="card card-custom gutter-b">
    <form name="TKSettingsInformationsForm" role="form" novalidate class="form-validation">
        <div class="card-body">
            <div id="SettingsTabPanel" class="tabbable-line">
                <ul class="nav nav-tabs" role="tablist">
                    @for (var i = 0; i < Model.TKSettings.SectionList.Count; i++)
                    {
                        var section2 = Model.TKSettings.SectionList[i];
                        var settingsList = Model.TKSettings.SettingsList.Where(e => e.Item5.ToString() == section2.Item1);

                        if (settingsList.Count() > 0)
                        {
                            var navLinkClass = "nav-link";
                            var sectionTab = "#Setting" + section2.Item1 + "Tab";

                            if (i == 0)
                            {
                                navLinkClass += " active";
                            }

                            <li class="nav-item">
                                <a href="@sectionTab" aria-expanded="true" class="@navLinkClass" data-toggle="tab" role="tab">
                                    @section2.Item2
                                </a>
                            </li>
                        }
                    }
                </ul>

                <div class="tab-content p-10">
                    @for (var i = 0; i < Model.TKSettings.SectionList.Count; i++)
                    {
                        var section2 = Model.TKSettings.SectionList[i];
                        var settingsList = Model.TKSettings.SettingsList.Where(e => e.Item5.ToString() == section2.Item1);

                        if (settingsList.Count() > 0)
                        {
                            var tabPaneClass = "tab-pane";
                            var sectionTab = "Setting" + section2.Item1 + "Tab";

                            if (i == 0)
                            {
                                tabPaneClass += " active";
                            }

                            <div class="@tabPaneClass" id="@sectionTab" role="tabpanel">

                                @foreach (var settings in settingsList)
                                { 
                                    <div class="form-group row">
                                        @if (settings.Item2 == "datetime")
                                        {
                                            <div class="col-1"></div>
                                            <label class="col-2 col-form-label" for="ShiftRequests_ShiftStart">@settings.Item3</label>
                                            <div class="col-6">
                                                <input class="form-control border-dark m-input date-picker"  data-id="@settings.Item1"
                                                    value="@settings.Item4" name="tksettings" type="text" required />
                                            </div>
                                            
                                        }
                                        else if (settings.Item2 == "string" || settings.Item2 == "int")
                                        {
                                            <div class="col-1"></div>
                                            <label class="col-2 col-form-label" for="ShiftRequests_ShiftStart">@settings.Item3</label>
                                            <div class="col-6">
                                                <input class="form-control border-dark" data-id="@settings.Item1"
                                                    value="@settings.Item4" name="tksettings" type="text" required />
                                            </div>
                                        }
                                        else if (settings.Item2 == "time")
                                        {
                                            <div class="col-1"></div>
                                            <label class="col-2 col-form-label" for="ShiftRequests_ShiftStart">@settings.Item3</label>
                                            <div class="col-6">
                                                <input class="form-control border-dark " data-id="@settings.Item1"
                                                       value="@settings.Item4" name="tksettings" type="time" required />
                                            </div>
                                        }
                                        else if (settings.Item2 == "bool")
                                        {
                                            var isChecked = "checked";

                                            if (settings.Item4 == "false")
                                            {
                                                isChecked = "";
                                            }

                                            <div class="col-3"></div>
                                            <div class="col-6">
                                                <label class="checkbox">
                                                    <input class="form-control border-dark" data-id="@settings.Item1"
                                                           type="checkbox" name="tksettings" value="true" @isChecked />
                                                    <span></span>
                                                    @settings.Item3
                                                </label>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                            }
                        
                        }
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <button type="button" id="saveBtn" class="btn btn-success float-right"><i class="fa fa-save"></i> @L("Save")</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
</div>