﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LeaveEarnings
@model CreateOrEditLeaveEarningsModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLeaveEarnings")) : L("CreateNewLeaveEarnings")))

@*<script src="~/assets/jquery-ui-1.12.1/jquery-ui.js"></script>*@
<div class="modal-body ui-front">
    <div id="LeaveEarningsInformationsTab">
        <form name="LeaveEarningsInformationsForm" role="form" novalidate class="form-validation">

            <input type="hidden" id="LeaveEarnings_EmployeeId" name="employeeId" value="@Model.LeaveEarnings.EmployeeId" />

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.LeaveEarnings.Id" />

                <div class="form-group row">
                    <label class="col-3 col-form-label" for="LeaveEarnings_EmployeeId">@L("Employee")</label>
                    <div class="col-9">
                        <input disabled class="form-control border-dark" value="@Model.LeaveEarnings.Employee" />
                    </div>
                </div> 
            }
            else
            {
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="LeaveEarnings_EmployeeId">@L("Employee")</label>
                    <div class="col-9">
                        <input class="form-control border-dark" id="EmployeeFilterId" value="@Model.LeaveEarnings.Employee" />
                    </div>
                </div>
            }

            @*<div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveEarnings_EmployeeId">@L("Employee")</label>
                <div class="col-9">
                    <select asp-for="LeaveEarnings.EmployeeId" name="employeeId" class="form-control border-dark"
                        id="LeaveEarnings_EmployeeId" asp-items="Model.EmployeeList"></select>
                </div>
            </div>*@

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveEarnings_LeaveTypeId">@L("LeaveType")</label>
                <div class="col-9">
                    <select asp-for="LeaveEarnings.LeaveTypeId" name="leaveTypeId" class="form-control border-dark"
                            id="LeaveEarnings_LeaveTypeId" asp-items="Model.LeaveTypeList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveEarnings_Date">@L("Date")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input date-picker" id="LeaveEarnings_Date" type="text" name="date" value="@Model.LeaveEarnings.Date" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveEarnings_Earned">@L("Earned")</label>
                <div class="col-9">
                    <input class="form-control border-dark" id="LeaveEarnings_Earned" value="@Model.LeaveEarnings.Earned" type="number" name="earned" required />
                </div>
            </div>

            @*<div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveEarnings_ValidFrom">@L("ValidFrom")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input date-picker" id="LeaveEarnings_ValidFrom" type="text" name="validFrom" value="@Model.LeaveEarnings.ValidFrom" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveEarnings_ValidTo">@L("ValidTo")</label>
                <div class="col-9">
                    <input class="form-control border-dark m-input date-picker" id="LeaveEarnings_ValidTo" type="text" name="validTo" value="@Model.LeaveEarnings.ValidTo" />
                </div>
            </div>*@

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveEarnings_AppMonth">@L("Month")</label>
                <div class="col-9">
                    <select asp-for="LeaveEarnings.AppMonth" name="appMonth" class="form-control border-dark"
                            id="LeaveEarnings_AppMonth" asp-items="Model.AppMonthList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveEarnings_AppYear">@L("Year")</label>
                <div class="col-9">
                    <select asp-for="LeaveEarnings.AppYear" name="appYear" class="form-control border-dark"
                            id="LeaveEarnings_AppYear" asp-items="Model.AppYearList"></select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-3 col-form-label" for="LeaveEarnings_Remarks">@L("Remarks")</label>
                <div class="col-9">
                    <input class="form-control border-dark" id="LeaveEarnings_Remarks" value="@Model.LeaveEarnings.Remarks" type="text" name="remarks" required
                           maxlength="@MMB.ePay.Timekeeping.LeaveEarningsConsts.MaxRemarksLength"
                           inlength="@MMB.ePay.Timekeeping.LeaveEarningsConsts.MinRemarksLength" />
                </div>
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")