﻿@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LeaveEarnings
@*@model UploadLeaveEarningsModalViewModel*@

@using Abp.Configuration;
@using MMB.ePay
@using MMB.ePay.Configuration

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("UploadLeaveEarnings")))

@*action="@Url.Action("Test", "LeaveEarnings")">*@


<div class="modal-body">
    <form id="UploadLeaveEarningsModalForm" method="POST"
          action="@(ApplicationPath + "App/LeaveEarnings/Upload")">

        <div class="form-group">
            <input name="LeaveEarningsFile" type="file" />
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
