﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LeaveEarnings
@model LeaveBalancesViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="LeaveEarningsInformationsTab">

        @if (Model.LeaveBalanceRequestList.Count == 0)
        {
            <h6>NO LEAVE REQUESTS</h6>
        }
        else
        {
            <div class="row">
                <div class="col-12 mb-3">
                    <h6>@Model.LeaveBalanceRequestList.Select(e => e.Employee).First()</h6>
                </div>
            </div>
            <table class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                <thead>
                    <tr>
                        <th>@L("Date")</th>
                        <th>@L("Earned")</th>
                        <th>@L("Used")</th>
                        <th>@L("Remarks")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var leaveBalance in Model.LeaveBalanceRequestList)
                    {
                        <tr>
                            <td>@leaveBalance.Date.ToString("MM/dd/yyyy")</td>
                            <td>@leaveBalance.Earned?.ToString("0.00")</td>
                            <td>@leaveBalance.Used?.ToString("0.00")</td>
                            <td>@leaveBalance.Remarks</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td><b>Total</b></td>
                        <td><b>@Model.LeaveBalanceRequestList.Sum(e => e.Earned)</b></td>
                        <td><b>@Model.LeaveBalanceRequestList.Sum(e => e.Used)</b></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        }

        @*@foreach(var leaveBalance in Model.LeaveBalanceRequestList)
        {
            <div class="row">
                <div class="col-12 mb-3">
                    <h6>Date</h6>
                    @leaveBalance.Date
                </div>
                <div class="col-12 mb-3">
                    <h6>Days</h6>
                    @leaveBalance.Days
                </div>
            </div>
        }*@


        @*<div class="row">

            <div class="col-12 mb-3">
                <h6>@L("Employees") :</h6>
                @Model.LeaveEarnings.Employees
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Date") :</h6>
                @Model.LeaveEarnings.Date.ToString("MM/dd/yyyy")
            </div>
            <div class="col-6 mb-3">
                <h6>@L("AppYear") :</h6>
                @Model.LeaveEarnings.AppYear
            </div>
            <div class="col-6 mb-3">
                <h6>@L("AppMonth") :</h6>
                @Model.LeaveEarnings.AppMonth
            </div>
            <div class="col-6 mb-3">
                <h6>@L("TotalEarned") :</h6>
                @Model.LeaveEarnings.TotalEarned
            </div>
            <div class="col-6 mb-3">
                <h6>@L("LeaveType") :</h6>
                @Model.LeaveEarnings.LeaveType
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Remarks") :</h6>
                @Model.LeaveEarnings.Remarks
            </div>
        </div>*@

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")