﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.LeaveEarnings
@model LeaveEarningsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="LeaveEarningsInformationsTab">

        <input id="LeaveEarningId" type="hidden" value="@Model.LeaveEarnings.Id" />

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Date") :</h6>
                @Model.LeaveEarnings.Date.ToString("MM/dd/yyyy")
            </div>
            <div class="col-6 mb-3">
                <h6>@L("AppYear") :</h6>
                @Model.LeaveEarnings.AppYear
            </div>
            <div class="col-6 mb-3">
                <h6>@L("AppMonth") :</h6>
                @Model.LeaveEarnings.AppMonth
            </div>
            <div class="col-6 mb-3">
                <h6>@L("LeaveType") :</h6>
                @Model.LeaveEarnings.LeaveType
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Remarks") :</h6>
                @Model.LeaveEarnings.Remarks
            </div>
        </div>
        <div class="row">
            <table id="LeaveEarningDetailsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                <thead>
                    <tr>
                        @*<th></th>*@
                        <th>@L("Employee")</th>
                        <th>@L("Earned")</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")