﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.LeaveEarnings
@using MMB.ePay.Web.Areas.App.Startup
@model LeaveEarningsViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Tenant.LeaveEarnings; }
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/LeaveEarnings/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("LeaveEarnings")">

        @if (IsGranted(AppPermissions.Pages_LeaveEarnings_Create))
        {
            <div class="btn-group" role="group">
                <button id="btnGroupDrop2" type="button" class="btn btn-success font-weight-bold dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @L("ExcelOptions")
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <button class="dropdown-item" id="UploadLeaveEarningsButton">Upload Leave Earnings</button>
                    <a asp-action="LeaveEarningsTemplate" class="dropdown-item">Download Template</a>
                </div>
            </div>
            @:&nbsp;
            @:&nbsp;
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary font-weight-bold dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @L("CreateNewLeaveEarnings")
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <button class="dropdown-item" id="CreateNewLeaveEarningsButton">For One Employee</button>
                    <button class="dropdown-item" id="CreateNewMultiLeaveEarningsButton">For All Regular Employees</button>
                </div>
            </div>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div id="AdvacedAuditFiltersArea" class="row mb-4">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="AppYearFilterId">@L("Year")</label>
                            <select class="form-control border-dark" name="AppYearFilter" id="AppYearFilterId" asp-items="Model.AppYearList"></select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="AppMonthFilterId">@L("Month")</label>
                            <select class="form-control border-dark" name="AppMonthFilter" id="AppMonthFilterId" asp-items="Model.AppMonthList"></select>
                        </div>
                    </div>

                </div>
                <div class="row align-items-center">
                    <table id="LeaveEarningsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("Date")</th>
                                <th>@L("AppYear")</th>
                                <th>@L("AppMonth")</th>
                                <th>@L("LeaveType")</th>
                                <th>@L("EmployeeCount")</th>
                                <th>@L("TotalEarned")</th>
                                <th>@L("Remarks")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>