﻿@using MMB.ePay.Authorization
@using MMB.ePay.Web.Areas.App.Models.LeaveEarnings
@using MMB.ePay.Web.Areas.App.Startup
@model LeaveBalancesViewModel
@{ ViewBag.CurrentPageName = AppPageNames.Tenant.LeaveBalances; }
@section Scripts
{
    <script src="/view-resources/Areas/App/Views/LeaveEarnings/LeaveBalances.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("LeaveBalances")">
        <button id="BackButton" class="btn btn-primary blue"><i class="flaticon-paper-plane"></i> @L("LeaveRequests")</button>
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div id="AdvacedAuditFiltersArea" class="row mb-4">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="AppYearFilterId">@L("Year")</label>
                            <select class="form-control border-dark" name="AppYearFilter" id="AppYearFilterId" asp-items="Model.AppYearList"></select>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="LeaveBalancesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>@L("LeaveType")</th>
                                <th>@L("Earned")</th>
                                <th>@L("Used")</th>
                                <th>@L("Balance")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>