﻿
@{ Layout = ""; }

<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
</head>
<body>
    <table class='table striped invoice-box'>
        <thead>
            <tr>

                <th>Employee ID</th>
                <th>Earned</th>
                <th>Leave Type</th>
                <th>Date</th>
                <th>App Year</th>
                <th>App Month</th>
                <th>Remarks</th>

            </tr>
        </thead>
    </table>
    <div style='page-break-after: always;'>
    </div>
</body>
</html>
