﻿
@using System.Globalization
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.GroupSettings
@model CreateOrEditGroupSettingsModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditGroupSettings")) : L("CreateNewGroupSettings")))

<div class="modal-body">
    <div id="GroupSettingsInformationsTab">
        <form name="GroupSettingsInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.GroupSettings.Id" />
            }

            <div class="form-group">
                <label for="GroupSettings_DisplayName">@L("DisplayName")</label>
                <input class="form-control border-dark" id="GroupSettings_DisplayName" value="@Model.GroupSettings.DisplayName" type="text" name="displayName" required maxlength="@MMB.ePay.HR.GroupSettingsConsts.MaxDisplayNameLength" minlength="@MMB.ePay.HR.GroupSettingsConsts.MinDisplayNameLength" />
            </div>

            <div class="form-group">
                <label for="GroupSettings_OrderNo">@L("OrderNo")</label>
                <input class="form-control border-dark m-input" id="GroupSettings_OrderNo" value="@Model.GroupSettings.OrderNo.ToString(CultureInfo.InvariantCulture)" type="number" name="orderNo" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")