﻿
@using MMB.ePay.Web.Areas.App.Models.Common.Modals
@using MMB.ePay.Web.Areas.App.Models.GroupSettings
@model GroupSettingsViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="GroupSettingsInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("DisplayName") :</h6>
                @Model.GroupSettings.DisplayName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("OrderNo") :</h6>
                @Model.GroupSettings.OrderNo
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")