﻿@using MMB.ePay.Web.Areas.App.Models.SpeedTest
@using MMB.ePay.Web.Areas.App.Startup
@model SpeedTestViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Host.SpeedTest;
}
@section Scripts
{
<script src="/view-resources/Areas/App/Views/SpeedTest/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title="@L("SpeedTest")">
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row align-items-center">
                    <table id="SpeedTestTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th></th>
                                <th>@L("DisplayName")</th>
                                <th>@L("Date")</th>
                                <th>@L("Location")</th>
                                <th>@L("HolidayType")</th>
                                <th>@L("HalfDay")</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>