﻿@using System.Globalization
@using Abp.AspNetZeroCore.Timing
@using Abp.Web.Security.AntiForgery
@using CultureHelper = MMB.ePay.Localization.CultureHelper
@model MMB.ePay.Web.Models.Install.InstallViewModel
@inject AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aion Installation</title>

    <link rel="shortcut icon" href="~/favicon.ico"/>
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/vendors.bundle.css" asp-append-version="true"/>
    <link rel="stylesheet" href="/metronic/themes/default/css/style.bundle.css" asp-append-version="true"/>
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/app-layout-libs.css" asp-append-version="true"/>
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/common-styles.css" asp-append-version="true"/>

    @if (CultureHelper.IsRtl)
    {
        <link rel="stylesheet" href="/Common/Styles/abp-zero-template-rtl.css" asp-append-version="true"/>
    }

    <link rel="stylesheet" abp-href="/view-resources/Views/Install/Index.css" asp-append-version="true"/>
</head>
<body class="page-fixed header-static">

<div class="content">

    <div class="container container-fluid">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="card-label">
                        ePay Installation
                    </h3>
                </div>
            </div>
            <form id="installForm" class="form">
                <div class="card-body">
                    <div class="form-section">
                        <h5 class="font-size-lg text-dark font-weight-bold mb-6">
                            Connection String
                        </h5>
                        <div class="form-group">
                            <input type="text" class="form-control" name="connectionString" autocomplete="new-password" placeholder="Connection string" required>
                        </div>
                        <div class="separator separator-dashed my-5"></div>
                        <h5 class="font-size-lg text-dark font-weight-bold mb-6">
                            Admin Password
                        </h5>
                        <div class="form-group">
                            <input type="password" class="form-control" id="adminPassword" name="adminPassword" autocomplete="new-password" placeholder="Admin password" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="adminPasswordRepeat" name="adminPasswordRepeat" autocomplete="new-password" placeholder="Admin password again" required>
                        </div>
                        <div class="separator separator-dashed my-5"></div>
                        <h5 class="font-size-lg text-dark font-weight-bold mb-6">
                            Web Site Url
                        </h5>
                        <div class="form-group">
                            <input type="text" class="form-control" name="webSiteUrl" value="@Model.AppSettingsJson.WebSiteUrl" placeholder="Web site URL">
                        </div>
                        <div class="separator separator-dashed my-5"></div>
                        <h5 class="font-size-lg text-dark font-weight-bold mb-6">
                            Default Language
                        </h5>
                        <div class="form-group">
                            <select class="form-control" name="defaultLanguage">
                                @foreach (var language in Model.Languages)
                                {
                                    <option value="@language.Name">@language.DisplayName</option>
                                }
                            </select>
                        </div>
                        <div class="separator separator-dashed my-5"></div>
                        <h5 class="font-size-lg text-dark font-weight-bold mb-6">
                            SMTP Settings
                        </h5>
                        <div class="form-group">
                            <input type="text" class="form-control" name="defaultFromAddress" placeholder="Default from address">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="defaultFromDisplayName" placeholder="Default from displayName">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="smtpHost" placeholder="SMTP host">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control edited" name="smtpPort" value="" placeholder="SMTP port">
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12"></label>
                            <div class="checkbox-inline">
                                <label class="checkbox checkbox-outline">
                                    <input id="Settings_SmtpEnableSsl" type="checkbox" name="smtpEnableSsl" value="true">
                                    <span></span>
                                    UseSsl
                                </label>
                                <label class="checkbox checkbox-outline">
                                    <input id="Settings_SmtpUseDefaultCredentials" type="checkbox" name="smtpEnableSsl" value="true">
                                    <span></span>
                                    Use Default Credentials
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control edited" name="smtpDomain" placeholder="Domain name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control edited" name="smtpUserName" placeholder="User name">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control edited" name="smtpPassword" id="SmtpPassword" placeholder="Password" autocomplete="new-password">
                        </div>
                        <div class="separator separator-dashed my-5"></div>
                        <h5 class="font-size-lg text-dark font-weight-bold mb-6">
                            Invoice Info
                        </h5>
                        <div class="form-group">
                            <input type="text" class="form-control" name="legalName" placeholder="Legal name">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="billAddress" rows="5" placeholder="Address"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button id="SaveButton" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script abp-src="/view-resources/Areas/App/Views/_Bundles/app-layout-libs.js" asp-append-version="true"></script>
<script abp-src="/view-resources/Areas/App/Views/_Bundles/scripts.bundle.js" asp-append-version="true"></script>

<!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
<script src="/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>

<script type="text/javascript">
    abp.localization.currentCulture = $.extend({},
        abp.localization.currentCulture,
        { displayNameEnglish: '@CultureInfo.CurrentUICulture.EnglishName' });
    </script>

<script abp-src="/view-resources/Areas/App/Views/_Bundles/install-page-scripts.js" asp-append-version="true"></script>
<script abp-src="/view-resources/Views/Install/Index.js" asp-append-version="true"></script>
</body>
</html>
